<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Factoraje</h2>
      <form class="text-center wd-700 mx-auto mb-4" @submit.prevent="submitForm">
        <div>
          <div class="form-row form-uppercase">
            <div class="col-md-12 form-group">
              <div class="select position-relative dropdown-toggle">
                <select class="form-control" v-model="line" required>
                  <option disabled value="">Seleccione línea de crédito a utilizar</option>
                  <option v-for="(acc, i) in (lines.rows)" :key="i" :value="acc">
                    {{ currency[acc.currency][0]+' '+acc.account+' '+acc.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
                <span>Disponible</span>
                <span>{{ line.available | currency({symbol: currencySymbol[line.currency]})}}</span>
              </span>
            </div>
            <div class="col-md-6 form-group">
              <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
                <span>Reserva</span>
                <span>{{ line.reserved | currency({symbol: currencySymbol[line.currency]})}}</span>
              </span>
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" placeholder="Monto a solicitar" v-model="amount" required min="1">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="Abastecedor" v-model="abastecedor" required>
            </div>
            
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="No. de cotización/referencia" v-model="number" required>
            </div>
            <div class="col-md-6 form-group position-relative">
              <img src="./../../../../assets/images/icons/icon-calendar.svg" alt="" width="22" class="icon-calendar">
              <v-date-picker
                class="form-control"
                :min="nowDate"
                v-model="date"  :popover="{ placement: 'bottom', visibility: 'click' }" 
                :input-props="{
                  placeholder: 'Fecha de vencimiento'
                }">
              </v-date-picker>
            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control text-uppercase" rows="2"  placeholder="Descripción" v-model="description" required></textarea>
            </div>
            <div class="col-12 text-danger" v-if="message">
              {{ message }}
            </div>
            <div class="col-12 form-group text-right">
              <button class="btn btn-primary" type="submit" v-if="message == ''">Solicitar</button>
            </div>
          </div>
        </div>
      </form>
      
      <div class="mt-4 mb-4">
        <h4 class="text-uppercase text-center subtitle">Historial</h4>
        <table-selectable-inv :id="'table-factoring'" :loading="history.loading" 
          :header="history.header" 
          :rows="history.rows" 
          :show="history.show"
          :formatDate="history.formatDate"
          :formatCurrency="history.formatCurrency"
          :message="history.message">
        </table-selectable-inv>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  
  data() {
    return {
      nowDate: new Date().toJSON(),
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      currency: {
        QUE: 'GTQ',
        US$: 'USD'
      },
      accounts: {
        loading: true,
        data: []
      },
      history: {
        loading: true,
        header: ['Fecha', 'Transacción', 'Descripción', 'Abastecedor', 'Monto'],
        show: ['date', 'id', 'description', 'provider', 'amount'],
        formatCurrency: ['amount'],
        formatDate: [],
        message: 'No tienes transacciones realizadas',
        rows: []
      },
      description: '',
      line: '',
      lines: {
        loading: true,
        rows: [],
        message: ''
      },
      available:'',
      reserved:'',
      number: '',
      date: '',
      amount: '',
      abastecedor: '',
      message:''
    }
  },
  watch: {
    date(val){
      let d = new Date(val).getTime();
      let today = new Date().getTime();
      if (d < today){
        this.message = 'Selecciona una fecha posterior a la fecha actual.'
      } else {
        this.message = '';
      }
    }
  },
  created() {
    if (this.$route.params.amount) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.loadFactoringHistory();
      this.loadFactoringLines();
    }
  },
  computed: {
    formConfirmar() {
      let date = new Date(this.date).toISOString().slice(0,10).split('-').reverse().join('-');
      return {
        apiUrl: '/api/management/enterprise/factoring/request',
        dataApi: {
          description: this.description,
          amount: this.amount,
          account: this.line.account,
          provider: this.abastecedor,
          reference: this.number,
          endDate: date.split('-').reverse().join('-')
        },
        backButton: 'EmpresaFactoraje',
        backButtonParams: this.$data,
        finish: 'EmpresaFactorajeRealizada',
        title: 'Confirmar Solicitud de Factoraje',
        col1: [
          {
            name: 'Monto',
            value: this.amount,
            currency: this.currencySymbol[this.line.currency]
          },
          {
            name: 'Abastecedor',
            value: this.abastecedor
          },
          {
            name: 'Línea de crédito',
            value: this.currency[this.line.currency][0]+' '+this.line.account+' '+this.line.name
          },
          {
            name: 'Disponible',
            value: this.line.available,
            currency: this.currencySymbol[this.line.currency]
          } 
        ],
        col2: [
          {
            name: 'Reservado',
            value: this.line.reserved,
            currency: this.currencySymbol[this.line.currency]
          },
          {
            name: 'No. de cotización',
            value: this.number
          },
          {
            name: 'Fecha de vencimiento',
            value: date,
          },
          {
            name: 'Descripción',
            value: this.description,
          }
        ]
      }
    }
  },
  methods: {
    loadFactoringHistory() {
      axios.get('/api/management/enterprise/factoring/list').then( resp => {
        if (resp.data.message){
          this.history.message = resp.data.message
        } else {
          this.history.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.history.loading = false;
      });
    },
    loadFactoringLines(){
      axios.get('/api/management/enterprise/factoring/lines').then( resp => {
        console.log(resp)
        if (resp.data.message){
          this.lines.message = resp.data.message
        } else {
          this.lines.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.lines.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'EmpresaFactorajeConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>
<style scoped>
  .icon-calendar{
    position: absolute;
    right: 0;
    margin-right: 30px;
    top: 0;
    margin-top: 11px;
    pointer-events: none;
  }
</style>