<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">A cuentas de terceros</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <router-link  to="/persona/transferencias/cuenta-de-terceros/agregar" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-plus.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Agregar <br>cuenta</span>
            </router-link>
          </div>
        </div>
      </div>
      
      <table-inv :id="'table-savings'" :loading="accounts.loading" 
        :header="accounts.header" 
        :rows="accounts.rows" 
        :show="accounts.show"
        :formatDate="[]"
        :formatCurrency="[]"
        :options="accounts.options"
        :message="accounts.message">
      </table-inv>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      accounts: {
        loading: true,
        header: ['Moneda', 'No. de cuenta', 'Tipo', 'Nombre', 'Referencia', 'Opciones'],
        show: ['currency', 'number', 'typeDesc', 'name', 'alias'],
        message: 'No tienes cuentas a terceros asociadas',
        options: [
          { name: "Transferir", component: "PersonaTransferenciasCuentaDeTercerosTransferir" },
          { name: "Editar", component: "PersonaTransferenciasCuentaDeTercerosEditar" },
          { name: "Eliminar", component: "PersonaTransferenciasCuentaDeTercerosEliminarConfirmar", params: {
            title: 'Confirmar Eliminar Cuenta de Terceros',
            apiUrl: '/api/transfers/others/delete-account',
            backButton: 'PersonaTransferenciasCuentaDeTerceros',
            finish: 'PersonaTransferenciasCuentaDeTercerosEliminarRealizada'
          }}
        ],
        rows: []
      },
    }
  },
  created() {
    this.loadAccounts();
  },
  methods: {
    loadAccounts() {
      axios.get('/api/transfers/others/associated-accounts').then( resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        } else {
          console.log(resp)
          this.accounts.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.loading = false;
      });
    }
  }
}
</script>