<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Editar cuenta de terceros INV</h2>
      
      <form class="text-center wd-360 mx-auto" @submit="submitForm">
        <div class="form-row form-uppercase">
          <div class="col-12 form-group">
            <input type="text" class="form-control" placeholder="Número de cuenta" v-model="account.number">
          </div>
          <div class="col-12 form-group">
            <input type="text" class="form-control" placeholder="Referencia" v-model="account.alias">
          </div>
          <div class="col-12 form-group text-center">
            <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}">
              <div class="ld ld-ring ld-spin"></div>Editar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return {
      running: false,
      account: this.$route.params
    }
  },
  created() {
    if (this.$route.params.account) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      if (!this.$route.params.alias){
        this.$router.push({
          name: 'PersonaTransferenciasCuentaDeTerceros'
        })
      }
    }
  },
  computed: {
    formConfirmar() {
      return {
        apiUrl: '/api/transfers/others/update-account',
        dataApi: {
          account: this.account.number,
          alias: this.account.alias
        },
        backButton: 'PersonaTransferenciasCuentaDeTercerosEditar',
        backButtonParams: {
          account: this.account
        },
        finish: 'PersonaTransferenciasCuentaDeTercerosEditarRealizada',
        title: 'Confirmar Editar Cuenta de Terceros',
        col1: [
          {
            name: 'Cuenta',
            value: this.account.number,
          },
          {
            name: 'Nombre',
            value: this.account.name,
          },
          {
            name: 'Moneda',
            value: this.account.currency
          },
          {
            name: 'Tipo',
            value: this.account.typeDesc,
          },
          {
            name: 'Referencia',
            value: this.account.alias
          }          
        ]
      }
    }
  },
  methods: {
    submitForm() {
      this.$router.push({
        name: 'PersonaTransferenciasCuentaDeTercerosEditarConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>