<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Préstamos</h2>
      <div id="prestamos">
        <table-selectable-inv :id="'table-loans'" :loading="loans.loading"
          :header="loans.header" 
          :rows="loans.rows" 
          :show="loans.show"
          :formatDate="[]"
          :formatCurrency="loans.formatCurrency"
          :routeName="'PersonaPagosPrestamosDetalle'"
          :message="loans.message">
        </table-selectable-inv>
      </div>
      
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      account: '',
      loan: '',
      amount: '',
      comments: '',
      accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: [],
          destinationAccounts: []
        }
      },
      loans: {
        loading: true,
        header: ['Id', 'Nombre', 'Moneda', 'Saldo Capital'],
        show: ['id', 'name', 'currency', 'balance'],
        formatCurrency: ['balance'],
        message: 'No tienes préstamos asociados',
        rows: []
      },
      loansInfo: {
        loading: false,
        message: '',
        data: []
      },
      loansQuote: {
        loading: false,
        message: '',
        data: []
      },
      rate: {
        buy: JSON.parse(localStorage['inv.user']).rate_buy,
        sell: JSON.parse(localStorage['inv.user']).rate_sell
      }
    }
  },
  created() {
    this.loadLoans();
  },
  methods: {
    loadLoans() {
      axios.get('/api/accounts/loans').then( resp => {
        if (resp.data.message){
          this.loans.message = resp.data.message
        } else {
          this.loans.rows = resp.data.loans;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loans.loading = false;
      });
    }
  }
}
</script>