<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Transferir a Otros Bancos Locales</h2>
      
      <form class="text-center wd-700 mx-auto" @submit.prevent="submitForm">
        <div class="row form-confirmar-exito text-uppercase mb-3">
          <div class="col-md-6">
            <div class="position-relative ml-3 mb-3 text-left" >
              <b class="d-block">No. de cuenta</b>
              <span class="d-block">{{ account.number }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative ml-3 mb-3 text-left" >
              <b class="d-block">Nombre</b>
              <span class="d-block">{{ account.alias }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative ml-3 mb-3 text-left" >
              <b class="d-block">Banco</b>
              <span class="d-block">{{ account.bank }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative ml-3 mb-3 text-left" >
              <b class="d-block">Correo electrónico</b>
              <span class="d-block">{{ account.email }}</span>
            </div>
          </div>
        </div>
        <div class="text-center py-4 my-4" v-if="loading" >
          <div class="spinner-border text-success" role="status"></div>
        </div>
        <div class="text-center py-4 my-4" v-if="message">
          <h6 class="text-danger">{{ message }}</h6>
        </div>
        <div class="form-row form-uppercase" v-if="!loading">
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="sourceAccount" required>
                <option disabled value="">Seleccione cuenta a debitar</option>
                <option v-for="(acc, i) in (sourceAccounts)" :key="i" :value="acc">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" readonly placeholder="Disponible"  v-if="sourceAccount == ''">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center" v-else>
              <span>Disponible</span>
              <span>{{ sourceAccount.balance | currency({symbol: currency[sourceAccount.currency][1]})}}</span>
            </span>
          </div>
          <div class="col-md-6 form-group">
            <input type="number" class="form-control" v-model="amount" required step="0.01" placeholder="Monto a debitar">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" v-model="comments" required placeholder="Comentario (No más de 50 crts)" max="50">
          </div>
          <div class="col-12 form-group text-center">
            <button type="submit" class="btn btn-primary">
              Transferir
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      running: false,
      loading: true,
      accountTypes: [],
      amount: '',
      comments: '',
      account: this.$route.params,
      sourceAccount: '',
      sourceAccounts: [],
      message: '',
      rate: {
        buy: JSON.parse(localStorage['inv.user']).rate_buy,
        sell: JSON.parse(localStorage['inv.user']).rate_sell,
      }
    }
  },
  computed: {
    formConfirmar() {
      return {
        apiUrl: '/api/transfers/enterprise/banks/transfer',
        dataApi: {
          origin: this.sourceAccount.number,
          destination: this.account.number,
          amount: this.amount,
          comment: this.comments,
          bank: this.account.bankCode,
          currency: this.sourceAccount.currency
        },
        backButton: 'EmpresaTransferenciasOtrosBancosTransferir',
        backButtonParams: this.$data,
        finish: 'EmpresaTransferenciasOtrosBancosTransferirRealizada',
        title: 'Confirmar Transferir a Cuenta De Otros Bancos',
        col1: [
          {
            name: 'Cuenta a debitar',
            value: this.sourceAccount.number,
          },
          {
            name: 'Nombre',
            value: this.sourceAccount.name,
            lines: 2
          },
          {
            name: 'Banco',
            value: this.account.bank
          }, 
          {
            name: 'Monto a debitar en '+this.currency[this.sourceAccount.currency][0],
            value: this.amount,
            currency: this.currency[this.sourceAccount.currency][1]
          },
          {
            name: 'Comentario',
            value: this.comments
          }    
        ],
        col2: [
          {
            name: 'Cuenta acreditar',
            value: this.account.number
          },
          {
            name: 'Nombre',
            value: this.account.alias,
            lines: 2
          },
          {
            name: 'Correo electrónico',
            value: this.account.email
          },
          {
            name: 'Monto a acreditar en '+this.currency[this.account.currency][0],
            value: this.amount,
            currency: this.currency[this.account.currency][1]
          }
        ]
      }
    }
  },
  created() {
    if (this.$route.params.rate) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      if(!this.account.number){
        this.$router.push({
          name: 'EmpresaTransferenciasOtrosBancos'
        });
      } else {
        this.loadAccounts();
      }
    }
  },
  methods: {
    loadAccounts(){
      axios.get('/api/transfers/enterprise/banks/accounts', {
        params: {
          currency: this.account.currency
        }
      }).then(resp => {
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.sourceAccounts = resp.data.sourceAccounts;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.loading = false;
      });
    },
    submitForm(){
      this.$router.push({
        name: 'EmpresaTransferenciasOtrosBancosTransferirConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>