<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Agregar cuenta Otros Bancos Locales</h2>
      
      <form class="text-center wd-700 mx-auto" @submit.prevent="submitForm">
        <div class="text-center py-4 my-4" v-if="banks.loading" >
          <div class="spinner-border text-success" role="status"></div>
        </div>
        <div class="text-center py-4 my-4" v-if="message">
          <h6 class="text-danger">{{ message }}</h6>
        </div>
        <div class="form-row form-uppercase" v-if="!banks.loading">
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Número de cuenta" v-model="account.account" required>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Nombre o referencia" v-model="account.alias" required>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="account.accountType" required>
                <option disabled value="">Tipo de cuenta</option>
                <option v-for="(type, index) in accountTypes" :key="index" :value="type">{{ type.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="account.bank" required>
                <option disabled value="">Banco</option>
                <option v-for="(bank, index) in banks.data" :key="index" :value="bank">{{ bank.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="account.currency" required>
                <option disabled value="">Moneda</option>
                <option value="QUE">Quetzales</option>
                <option value="US$">Dólares</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <input type="number" class="form-control" placeholder="Número de teléfono" v-model="account.phone" :required="account.email == ''">
          </div>
          <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Correo del Destinatario" v-model="account.email" :required="account.phone == ''">
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="account.idType" required>
                <option disabled value="">Tipo de persona</option>
                <option value="N">Individual</option>
                <option value="J">Jurídica</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="No. de identificación" v-model="account.idNumber" required>
          </div>
          <div class="col-12 text-center py-4 " v-if="message2">
            <h6 class="text-danger">{{ message2 }}</h6>
          </div>
          <div class="col-12 form-group text-center">
            <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}">
              <div class="ld ld-ring ld-spin"></div>Agregar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      currency: {
        QUE: 'GTQ',
        US$: 'USD'
      },
      running: false,
      banks: {
        loading: false,
        data: []
      },
      accountTypes: [],
      account: {
        bank: '',
        accountType: '',
        account: '',
        currency: '',
        alias: '',
        email: '',
        idType: '',
        idNumber: ''
      },
      message: '',
      message2: ''
    }
  },
  computed: {
    
    formConfirmar() {
      let idType = this.account.idType == 'N' ? 'Individual' : 'Jurídica';
      return {
        apiUrl: '/api/transfers/enterprise/banks/add-account',
        dataApi: {
          bank: this.account.bank.code,
          accountType: this.account.accountType.code,
          account: this.account.account,
          currency: this.account.currency,
          alias: this.account.alias,
          email: this.account.email,
          phone: this.account.phone,
          idType: this.account.idType,
          idNumber: this.account.idNumber
        },
        backButton: 'EmpresaTransferenciasOtrosBancosAgregar',
        backButtonParams: this.$data,
        finish: 'EmpresaTransferenciasOtrosBancosAgregarRealizada',
        title: 'Confirmar Agregar Cuenta De Otros Bancos',
        col1: [
          {
            name: 'No. de Cuenta',
            value: this.account.account,
            lines: 2
          },
          {
            name: 'Tipo',
            value: this.account.accountType.name,
          },
          {
            name: 'Banco',
            value: this.account.bank.name
          }, 
          {
            name: 'Correo',
            value: this.account.email
          },
          {
            name: 'Teléfono',
            value: this.account.phone
          }         
        ],
        col2: [
          {
            name: 'Nombre o Referencia',
            value: this.account.alias
          },
          {
            name: 'Moneda',
            value: this.currency[this.account.currency]
          },
          {
            name: 'Tipo de persona',
            value: idType
          },
          {
            name: 'No. de identificación',
            value: this.account.idNumber
          }
        ]
      }
    }
  },
  created(){
    if (this.$route.params.currency) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.loadBanks();
    }
  },
  methods: {
    loadBanks(){
      this.banks.loading = true;
      axios.get('/api/transfers/enterprise/banks/available').then(resp => {
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.banks.data = resp.data.banks;
          this.accountTypes = resp.data.accountTypes;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.banks.loading = false;
      });
    },
    submitForm(){
      this.running = true;
      this.message2 = '';
      axios.post('/api/transfers/enterprise/banks/validate-account', {
        account : this.account.account,
        bank : this.account.bank.code,
        accountType : this.account.accountType.code,
        currency : this.account.currency
      }).then(resp => {
        console.log('VALIDACION', resp.data)
        if (resp.data.success == false){
          this.message2 = resp.data.message
        } else {
          this.otherAccount = resp.data;
          this.$router.push({
            name: 'EmpresaTransferenciasOtrosBancosAgregarConfirmar',
            params: this.formConfirmar
          })
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.running = false;
      });
    }
  }
}
</script>