<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Bloquear cuenta</h2>
      <div class="mb-4 pb-4">
        <h4 class="text-uppercase text-center subtitle">Monetarios</h4>
        <table-bloquear-cuenta-inv :id="'table-monetary'" :loading="accounts.monetary.loading" 
          :header="accounts.monetary.header" 
          :rows="accounts.monetary.rows" 
          :type="'bemp'"
          :show="accounts.monetary.show"
          :formatCurrency="accounts.monetary.formatCurrency"
          :routeName="'EmpresaMisCuentasConsultaEstadosDeCuenta'"
          :message="accounts.monetary.message">
        </table-bloquear-cuenta-inv>
      </div>
      <div class="mb-4 pb-4">
        <h4 class="text-uppercase text-center subtitle">Ahorros e Inversiones</h4>
        <table-bloquear-cuenta-inv :id="'table-savings'" :loading="accounts.savings.loading" 
          :header="accounts.savings.header" 
          :type="'bemp'"
          :rows="accounts.savings.rows" 
          :show="accounts.savings.show"
          :formatCurrency="accounts.savings.formatCurrency"
          :routeName="'EmpresaMisCuentasConsultaEstadosDeCuenta'"
          :disclaimer="disclaimer"
          :message="accounts.savings.message">
        </table-bloquear-cuenta-inv>
      </div>

      <div class="wd-360 mx-auto mb-4">
        <h2 class="h3 text-uppercase text-center title">Bloquear cheque</h2>
        <form class="form-uppercase" @submit.prevent="submitForm">
          <div class="form-group">
            <div class="select dropdown-toggle position-relative">
              <select class="form-control" v-model="account">
                <option disabled value="">Seleccione cuenta</option>
                <option v-for="(acc, index) in (accounts.monetary.rows)" :key="index" :value="acc">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="select dropdown-toggle position-relative">
              <select class="form-control" v-model="cheque">
                <option>Cheque o rango</option>
                <option value="single">Cheque</option>
                <option value="range">Rango</option>
              </select>
            </div>
          </div>
          <div class="form-group" v-if="cheque == 'single'">
            <input type="text" class="form-control" placeholder="No. de Cheque" v-model="start">
          </div>
          <div class="form-group" v-if="cheque == 'range'">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="No. Inicial" v-model="start">
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="No. Final" v-model="finish">
              </div>
            </div>
          </div>
          <div class="text-center form-group" v-if="cheque !== 'Cheque o rango' && start > 0">
            <button type="submit" class="btn btn-primary">Bloquear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      cheque: 'Cheque o rango',
      start: '',
      finish: '',
      account: '',
      disclaimer: '',
      accounts: {
        monetary: {
          loading: true,
          header: ['Moneda', 'No. de cuenta', 'Nombre', 'Saldo disponible', 'Bloquear cuenta'],
          show: ['currency', 'number', 'name', 'available'],
          formatCurrency: ['available'],
          message: 'No tienes cuentas monetarias activas',
          rows: []
        },
        savings: {
          loading: true,
          header: ['Moneda', 'No. de cuenta', 'Nombre', 'Saldo disponible', 'Bloquear cuenta'],
          show: ['currency', 'number', 'name', 'available'],
          formatCurrency: ['available'],
          message: 'No tienes cuentas de ahorros o inversiones activas',
          rows: []
        }
      }
    }
  },
  computed: {
    formConfirmar() {
      return {
        apiUrl: '/api/accounts/monetary/block-check',
        dataApi: {
          account: this.account.number,
          start: this.start,
          finish: this.finish != '' ? this.finish : this.start
        },
        backButton: 'EmpresaMisCuentasGestiones',
        backButtonParams: this.$data,
        finish: 'EmpresaMisCuentasGestionesBloquearChequeRealizada',
        title: 'Confirmar Bloqueo de Cheques',
        col1: [
          {
            name: 'Nombre',
            value: this.account.name
          },
          {
            name: 'No. de Cuenta',
            value: this.account.number,
          },
          {
            name: 'Número de Cheque',
            value: this.start +' - '+this.finish,
          },
          {
            name: 'Producto',
            value: "Monetarios"
          },
          {
            name: 'Moneda',
            value: this.currency[this.account.currency][0]
          }
        ]
      }
    }
  },
  created(){
    if (this.$route.params.currency) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.loadAccountsSavings();
      this.loadAccountsMonetary();
      this.getLockDisclaimer();
    }
  },
  methods: {
    getLockDisclaimer(){
      axios.get('/api/management/lock-disclaimer').then(resp => {
        if (resp.success){
          this.disclaimer = resp.data
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.savings.loading = false;
      });
    },
    loadAccountsSavings(){
      axios.get('/api/accounts/savings').then(resp => {
        if (resp.data.length){
          this.accounts.savings.rows = resp.data;
        }
        if (resp.data.message){
          this.accounts.savings.message = resp.data.message
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.savings.loading = false;
      });
    },
    loadAccountsMonetary(){
      axios.get('/api/accounts/monetary').then(resp => {
        if (resp.data.length){
          this.accounts.monetary.rows = resp.data;
        }
        if (resp.data.message){
          this.accounts.monetary.message = resp.data.message
        }
        console.log(resp)
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.monetary.loading = false;
      });
    },
    submitForm() {
      console.log(this.formConfirmar)
      this.$router.push({
        name: 'EmpresaMisCuentasGestionesBloquearChequeConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>