<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Solicitar préstamo</h2>
      <div class="wd-700 mx-auto">
        <div class="text-center py-4 my-4" v-if="accounts.loading" >
          <div class="spinner-border text-success" role="status"></div>
        </div>
        <div class="text-center py-4 my-4" v-if="accounts.message">
          <h6 class="text-danger">{{ accounts.message }}</h6>
        </div>
      </div>
      <form class="wd-700 mx-auto" @submit.prevent="submitForm" v-if="!accounts.loading && accounts.data">
        <div class="form-row form-uppercase">
          <div class="form-group col-md-6">
            <input type="number" class="form-control" step="0.01" placeholder="Monto" v-model="info.amount" required>
          </div>
          <div class="form-group col-md-6">
            <div class="select dropdown-toggle">
              <select class="form-control" v-model="info.account" required>
                <option disabled>Seleccione cuenta a acreditar</option>
                <option v-for="(acc, i) in (accounts.data)" :key="i" :value="acc.number">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="select dropdown-toggle position-relative">
              <select class="form-control" required v-model="info.currency">
                <option>Moneda</option>
                <option value="QUE">Quetzales</option>
                <option value="US$">Dólares</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-6">
            <input type="number" class="form-control" placeholder="Tiempo de pago en meses" min="3" max="360" v-model="info.months" required>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Teléfono" v-model="info.phone" required>
          </div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" placeholder="Correo electrónico" v-model="info.email" required>
          </div>
          <div class="form-group col-12">
            <input type="text" class="form-control" placeholder="Razón" v-model="info.reason" required>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Nombre del fiador" v-model="info.guarantor">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Teléfono del fiador" v-model="info.guarantorPhone">
          </div>
          <div class="col-12 form-group text-right">
            <button type="submit" class="btn btn-primary">
              Solicitar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      info: {
        amount: '',
        account: 'Seleccione cuenta a acreditar',
        currency: 'Moneda',
        months: '',
        phone: '',
        email: '',
        reason: '',
        guarantor: '',
        guarantorPhone: ''
      },
      accounts: {
        loading: true,
        message: '',
        data: []
      },
      selectedCurrency: '',

    }
  },
  computed: {
    formConfirmar() {
      return {
        apiUrl: '/api/accounts/requests/loan',
        dataApi: this.info,
        backButton: 'PersonaFinanciamientoSolicitar',
        finish: 'PersonaFinanciamientoSolicitarRealizada',
        title: 'Confirmar Solicitud de préstamo',
        col1: [
          {
            name: 'Cuenta',
            value: this.info.account
          },
          {
            name: 'Monto',
            value: this.info.amount,
            currency: this.info.currency == 'QUE' ? 'Q.' : '$.'
          },
          {
            name: 'Moneda',
            value: this.info.currency,
          },
          {
            name: 'Meses',
            value: this.info.months,
          },
          {
            name: 'Teléfono',
            value: this.info.phone
          }            
        ],
        col2: [
          {
            name: 'Correo electrónico',
            value: this.info.email
          },
          {
            name: 'Razón',
            value: this.info.reason
          },
          {
            name: 'Fiador',
            value: this.info.guarantor
          },
          {
            name: 'Teléfono Fiador',
            value: this.info.guarantorPhone
          }            
        ]
      }
    }
  },
  created(){
    if (this.$route.params.currency) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.getAccounts();
    }
  },
  methods: {
    getAccounts(){
      axios.get('/api/accounts/requests/accounts/accounts-for-loan').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        } else {
          this.accounts.data = resp.data;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'PersonaFinanciamientoSolicitarConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>