<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Préstamos</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <router-link to="../" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </router-link>
          </div>
        </div>
      </div>

      <form class="wd-700 mx-auto form-uppercase mb-4" @submit.prevent="submitForm">
        <div class="form-row form-uppercase">
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>No.: </b>
                <span>{{ loan.id }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b class="mr-2">Nombre: </b>
                <span class="text-truncate">{{ loan.name }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Monto otorgado: </b>
                <span>{{ loansQuote.data.balance | currency }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Vencimiento: </b>
                <span>--</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Saldo capital: </b>
                <span>{{ loansQuote.data.capital | currency }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Moneda: </b>
                <span>{{ loansQuote.data.currency }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Cuota: </b>
                <span>{{ loansQuote.data.quote | currency }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Interés: </b>
                <span>{{ loansQuote.data.interest | currency }}</span>
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="form-row form-uppercase">
          <div class="col-md-6 mb-3">
            <div class="select dropdown-toggle position-relative">
              <select class="form-control" v-model="day">
                <option value="">Debitar día</option>
                <option value="1">1 de cada mes</option>
                <option value="2">2 de cada mes</option>
                <option value="3">3 de cada mes</option>
                <option value="4">4 de cada mes</option>
                <option value="5">5 de cada mes</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <input type="number" class="form-control" placeholder="Monto a debitar" required v-model="amount" step="0.01">
          </div>
          <div class="col-md-6 mb-3">
            <div class="select dropdown-toggle position-relative">
              <select class="form-control" v-model="account" required>
                <option disabled value="">Seleccione cuenta a debitar</option>
                <option v-for="(acc, i) in (accounts.data.sourceAccounts)" :key="i" :value="acc">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Automatizar pago: </b>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="switch-1" v-model="enablePayment">
                  <label class="custom-control-label" for="switch-1"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 text-right mb-3">
            <button type="submit" class="btn btn-primary">Programar pago</button>
          </div>
        </div>
      </form>

      <div id="historial">
        <h2 class="h3 text-uppercase text-center title">Historial</h2>
        <table-selectable-inv :id="'table-historial'" :loading="loanTransactions.loading"
          :header="loanTransactions.header" 
          :rows="loanTransactions.rows" 
          :show="loanTransactions.show"
          :formatDate="[]"
          :formatCurrency="loanTransactions.formatCurrency"
          :routeName="'EmpresaPagosPrestamosDetalle'"
          :message="loanTransactions.message">
        </table-selectable-inv>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      loan: this.$route.params.data,
      loansQuote: {
        loading: false,
        message: '',
        data: []
      },
      account: '',
      accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: [],
          destinationAccounts: []
        }
      },
      loanTransactions: {
        loading: true,
        header: ['Fecha', 'No. de transacción', 'Tipo', 'Capital', 'Interés', 'Otros', 'Saldo'],
        show: ['date','documentNumber', 'type', 'capital', 'interest', 'other', 'saldo'],
        formatCurrency: ['capital', 'interest', 'other', 'saldo'],
        message: 'No tienes historial en este préstamo',
        rows: []
      },
      amount: '',
      day: '',
      enablePayment: false
    }
  },
  computed: {
    formConfirmar() {
      return {
        apiUrl: '/api/accounts/loans/configure-auto-payment',
        dataApi: {
          loanId: this.loan.id,
          amount: this.amount,
          day: this.day,
          account: this.account.number,
          enablePayment: this.enablePayment
        },
        backButton: 'EmpresaPagosPrestamos',
        backButtonParams: this.$data,
        finish: 'EmpresaPagosPrestamosProgramarPagoRealizada',
        title: 'Confirmar Programar pago de préstamo',
        col1: [
          {
            name: 'No. de Préstamo',
            value: this.loan.id
          },
          {
            name: 'Nombre',
            value: this.loan.name,
          },
          {
            name: 'Monto',
            value: this.amount,
            currency: this.currency[this.loan.currency][1]
          },
          {
            name: 'Cuenta',
            value: this.account.number,
          },
          {
            name: 'Día a debitar',
            value: this.day+' del mes',
          },
          {
            name: 'Pago automático',
            value: this.enablePayment ? 'Habilitado' : 'Deshabilitado'
          }            
        ]
      }
    }
  },
  created() {
    if (this.$route.params.amount){
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      if (this.$route.params.data){
        this.getloansQuote();
        this.getOwnAccounts();
        this.getloansTransactions();
      } else {
        this.$router.push({
        name: 'EmpresaPagosPrestamos'
        })
      }
    }
  },
  methods: {
    getloansQuote() {
      axios.get('/api/accounts/loans/quote', {
        params: {
          id: this.loan.id
        }
      }).then(resp => {
        if (resp.data.message){
          this.loansQuote.message = resp.data.message
        }
        if (resp.data.id){
          this.loansQuote.data = resp.data;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.loansQuote.loading = false;
      });
    },
    getloansTransactions() {
      axios.get('/api/accounts/loans/transactions', {
        params: {
          id: this.loan.id
        }
      }).then(resp => {
        if (resp.data.message){
          this.loanTransactions.message = resp.data.message
        }
        if (resp.data){
          let lastSaldo = 0;
          this.loanTransactions.rows = resp.data.map((item, index) => {
            item.date = item.day+'-'+item.month+'-'+item.year;
            item.currency = this.loan.currency;
            item.saldo = item.capital;
            if (index > 0){
              item.saldo = item.type == 'ENT' ? resp.data[index-1].saldo + item.capital : resp.data[index-1].saldo - item.capital
            }
            return item
          })
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.loanTransactions.loading = false;
      });
    },
    getOwnAccounts(){
      axios.get('/api/accounts/loans/accounts', {
        params: {
          currency: this.loan.currency
        }
      }).then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts;
          this.accounts.data.destinationAccounts = resp.data.destinationAccounts;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'EmpresaPagosPrestamosProgramarPagoConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>
<style scoped>
.custom-control-label{
  cursor: pointer;
}
</style>