<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Pago de Préstamos</h2>
        </div>
        <div class="col-lg-3 text-right" v-if="loan" ref="favorite">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="#" @click.prevent="addToFavorite" class="text-center ml-2 text-reset text-decoration-none p-2" v-if="loanStatus == 'I'">
              <img src="./../../../../../assets/images/icons/icon-star.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Agregar a<br>favoritos</span>
            </a>
            <a href="#" @click.prevent="addToFavorite" class="text-center ml-2 text-reset text-decoration-none p-2" v-if="loanStatus == 'A'">
              <img src="./../../../../../assets/images/icons/icon-star-full.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Favorito</span>
            </a>
          </div>
        </div>
      </div>
      
      <form class="wd-700 mx-auto form-uppercase mb-4" @submit.prevent="submitForm">
        <div v-if="accounts.message" class="py-4 text-center">
          <h6 class="text-danger">{{ accounts.message }}</h6>
        </div>
        <div class="form-row form-uppercase" >
          <div class="col-md-6 mb-3">
            <div class="select dropdown-toggle position-relative">
              <select class="form-control" required v-model="loan" >
                <option value="">Seleccione préstamo a pagar</option>
                <option v-for="(loan, index) in loans.rows" :key="index" :value="loan">
                  {{ loan.id + ' - '+currency[loan.currency][0]+' - '+loan.name  }}
                </option>
                <optgroup label="FHA" v-if="fhaLoans.rows">
                  <option v-for="(loan, index) in fhaLoans.rows" :key="index" :value="loan">
                    {{ loan.id + ' - '+currency[loan.currency][0]+' - '+loan.name  }}
                  </option>
                </optgroup>
              </select>
            </div>
          </div>
          
          <div class="col-md-6 mb-3">
            <div class="select dropdown-toggle position-relative">
              <select class="form-control" v-model="account" required>
                <option disabled value="">Seleccione cuenta a debitar</option>
                <option v-for="(acc, i) in (accounts.data.sourceAccounts)" :key="i" :value="acc">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" readonly placeholder="Disponible"  v-if="account == ''">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center" v-else>
              <span>Disponible</span>
              <span>{{ account.balance | currency({symbol: currency[account.currency][1]})}}</span>
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" placeholder="Número de cuotas" v-if="!loansQuote.data.monthQuotes"  class="form-control" readonly>
            <input type="number" class="form-control" v-else placeholder="Número de cuotas" required v-model="quotes" :max="loansQuote.data.monthQuotes.length">
          </div>
        </div>
        <hr class="mb-4">
        <div class="py-4 text-center" v-if="loansInfo.loading">
          <div class="spinner-border text-success" role="status"></div>
        </div>
        <div v-if="!loansInfo.loading && loansInfo.message" class="py-4 text-center">
          <h6 class="text-danger">{{ loansInfo.message }}</h6>
        </div>
        <div class="form-row form-uppercase" v-if="!loansInfo.loading && loansInfo.data && loan != '' && quotes>0">
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Capital:  </b>
                <span>{{ monthQuotes.capital | currency({symbol: currencySymbol[loansInfo.data.currency]}) }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Interés: </b>
                <span>{{ monthQuotes.interest | currency({symbol: currencySymbol[loansInfo.data.currency]}) }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Mora: </b>
                <span>{{ monthQuotes.delay | currency({symbol: currencySymbol[loansInfo.data.currency]}) }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Gastos: </b>
                <span>{{ monthQuotes.other | currency({symbol: currencySymbol[loansInfo.data.currency]}) }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Total a pagar: </b>
                <span>{{ monthQuotes.total | currency({symbol: currencySymbol[loansInfo.data.currency]}) }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-control pt-2 text-uppercase">
              <div class="pt-1 d-flex justify-content-between">
                <b>Tasa referencia: </b>
                <span v-if="loan.currency == 'QUE'">{{ rate.buy }}</span>
                <span v-else>{{ rate.sell }}</span>
              </div>
            </div>
          </div>
          <div class="col-12 text-right mb-3">
            <button type="submit" class="btn btn-primary">Pagar préstamo</button>
          </div>
        </div>
      </form>
      
      <div id="prestamos" class="mb-5">
        <h4 class="text-uppercase text-center subtitle">Préstamos</h4>
        <table-selectable-inv :id="'table-loans'" :loading="loans.loading"
          :header="loans.header" 
          :rows="loans.rows" 
          :show="loans.show"
          :formatDate="[]"
          :formatCurrency="loans.formatCurrency"
          :routeName="'EmpresaPagosPrestamosDetalle'"
          :message="loans.message">
        </table-selectable-inv>
      </div>
      
      <div id="prestamos-fha">
        <h4 class="text-uppercase text-center subtitle">Préstamos FHA</h4>
        <table-selectable-inv :id="'table-fhaloans'" :loading="loans.loading"
          :header="fhaLoans.header" 
          :rows="fhaLoans.rows" 
          :show="fhaLoans.show"
          :formatDate="[]"
          :formatCurrency="fhaLoans.formatCurrency"
          :routeName="'EmpresaPagosPrestamosDetalle'"
          :message="fhaLoans.message">
        </table-selectable-inv>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.',
        DOL: '$.'
      },
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.'],
        DOL: ['USD', '$.']
      },
      account: '',
      loan: '',
      loanStatus: 'A',
      amount: '',
      comments: '',
      quotes: '',
      monthQuotes: {},
      accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: [],
          destinationAccounts: []
        }
      },
      loans: {
        loading: true,
        header: ['Id', 'Nombre', 'Moneda', 'Saldo Capital'],
        show: ['id', 'name', 'currency', 'balance'],
        formatCurrency: ['balance'],
        message: 'No tienes préstamos asociados',
        rows: []
      },
      fhaLoans: {
        loading: true,
        header: ['Id', 'Nombre', 'Moneda', 'Saldo Capital'],
        show: ['id', 'name', 'currency', 'balance'],
        formatCurrency: ['balance'],
        message: 'No tienes préstamos asociados',
        rows: []
      },
      loansInfo: {
        loading: false,
        message: '',
        data: []
      },
      loansQuote: {
        loading: false,
        message: '',
        data: []
      },
      rate: {
        buy: JSON.parse(localStorage['inv.user']).rate_buy,
        sell: JSON.parse(localStorage['inv.user']).rate_sell
      },
      favorites: {
        message: '',
        loans: []
      },
      selectedLoan: this.$route.params.data
    }
  },
  watch: {
    loan(val) {
      this.getloansInfo();
      this.getloansQuote();
      this.getStatusFavorite(val);
    },
    quotes(){
      this.changeQuotes()
    }
  },
  computed: {
    formConfirmar() {
      return {
        apiUrl: '/api/transfers/loans/transfer',
        dataApi: {
          origin: this.account.number,
          destination: this.loan.id,
          quotes: this.quotes
        },
        backButton: 'EmpresaPagosPrestamos',
        backButtonParams: this.$data,
        finish: 'EmpresaPagosPrestamosPagarRealizada',
        title: 'Confirmar Pago de préstamo',
        col1: [
          {
            name: 'No. de Préstamo',
            value: this.loan.id
          },
          {
            name: 'Nombre',
            value: this.loan.name,
          },
          {
            name: 'Cuenta a Debitar',
            value: this.account.number,
          },
          {
            name: 'Nombre',
            value: this.account.name,
          },
          {
            name: 'Tasa',
            value: this.loan.currency == 'QUE' ? this.rate.buy : this.rate.sell ,
          }  
        ],
        col2: [
          {
            name: 'Capital',
            value: this.monthQuotes.capital,
            currency: this.currencySymbol[this.loansInfo.data.currency]
          },
          {
            name: 'Interés',
            value: this.monthQuotes.interest,
            currency: this.currencySymbol[this.loansInfo.data.currency],
            lines: 2
          },
          {
            name: 'Mora',
            value: this.monthQuotes.delay,
            currency: this.currencySymbol[this.loansInfo.data.currency]
          },
          {
            name: 'Gastos',
            value: this.monthQuotes.other,
            currency: this.currencySymbol[this.loansInfo.data.currency],
            lines: 2
          },
          {
            name: 'Total',
            value: this.monthQuotes.total,
            currency: this.currencySymbol[this.loansInfo.data.currency]
          }  
        ]
      }
    }
  },
  created(){
    if (this.$route.params.currency) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.getOwnAccounts();
      this.loadFavoritesLoans();
    }
  },
  methods: {
    loadFavoritesLoans() {
      axios.get('/api/general/favorites/loans').then( resp => {
        if (resp.data.message){
          this.favorites.message = resp.data.message;
          this.favorites.message = resp.data.message
        } else {
          this.favorites.loans = resp.data.loans.concat(resp.data.fhaLoans);
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loadLoans();
      });
    },
    addToFavorite(){
      axios.post('/api/general/favorites/loan', {
        number: this.loan.id,
        status: this.loanStatus == 'A' ? 'I': 'A'
      }).then( resp => {
        if (this.loanStatus == 'A'){
          this.loanStatus = 'I';
        } else {
          this.loanStatus = 'A';
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loadLoans();
      });
    },
    getStatusFavorite(loan){
      if (!loan){
        loan = this.selectedLoan
      }
      if (this.favorites.loans.filter(el => {
        return el.id === loan.id
      }).length){
        this.loanStatus = 'A';
      } else {
        this.loanStatus = 'I';
      }
    },
    loadLoans() {
      axios.get('/api/accounts/loans').then( resp => {
        if (resp.data.message){
          this.loans.message = resp.data.message
        } else {
          this.loans.rows = resp.data.loans;
          this.fhaLoans.rows = resp.data.fhaLoans;
        }
        let l = [];
        if (this.selectedLoan){
          if (!this.loan.id){
            l = this.fhaLoans.rows.filter( (loan) => {
              return loan.id == this.selectedLoan.id
            });
            if (l.length){
              this.loan = l[0];
            } else {
              this.loan = this.loans.rows.filter( (loan) => {
                return loan.id == this.selectedLoan.id
              })[0];
            }
          }
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loans.loading = false;
      });
    },
    getOwnAccounts(){
      axios.get('/api/transfers/own/accounts').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts;
          this.accounts.data.destinationAccounts = resp.data.destinationAccounts;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    getloansQuote() {
       this.loansQuote.loading = true;
      axios.get('/api/accounts/loans/quote', {
        params: {
          id: this.loan ? this.loan.id : this.selectedLoan.id
        }
      }).then(resp => {
        if (resp.data.message){
          this.loansQuote.message = resp.data.message
        }
        if (resp.data.id){
          this.loansQuote.data = resp.data;
          this.quotes = resp.data.monthQuotes.length;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.loansQuote.loading = false;
      });
    },
    getloansInfo() {
      this.loansInfo.loading = true;
      axios.get('/api/accounts/loans/info', {
        params: {
          id: this.loan ? this.loan.id : this.selectedLoan.id
        }
      }).then(resp => {
        if (resp.data.message){
          this.loansInfo.message = resp.data.message
        }
        if (resp.data.id){
          this.loansInfo.data = resp.data;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.loansInfo.loading = false;
      });
    },
    changeQuotes() {
      if (this.quotes >  this.loansQuote.data.monthQuotes.length){
        this.quotes = this.loansQuote.data.monthQuotes.length;
      } else if (this.quotes <= 0){
        this.quotes = "";
      } 
      this.monthQuotes = {
        capital: 0,
        interest: 0,
        delay: 0,
        other: 0,
        total: 0
      };
      for (let index = 0; index < this.quotes; index++) {
        this.monthQuotes.capital += this.loansQuote.data.monthQuotes[index].capital;
        this.monthQuotes.interest += this.loansQuote.data.monthQuotes[index].interest;
        this.monthQuotes.delay += this.loansQuote.data.monthQuotes[index].delay;
        this.monthQuotes.other += this.loansQuote.data.monthQuotes[index].other;
        this.monthQuotes.total = this.monthQuotes.capital + this.monthQuotes.interest + this.monthQuotes.delay + this.monthQuotes.other;
      }
    },
    submitForm() {
      this.$router.push({
        name: 'EmpresaPagosPrestamosPagarConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>