<template>
  <div>
    <div class="container-fluid position-relative" id="perfil">
      <img src="./../../../../../assets/images/icons/icon-arrow-circle.svg" alt="" width="40" class="arrow-circle">
      <div class="container">
        <div class="row">
          <div class="information col-lg-6 bg-green-2 text-white">
            <h2 class="h3 text-uppercase text-left title">Perfil de seguridad</h2>
            <div v-if="profile.loading" class="py-4 text-center">
              <div class="spinner-border text-white" role="status"></div>
            </div>
            <div v-if="!profile.loading && profile.message" class="py-4 text-center">
              <h6 class="text-white">{{ message }}</h6>
            </div>
            <div v-if="profile.data.fullName">
              <div class="mb-4">
                <b>Nombre:</b><br>
                <p>{{ profile.data.fullName }}</p>
              </div>
              <div class="mb-4">
                <b>Correo electrónico:</b><br>
                <p>{{ profile.data.email }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="container">
              <h2 class="h3 text-uppercase text-center title">Contraseñas</h2>
              <form class="wd-360 mx-auto mw-100" @submit.prevent="submitForm">
                <div class="form-row form-uppercase">
                  <div class="col-12 form-group">
                    <div class="position-relative">
                      <input :type="inputPasswordCType" class="form-control" placeholder="Contraseña actual" v-model="currentPassword">
                      <svg v-if="inputPasswordCType == 'password'" @click="inputPasswordCType = 'text'" class="icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                        <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                      <svg v-if="inputPasswordCType == 'text'" @click="inputPasswordCType = 'password'" class="icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                      </svg>

                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <div class="position-relative">
                      <input :type="inputPasswordType" class="form-control" placeholder="Contraseña nueva" v-model="newPassword" @keyup="validatePassword">
                      <svg v-if="inputPasswordType == 'password'" @click="inputPasswordType = 'text'" class="icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                        <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                      <svg v-if="inputPasswordType == 'text'" @click="inputPasswordType = 'password'" class="icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                      </svg>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <div class="position-relative">
                      <input :type="inputPasswordType2" class="form-control" placeholder="Repite contraseña" v-model="newPassword2" @keyup="validatePassword">
                      <svg v-if="inputPasswordType2 == 'password'" @click="inputPasswordType2 = 'text'" class="icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                        <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                      <svg v-if="inputPasswordType2 == 'text'" @click="inputPasswordType2 = 'password'" class="icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                      </svg>
                    </div>
                  </div>
                  <div class="col-12 mb-3 text-center text-danger" v-if="message">{{ message }}</div>
                  <div class="col-12 form-group text-center">
                    <button type="submit" class="btn btn-primary">
                      Actualizar contraseña
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currentPassword: '',
      newPassword: '',
      newPassword2: '',
      inputPasswordCType: 'password',
      inputPasswordType: 'password',
      inputPasswordType2: 'password',
      message: '',
      profile: {
        loading: true,
        message: '',
        data: [],
      }
    }
  },
  created() {
    this.loadProfile()
  },
  computed: {
    formConfirmar() {
      return {
        apiUrl: '/api/profile/update-password',
        dataApi: {
          current: this.currentPassword,
          new: this.newPassword
        },
        backButton: 'PersonaPerfilContrasenas',
        finish: 'PersonaPerfilContrasenasActualizarRealizada',
        title: 'Confimar cambiar contraseña',
        text: 'Estás a punto de cambiar tu contraseña'
      }
    }
  },
  methods: {
    loadProfile(){
      axios.get('/api/profile/personal').then(resp => {
        if (resp.status == 200 && resp.data){
          this.profile.data = resp.data;
        }
        this.profile.message = resp.data.message ? resp.data.message : '';
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.profile.loading = false;
      });
    },
    validatePassword(){
      this.message = '';
      if (this.newPassword != '' && this.newPassword2 != ''){
        if (this.newPassword != this.newPassword2){
          this.message = 'Contraseñas no coinciden';
        } else {
          return true;
        }
      }
    },
    submitForm() {
      if (this.currentPassword != '' && this.newPassword != '' && this.newPassword2 != '') {
        if (this.validatePassword()){
          this.$router.push({
            name: 'PersonaPerfilContrasenasActualizarConfirmar',
            params: this.formConfirmar
          });
        }
        
      } else {
        this.message = 'Llena todos los campos';
      }
    }
  }
}
</script>
<style scoped>
  input{
    text-transform: none!important;
  }
</style>