/* GENERALES */
body{
  overflow-x: hidden;
}
b{
  font-weight: 600;
}
.bg-green{
  background-color: $primary-green;
}
.bg-green-2{
  background-color: $green-2;
}
.bg-green-50{
  background-color: rgba(31, 59, 0, 0.875);
}
.bg-green-gradient-1{
  background-color: $primary-green;
  background-image: linear-gradient(to right, $primary-green, #2B401B);
}
.bg-green-gradient-2{
  background-color: $primary-green;
  background-image: linear-gradient(to right, $primary-green 65%, #6d9045 100%);
}
.bg-gray-gradient-1{
  background-color: #c9c9c9;
  background-image: linear-gradient(to right, rgb(196, 193, 182), rgb(216, 206, 201), rgb(230, 222, 222), rgb(241, 238, 240), rgb(255, 255, 255));
}
.bg-light-gray{
  background-color: #e9e9e9;
}
.btn{
  padding: 0.65rem 3.25rem;
  letter-spacing: 1px;
  font-size: 0.825rem;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn-primary{
  background-color: $primary-button-color;
  border-color: $primary-button-color;
  text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:focus, .btn-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  background-color: #6f9145;
  border-color: #6f9145;
  box-shadow: none !important;
}
.btn:hover{
  transform: translateY(-3px);
}
.btn-primary.submit{
  background-color: #6f9145;
  border-color: #6f9145;
}
.btn-primary:hover{
  background-color: #749c44;
  border-color: #749c44;
}
.btn-primary.back:hover{
  background-color: #2B401B;
  border-color: #2B401B;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #45803c;
  border-color: #45803c;
}
.btn-outline-primary {
  color: $body-color;
  border-color: $primary-button-color;
  border-width: 2px;
}
.btn-outline-primary:hover,.btn-outline-outline:focus, .btn-outline-primary:active {
  color: #fff;
  background-color: #6f9145;
  border-color: #6f9145;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba($primary-button-color, 0.25);
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: $primary-button-color;
  border-color: $primary-button-color;
}
.btn-light{
  font-weight: 600;
}
.form-control{
  border: 2px solid $primary-button-color;
  height: calc(1.4em + 0.75rem + 14px);
  background-color: #e7e8e9;
  border-radius: 7px;
  padding-left: 1.25rem;
}
.form-control-sm{
  height: calc(1.5em + 0.5rem + 2px);
}
.form-control:focus {
  background-color: #fff;
  border-color: $primary-button-color;
  box-shadow: 0 0 0 0.2rem rgba($primary-button-color, 0.25);
}
select.form-control{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2.5rem;
}
select.form-control-sm{
  padding-right: 1.5rem;
}
.select.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.625em solid;
  border-right: 0.45em solid transparent;
  border-bottom: 0;
  border-left: 0.45em solid transparent;
  position: absolute;
  top: 0;
  color: $primary-button-color;
  right: 0;
  margin-top: 20px;
  margin-right: 15px;
  pointer-events:none
}
.select-sm.dropdown-toggle::after {
  margin-top: 10px;
  margin-right: 10px;
}
.wd-700{
  width: 700px;
  max-width: 100%;
}
.wd-360{
  width: 360px;
  max-width: 100%;
}
#top-navbar{
  font-weight: 300;
  font-size: 0.8rem;
}
#top-navbar .welcome{
  font-size: 1.2rem;
}
#main-menu ul li.nav-item a{
  padding-left: 1.15rem;
  padding-right: 1.15rem;
  min-width: 115px;
  font-size: 0.975rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#main-menu ul li.nav-item a:hover{
  background-color: rgba(170,170,170,0.1);
}
#main-menu .navbar-nav .active > .nav-link, #main-menu a.router-link-active{
  background-color: rgba(100,100,100,0.1);
  color: #386832;
}
#fixed-navbar{
  width: 100%;
  z-index: 99;
  top: 0;
}
#bottom-menu li a{
  min-width: 140px;
  position: relative;
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-size: 0.675rem;
  padding: 0.4rem 2rem;
}
#bottom-menu li a:not(.router-link-active):hover{
  background-color: rgba(110, 145, 67, 0.35);
}
#bottom-menu li.active>a, #bottom-menu .router-link-active{
  background-color: #6e9143;
}
#bottom-menu li>a.router-link-active::after{
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #6e9143;
  clear: both;
  z-index: 9;
}
#footer{
  font-size: 0.6rem;
}
#footer address{
  font-size: 0.75rem;
}
#main-content{
  min-height: calc(100vh - 268px);
}
#main-content>.container{
  padding-top: 4rem;
  padding-bottom: 3.5rem;
}
#main-content .title{
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 3.5rem;
}
#main-content .subtitle{
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
#main-content .title-options{
  font-size: 0.7rem;
  margin-top: -40px;
}
#main-content .title-options a{
  border-radius: 5px;
}
#main-content .title-options a:hover{
  background-color: #f1f1f1;
}
.form-uppercase input, .form-uppercase select{
  text-transform: uppercase;
}
.v-dialog.active .v-dialog-overlay, .v-dialog:target .v-dialog-overlay {
  background: rgba(0,0,0,0.65) !important;
}
.v-dialog-btn.success{
  color: $body-color !important;
  text-transform: uppercase;
  font-weight: 400;
}
.v-dialog-container .v-dialog-header .v-dialog-title {
  font-size: 1.35rem !important;
  font-weight: 600 !important;
  color: $red;
}
.v-dialog-container .v-dialog-body{
  color: #404041;
  font-weight: 400;
  font-size: 0.925rem;
}
.v-dialog.v-dialog-sm .v-dialog-container {
  width: 360px !important;
  max-width: 100% !important;
}
.v-dialog-container .v-dialog-btn.v-dialog-btn-danger {
  color: #444!important;
}
#main-content #perfil{
  padding-top: 4rem;
  padding-bottom: 3.5rem;
  background-color: #fff;
  min-height: calc(100vh - 268px);
  background-image: linear-gradient(to right, $green-2 0%, $green-2 calc(50% + 1px), $body-bg 50%, $body-bg 100%);
}
#perfil .information .title{
  font-weight: 600;
}
#perfil .information{
  font-size: .95rem;
  font-weight: 300;
}
#perfil .information b{
  text-transform: uppercase;
  font-weight: 600;
}
.arrow-circle{
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}
#perfil .img-frase{
  width: 125px;
  height: 125px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  border: 2px solid rgba(255,255,255,0.6);
}
#perfil .img-change{
  width: 86.5px;
  height: 85px;
  display: inline-block;
  background-position: center;
  background-size: auto 100%;
  border-radius: 5px;
  border: 2px solid $primary-green;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.675;
}
#page-confirmar .image, #page-realizado .image{
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: auto 100%;
  border-radius: 5px;
  border: 2px solid $primary-green;
  cursor: pointer;
}
#perfil .img-change.active{
  border-bottom: 16px solid $primary-button-color;
  opacity: 1;
  box-shadow: 2prgba($primary-button-color, 0.25);
}
#perfil .img-change:hover{
  background-size: auto 110%;
  border-bottom: 16px solid $primary-button-color;
  opacity: 1;
  box-shadow: 0 0 0 0.2rem rgba($primary-button-color, 0.25);
}
.dots.dropdown{
  line-height: 1;
}
.dots.dropdown>a{
  font-size: 1.15rem;
  color: $primary-button-color;
}
.dots.dropdown>a:hover{
  font-size: 0;
}
.dots.dropdown>a:hover::after{
  font-size: 1.15rem;
  content: "● ● ●";
}
.form-confirmar-exito{
  max-width: 750px;
  margin: 0 auto;
  padding-left: 100px;
}
.form-confirmar-exito b{
  font-weight: 600;
}
.form-confirmar-exito>div>div>div::before{
  content: "";
  width: 3px;
  height: 10px;
  position: absolute;
  background: $primary-button-color;
  top: 0;
  margin-top: 5px;
  left: 0;
  margin-left: -15px;
}
.form-confirmar-exito small{
  font-size: 0.55rem;
}
.lines-2{
  min-height: 40px;
}
.text-success{
  color: $primary-button-color !important;
}
@media print{
  footer, .title-options, .title-options img{
    display: none;
  }
}
/* INPUT RADIO */
.container-radio {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-right: 1rem;
  cursor: pointer;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid $primary-button-color;
}
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}
.container-radio input:checked ~ .checkmark {
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-radio input:checked ~ .checkmark:after {
  display: block;
}
.container-radio .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $primary-button-color;
}
.btn.running .ld{
  zoom: 1.75;
}
.ld-over-inverse:before {
  background: rgba(0,0,0,0.35);
}
.form-control:disabled, .form-control[readonly] {
  opacity: 0.65;
}
.form-control.has-error{
  border-color: $red;
}
.form-control.has-error:focus {
  box-shadow: 0 0 0 0.2rem rgba($red, 0.25);
}
/* CALENDAR */
.vc-header{
  background: $primary-button-color !important;
  color: #fff;
  padding-bottom: 0.75rem !important;
}
.vc-title{
  color: #fff !important;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.925rem !important;
}
.vc-weeks{
  font-family: 'Montserrat', sans-serif;
}
.vc-svg-icon path{
  fill: #fff !important
}
.vc-popover-content{
  border-radius: 7px;
  overflow: hidden;
  border: 2px solid $primary-button-color !important;
}
.vc-bg-blue-600 {
  background-color: $primary-button-color !important;
}
.vc-border-blue-700 {
  border-color: $primary-button-color !important;
}
.vc-text-blue-900 {
  color: $primary-green !important;
}
.vc-bg-blue-200 {
  background-color: rgba($primary-button-color, 0.25) !important;
}
.vc-opacity-0{
  opacity: 0.5!important;
}
.card{
  border-radius: 7px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $primary-button-color;
  background-color: $primary-button-color;
}
.custom-control-label::before{
  height: 1.35rem;
  top: 0;
  border: #aeb5bd solid 2px;
}
.custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 2.5rem;
  border-radius: 1rem;
}
.custom-switch .custom-control-label::after {
  top: calc(0.13rem + 1px);
  left: calc(-2.25rem + 3px);
  width: calc(1rem - 1px);
  height: calc(1rem - 1px);
  border-radius: 0.5rem;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  transform: translateX(1.2rem);
}
button:focus{
  outline: none !important;
}

.form-control.outline::-webkit-input-placeholder { /* Edge */
  color: rgba(255,255,255,0.85);
}
.form-control.outline:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,0.85);
}
.form-control.outline::placeholder {
  color: rgba(255,255,255,0.85);
}
.form-control.outline{
  border-color: #fff;
  border-width: 2px;
  background-color: transparent;
  color: #fff;
}
#login-page{
  background-image: url('./assets/images/app/background-login.jpg');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
#login-page.login-2{
  background-image: url('./assets/images/app/background-gris.jpg');
}
#login-page .container{
  min-height: 100vh;
}
#form{
  width: 450px;
  max-width: 100%;
  right: 0;
  margin-right: 15px;
  bottom: 0;
}
#form form{
  padding: 4.5rem 5rem 5.5rem;
}
#form .bancas{
  margin-bottom: 5rem;
  cursor: pointer;
}
#form .circle{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.25);
  margin: 5px auto;
  cursor: pointer;
}
#form .circle:hover{
   background-color: rgba(110, 145, 67, 0.4);
}
#form .circle.active{
  background-color: #65B245;
}
#form button{
  font-weight: 600;
}
.bg-security-password {
  background-color: #2B401B;
  width: 500px;
  max-width: 100%;
  min-height: 280px;
}
.bg-security-password .bg-security__header__password {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px 30px 30px 0;
}
.bg-security-password .bg-security__header__box {
  width: 160px;
  height: 0px;
  border-right: 0px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 40px solid #294A13;
  font-size: 13px;
  margin-right: 15px;
}
.rounded-10{
  border-radius: 10px !important;
}
.form-control.outline option {
  background: #fff;
  color: #222;
  border-radius: 5px;
  border: 2px solid #fff;
}
.icon-eye{
  position: absolute;
  top: 0;
  right: 0;
  margin: 14px;
  cursor: pointer;
}
.text-transform-none{
  text-transform: none !important;
}
.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 2px;
  margin-left: 21px;
  border: 0;
  margin-top: -1px;
  border: 2px solid #adb5bd;
}
.check:hover input ~ .checkmark {
  background-color: #ccc;
}
.check input:checked ~ .checkmark {
  background-color: #66965f;
  border-color: #45803c;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check input:checked ~ .checkmark:after {
  display: block;
}
.check .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (max-width: 991px){
  #main-content #perfil{
    background-image: none;
    padding-top: 0;
    margin-bottom: 1rem;
  }
  #perfil .information {
    margin-top: 2.5rem;
    background-color: transparent !important;
    text-align: center;
    color: #404041 !important;
    margin-bottom: 2rem;
    border: 2px solid #3d632d;
    border-radius: 7px;
    padding-top: 1rem;
  }
  #perfil .information .title{
    text-align: center!important;
  }
  #perfil .img-frase{
    margin: 0 auto;
  }
  .arrow-circle{
    display: none;
  }
  #bottom-menu{
    max-width: 100%;
    overflow-x: auto;
  }
  #bottom-menu li a {
    min-width: 65px;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.4rem 0.75rem!important;
  }
}
@media screen and (max-width: 768px){
  #main-menu ul{
    display: block;
    margin-left: -15px;
    margin-right: 15px;
  }
  #main-menu ul li{
    width: 50%;
    float: left;
  }
  #top-navbar .welcome{
    display: block;
  }
  #top-navbar ul{
    padding-top: 1rem;
  }
  #content h2{
    font-size: 1.9rem!important;
    letter-spacing: 1px;
  }
  #bottom-menu li a {
    width: auto;
  }
}