table#general{
  margin: 0 auto;
}
.table thead {
  border-radius: 8px;
}
.table thead th{
  font-weight: 400;
  border: 0;
  text-transform: uppercase;
  border: hidden;
  vertical-align: middle;
}
.table thead th:first-child{
  border-radius: 8px 0 0 8px;
}
.table thead th:last-child{
  border-radius: 0 8px 8px 0;
}
.table {
  border-collapse: collapse;
  border-radius: 8px;
  font-size: 0.82rem;
}
.table-lg{
  min-width: 1024px;
}
.table th, .table td{
  border-top: 0;
  border: hidden;
}
.table .dropdown-menu{
  background: #e1e1e1;
  font-size: 0.8rem;
  border: 0;
}
.table .dropdown-item:hover, .table .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #cecece;
}
.table tr{
  border-radius: 8px;
  border: hidden;
}
.table tbody tr td{
  border-right: 2px solid #fff;
}
.table tr td:first-child{
  border-radius: 8px 0 0 8px;
}
.table tr td:last-child{
  border-radius: 0 8px 8px 0;
}
.table th, .table td{
  padding: 0.65rem 0.625rem;
  border: 1px solid #999;
}
.table tr.invisible td{
  padding: 0.15rem;
}
.pagination{
  padding-left: 15px;
}
.pagination +.col .select{
  width: 64px;
}
.pagination+.col label{
  font-size: 0.725rem;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.0875);
}
@media screen and (min-width: 768px){
  .table-responsive{
    overflow-x: unset;
  }
}
.page-item.active .page-link {
  background-color: $primary-button-color;
  border-color: $primary-button-color;
}
.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: #45803ccf;
}