// Body
$body-bg: #fcfcfc;
$body-color: #404041;
// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.4;

// Colors
$primary-green: #2B401B;
$primary-button-color: #45803c;

$green-2: #3d632d;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
