<template>
  <div class="select dropdown-toggle position-relative mb-2">
    <select class="form-control text-uppercase" v-model="model" required>
      <option disabled value="0" selected>Día del mes de pago</option>
      <option v-for="index in 30" :key="index" :value="index">
        {{ index }} de cada mes
      </option>
    </select>
  </div>
</template>

<script>
export default {
  props: {
    value: [Number, String]
  },
  created(){
    this.model = 1;
  },
  computed: {
    model: {
      get() {
        return this.value
      },
      set(v) {
        this.$emit('input', v)
      }
    }
  },
  methods: {
    isValid() {
      return Boolean(String(this.model).trim())
    }
  },
  mounted() {
    this.$el.focus()
  }
}
</script>