<template>
	<transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
            <button v-if="!hideClose" class="modal-default-button btn btn-default" @click="$emit('close')">
              Cerrar
            </button>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
	export default {
    props: ['hideClose'],
		mounted() {
      console.log('Component mounted.');
		}
	}
</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
  padding: 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header{
  background: #dee2e6;
  padding: 0.5rem 1rem;
  align-items: center;
}
.modal-header h4 {
  margin-top: 0;
  color: #222;
  font-size: 1.2rem;
}
.modal-header button{
  padding: 0.65rem 1.25rem;
}
.modal-body {
  margin: 15px 0;
  overflow-y: auto;
  display: block;
  max-height: 480px;
}
.modal-default-button {
  float: right;
  background-color: #f1f1f1;
}
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>