<template>
  <div v-if="account">
    <div class="container">
      <div class="page-header">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <img src="./../../../../../assets/images/app/logo-banco-inv.svg" id="logoImg" width="196" class="mb-3 img-edo" style="display:none">
            <h2 class="h3 text-uppercase text-center title">Estados de cuenta</h2>
          </div>
          <div class="col-lg-3 text-right">
            <div class="title-options text-uppercase d-flex justify-content-end">
              <a>
                <download-excel tag="a" class="pointer text-center ml-2 text-reset text-decoration-none p-2" 
                :data="transactions.rowsExcel" :fields="transactions.fields" 
                :title="'Estado de Cuenta '+getRangeDate(this.type).startDate.split('-').reverse().join('-')+' al ' +getRangeDate(this.type).endDate.split('-').reverse().join('-')"
                :name="'BINV_'+account.number+'_'+getRangeDate(this.type).startDate.split('-').reverse().join('-')+'_'+getRangeDate(this.type).endDate.split('-').reverse().join('-')">
                  <img src="./../../../../../assets/images/icons/icon-download.svg" alt="" width="36" class="d-block mx-auto mb-2">
                  <span class="d-block">Descargar <br>archivo</span>
                </download-excel>
              </a>
              
              <a href="#" class="text-center ml-2 text-reset text-decoration-none p-2" @click.prevent="print" v-if="transactions.rows">
                <img src="./../../../../../assets/images/icons/icon-print.svg" alt="" width="36" class="d-block mx-auto mb-2">
                <span class="d-block">Imprimir</span>
              </a>
              <form action="/pdf/estado-de-cuenta" method="post" hidden id="formPrint" target="_blank">
                <input type="hidden" name="_token" :value="csrf">
                <input type="hidden" name="username" :value="user.userName">
                <input type="hidden" name="account" :value="JSON.stringify(account)">
                <input type="hidden" name="balance" :value="initialBalance | currency({ symbol: currencySymbol[account.currency] })">
                <input type="hidden" name="start" :value="getRangeDate(this.type).startDate">
                <input type="hidden" name="end" :value="getRangeDate(this.type).endDate">
                <input type="hidden" name="table" :value="JSON.stringify(transactions.rows)">
                <button type="submit">Send</button>
              </form>

              <router-link  to="./../" class="text-center ml-2 text-reset text-decoration-none p-2">
                <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
                <span class="d-block">Regresar</span>
              </router-link>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="wd-700 mx-auto form-uppercase mb-4">
          <div class="row">
            <div class="col-md-6 offset-md-3 mb-3">
              <label class="text-uppercase"><b>No. de cuenta</b></label>
              <div :class="{'select dropdown-toggle position-relative ld-over-inverse': true, 'running': accounts.loading}">
                <div class="ld ld-ring ld-spin"></div>
                <select class="form-control" v-model="account">
                  <option disabled>Seleccione una cuenta</option>
                  <option v-for="(acc, index) in accounts.data" :key="index" :value="acc">{{ acc.number }}</option>
                </select>
              </div>
            </div>
            <div class="col-12 text-center mb-3 btn-options">
              <button @click="type = 'day'" :class="{'btn btn-outline-primary mb-3': true, 'active': type == 'day' }">Día</button>
              <button @click="type = 'month'" :class="{ 'btn btn-outline-primary mb-3 mr-2 ml-2': true, 'active': type == 'month'}">Mes</button>
              <button @click="type = 'custom'" :class="{ 'btn btn-outline-primary mb-3': true, 'active': type == 'custom'}">Personalizado</button>
            </div>
          </div>
          
          <div class="row mb-3" id="type-day" v-if="type == 'day'">
            <div class="col-md-4 offset-md-4 mb-3 position-relative">
              <img src="./../../../../../assets/images/icons/icon-calendar.svg" alt="" width="22" class="icon-calendar">
              <v-date-picker v-model="date" :popover="{ placement: 'bottom', visibility: 'click' }" class="form-control"></v-date-picker>
            </div>
            <div class="col-md-4 offset-md-4 mb-3">
              <button class="btn btn-primary btn-block" v-scroll-to="'#info-account'">Generar</button>
            </div>
          </div>

          <div class="wd-700 mx-auto mb-4" id="type-month" v-if="type == 'month'">
            <div class="row form-row">
              <div class="col-sm-4 col-md-4 mb-2" v-for="(month, index) in lastMonths" :key="index">
                <button v-scroll-to="'#info-account'" @click="selectedMonthYear = month.month+'-'+month.year; selectedIndex = 5-index;" 
                :class="{'btn btn-outline-primary btn-block px-3': true, 'active': selectedMonthYear == month.month+'-'+month.year}" >{{ month.name + ' ' +month.year }}</button>
              </div>
            </div>
          </div>

          <div class="row mb-4" id="type-custom" v-if="type == 'custom'">
            <div class="col-lg-6 offset-3">
              <div class="row form-row">
                <div class="col-12 position-relative mb-2">
                  <img src="./../../../../../assets/images/icons/icon-calendar.svg" alt="" width="22" class="icon-calendar">
                  <v-date-picker
                    class="form-control"
                    v-model="range" mode='range' :popover="{ placement: 'bottom', visibility: 'click' }" 
                    :input-props="{
                      placeholder: 'Ingresa el rango de fecha'
                    }">
                  </v-date-picker>
                </div>
                <div class="col-md-6 mb-3" hidden>
                  <input type="text" class="form-control" placeholder="Rango mínimo">
                </div>
                <div class="col-md-6 mb-3" hidden>
                  <input type="text" class="form-control" placeholder="Rango máximo">
                </div>
              </div>
            </div>
            <div class="col-md-4 offset-md-4 mb-3">
              <button class="btn btn-primary btn-block" v-scroll-to="'#info-account'">Generar</button>
            </div>
          </div>

          <div class="row" id="filtro" hidden>
            <div class="col-md-4 offset-md-4 mb-3">
              <label class="text-uppercase"><b>Filtrar</b></label>
              <div class="select dropdown-toggle position-relative">
                <select class="form-control">
                  <option>Con filtro</option>
                  <option>Sin filtro</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <hr>
        <div class="text-center text-uppercase pt-3 mb-4">
          <h4 class="subtitle text-uppercase mb-4">Tipo de transacción</h4>
          <div class="row">
            <div class="col-6 col-sm-3 mb-3">
              DE = Depósito
            </div>
            <div class="col-6 col-sm-3 mb-3">
              NC = Nota de crédito
            </div>
            <div class="col-6 col-sm-3 mb-3">
              CQ = Pago cheque
            </div>
            <div class="col-6 col-sm-3 mb-3">
              ND = Nota de débito
            </div>
          </div>
        </div>
        <hr>

        <div id="info-account" :class="{'wd-700 mx-auto text-uppercase pt-3 mb-4 ld-over-inverse': true, 'running': accounts.loading}">
          <div class="ld ld-ring ld-spin"></div>
          <div class="form-row form-uppercase">
            <div class="col-md-6">
              <div class="mb-2">
                <b class="mr-2">Cuenta:</b> {{ account.number }}
              </div>
              <div class="mb-2">
                <b class="mr-2">Producto:</b> {{ account.typeDesc }}
              </div>
              <div class="mb-2">
                <b class="mr-2">Moneda:</b> {{ account.currency == 'QUE' ? 'GTQ' : 'USD' }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-2">
                <b class="mr-2">Nombre:</b> {{ account.name }}
              </div>
              <div class="mb-2">
                <b class="mr-2">Estatus:</b> {{ account.status }}
              </div>
            </div>
          </div>
        </div>

        <div class="mb-4 mt-4 pt-4">
          <div class="text-right mb-3 text-uppercase lead">
            Saldo inicial: <b class="ml-2">{{ initialBalance | currency({ symbol: currencySymbol[account.currency] }) }}</b> 
          </div>
          <div id="table-edo" ref="printTable">
            <table-edo-cuenta-inv class="page" :id="'table-estado-de-cuenta'" :loading="transactions.loading" 
              :header="transactions.header" 
              :rows="transactions.rows" 
              :show="transactions.show"
              :formatCurrency="transactions.formatCurrency"
              :message="transactions.message"
              :account="account"
              :perPage="transactions.perPage">
            </table-edo-cuenta-inv>
          </div>
        </div>

        <div class="wd-700 mx-auto mb-4 pb-3" id="tables">
          <div class="row">
            <div class="col-md-6">
              <div id="table-left" :class="{ 'ld-over-inverse': true, 'running': balance.loading }">
                <div class="ld ld-ring ld-spin"></div>
                <table class="table table-striped w-100 text-right mb-0">
                  <tbody>
                    <tr>
                      <td class="font-weight-bold text-uppercase">Saldo contable:</td>
                      <td>{{ balance.data.balance | currency({ symbol: currencySymbol[account.currency] }) }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold text-uppercase">Saldo retenido:</td>
                      <td>{{ balance.data.retainedBalance | currency({ symbol: currencySymbol[account.currency] }) }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold text-uppercase">Reserva de cobro:</td>
                      <td>{{ balance.data.reserveCharge | currency({ symbol: currencySymbol[account.currency] }) }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold text-uppercase">Saldo disponible:</td>
                      <td>{{ balance.data.available | currency({ symbol: currencySymbol[account.currency] }) }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-md-6">
              <div id="table-right" :class="{ 'ld-over-inverse': true, 'running': monthAverage.loading }">
                <div class="ld ld-ring ld-spin"></div>
                <table class="table table-striped w-100 text-center mb-0">
                  <thead>
                    <tr>
                      <th colspan="2" class="text-center py-1 font-weight-bold">Saldos promedios por mes</th>
                    </tr>
                    <tr>
                      <th class="py-1 font-weight-bold">Mes</th>
                      <th class="py-1 font-weight-bold">Saldo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(month, index) in monthAverage.data" :key="index">
                      <td class="text-uppercase py-1">{{ months[month.month-1] + ' ' + month.year }}</td>
                      <td class="py-1">{{ month.balance | currency({ symbol: currencySymbol[account.currency] }) }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div id="detalle">
          <h4 class="text-center subtitle text-uppercase mb-3">Detalle de reserva de cobro</h4>
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <div class="card bg-green-2 text-white">
                <div class="card-body text-uppercase">
                  <div class="d-flex justify-content-between mb-1">
                    <span>24 horas</span>
                    <span>{{ balance.data.reserv24Hours | currency({ symbol: currencySymbol[account.currency] }) }}</span>
                  </div>
                  <div class="d-flex justify-content-between mb-1">
                    <span>48 horas</span>
                    <span>{{ balance.data.reserv48Hours | currency({ symbol: currencySymbol[account.currency] }) }}</span>
                  </div>
                  <div class="d-flex justify-content-between mb-1">
                    <span>Giros Exterior</span>
                    <span>{{ balance.data.reservAbroadOrder | currency({ symbol: currencySymbol[account.currency] }) }}</span>
                  </div>
                  <div class="d-flex justify-content-between mb-1">
                    <span class="font-weight-bold">Total</span>
                    <span class="font-weight-bold">{{ balance.data.reserveTotal | currency({ symbol: currencySymbol[account.currency] }) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      type: 'month',
      months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      date: new Date(),
      range: {
        start: new Date(),
        end: new Date()
      },
      selectedMonthYear: '',
      account: this.$route.params.data,
      balance: {
        loading: true,
        data: []
      },
      accounts: {
        loading: true,
        data: []
      },
      transactions: {
        loading: true,
        header: ['Fecha', 'Transacción', 'Actividad', 'No. de Doc', 'Debe', 'Haber', 'Saldo'],
        show: ['date', 'type', 'description', 'reference', 'debit', 'credit', 'balance'],
        formatCurrency: ['credit', 'debit', 'balance'],
        formatDate: ['date'],
        message: 'No tienes transacciones en este rango de fecha',
        rows: [],
        rowsExcel: [],
        fields: {
          'Fecha': 'date',
          'Transacción': 'type',
          'No. de Doc': 'reference',
          'Actividad': 'description',
          'Debe': 'debit',
          'Haber': 'credit',
          'Saldo': 'balance'
        },
        perPage: 5
      },
      monthAverage: {
        loading: true,
        data: []
      },
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      typeAccount: '',
      initialBalance: 0,
      selectedIndex: 0,
      user: JSON.parse(localStorage['inv.user'])
    }
  },
  computed: {
    lastMonths() {
      let d, month;
      let selectedMonths = [];
      for(let i = 5; i >= 0; i -= 1) {
        d = new Date(this.date.getFullYear(), this.date.getMonth() - i, 1);
        selectedMonths.push({
          name: this.months[d.getMonth()],
          year: d.getFullYear(),
          month: d.getMonth()+1,
          index: i
        });
      }
      return selectedMonths;
    }
  },
  watch: {
    account(val) {
      this.getTransactions();
    },
    type(val) {
      this.getTransactions();
    },
    date(val) {
      this.getTransactions();
      var container = this.$el.querySelector("#info-account");
      container.scrollTop = container.scrollHeight;
    },
    selectedMonthYear(val) {
      this.getTransactions();
    },
    range(val) {
      this.getTransactions();
    }
  },
  created() {
    if(!this.account){
      this.$router.go(-1);
    } else {
      this.selectedMonthYear = this.lastMonths[5].month+'-'+this.lastMonths[5].year;
      this.typeAccount = (this.account.type == 1) ? 'monetary' : 'savings';
      this.loadAccounts();
      window.onafterprint = () => {
        this.transactions.perPage = 5;
        document.querySelector('#app>div>div').classList.add('ps', 'ps--active-y');
      }
    }
  },
  methods: {
    print() {
      document.querySelector('#formPrint').submit();
    },
    getImageBase64(img){
      var canvas = document.createElement('canvas')
      var ctx = canvas.getContext('2d')

      canvas.width = img.width
      canvas.height = img.height
      ctx.drawImage(img, 0, 0)
      canvas.toDataURL("svg+xml");
      
      return canvas.replace(/^data:image\/(svg+xml);base64,/, "");
    },
    loadAccounts(){
      axios.get('/api/accounts/'+ this.typeAccount).then(resp => {
        if (resp.data.length){
          this.accounts.data = resp.data;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.loading = false;
      });
    },
    getTransactions() {
      let dates = this.getRangeDate(this.type);
      this.balance.loading = true;
      this.transactions.loading = true;
      this.monthAverage.loading = true;
      //GET BALANCE
      axios.get('/api/accounts/'+this.typeAccount+'/balance', {
        params: {
          account: this.account.number
        }
      }).then(resp => {
        this.balance.data = resp.data;
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.balance.loading = false;
      });
      // GET TRANSACTIONS OF DATE, MONTH OR RANGE DATE   
      axios.get('/api/accounts/'+this.typeAccount+'/transactions', {
        params: {
          account: this.account.number,
          startDate: dates.startDate,
          endDate: dates.endDate
        }
      }).then( resp => {
        this.initialBalance = 0;
        if (resp.data.message){
          this.transactions.message = resp.data.message
        } else {
          this.transactions.rows = resp.data;
          if (this.transactions.rows.length){
            this.initialBalance = this.transactions.rows[0].balance + this.transactions.rows[0].debit - this.transactions.rows[0].credit;
            //  FORMAT EXCEL 
            this.transactions.rowsExcel = resp.data.map( row => {
              row.date = row.date.split('T')[0].split('-').reverse().join('-');
              return row;
            })
          } else {
            this.initialBalance = this.balance.data.balance
          }
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.transactions.loading = false;
      });
      // GET MONTH AVERAGE
      axios.get('/api/accounts/'+this.typeAccount+'/month-average', {
        params: {
          account: this.account.number,
          months: 6
        }
      }).then( resp => {
        //this.initialBalance = resp.data[this.selectedIndex].initialBalance;
        this.monthAverage.data = resp.data;
      }).catch( resp => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.monthAverage.loading = false;
      });
    },
    getRangeDate(type){
      let sd, ed;
      if (type == 'day'){
        sd = ed = this.date.getFullYear()+'-'+(this.date.getMonth()+1)+'-'+(this.date.getDate());
      }
      if (type == 'month'){
        sd = this.selectedMonthYear.split('-')[1]+'-'+this.selectedMonthYear.split('-')[0]+'-1';
        ed = this.selectedMonthYear.split('-')[1]+'-'+this.selectedMonthYear.split('-')[0]+'-'+new Date(this.selectedMonthYear.split('-')[1], this.selectedMonthYear.split('-')[0], 0).getDate();
      }
      if (type == 'custom'){
        sd = this.range.start.getFullYear()+'-'+(this.range.start.getMonth()+1)+'-'+(this.range.start.getDate());
        ed = this.range.end.getFullYear()+'-'+(this.range.end.getMonth()+1)+'-'+(this.range.end.getDate());
      }
      return {
        startDate: sd,
        endDate: ed
      }
    }
  }
}
</script>

<style>
#general>tbody>tr:hover{
  font-weight: 400;
}
.page{
  page-break-after: always;
}
.btn-options button{
  width: 165px;
  max-width: 165px;
  padding-left: 10px;
  padding-right: 10px;
}
.form-control input{
  border: 0;
  background: transparent;
  margin-top: -2px;
  font-size: 0.925rem;
  margin-left: -10px;
}
.form-control input:focus{
  box-shadow: none !important;
}
.icon-calendar{
  position: absolute;
  right: 0;
  margin-right: 30px;
  top: 0;
  margin-top: 11px;
  pointer-events: none;
}
#table-left, #table-right{
  border: 2px solid green;
  border-radius: 7px;
}
#table-right tbody td{
  font-size: 0.8rem
}
.card{
  font-size: 0.750rem;
}
.pointer{
  cursor: pointer;
}
@page {
  margin: 10mm 10mm;
}
@media print {
  header  {
    display: none;
  }
  .wd-700{
    width: 100%!important;
  }
  .page-header, .page-header-space {
    height: 150px;
  }
  .page-footer, .page-footer-space {
    height: 30px;
  }
  thead {display: table-header-group;} 
  tfoot {display: table-footer-group;}
  .img-edo, #info-account{
    margin: 10px auto;
    display: block!important;
  }
  #main-content .table th{
    color: #333;
  }
   #tables{
    display:block !important;
  }
  table{
    overflow-x: hidden;
  }
  body {
    overflow: hidden;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }
  .sort{
    display: none;
  }
  .table tr td{
    padding: 4px 5px !important;
  }
  .title{
    font-size: 14pt;
    font-weight: 600;
  }
}
</style>