<template>
  <div>
    <footer class="bg-green-gradient-1" id="footer">
      <div class="container py-4 text-white">
        <div class="row d-flex align-items-center">
          <div class="col-md-4 offset-md-4 text-center">
            <div class="mb-2">
              <a href="https://www.facebook.com/BANCOINV/" target="_blank">
                <img src="./../../../../assets/images/icons/icon-facebook.svg" width="28" alt="">
              </a>
              <a href="https://www.linkedin.com/company/banco-inv/" target="_blank">
                <img src="./../../../../assets/images/icons/icon-linkedin.svg" class="mx-2" width="28" alt="">
              </a>
            </div>
            <address class="mb-0">
              10 calle "A" zona 10, Guatemala. <a href="tel:50223156600" class="text-reset">PBX: (502) 2315 - 6600</a>
            </address>
            <span>© Todos los derechos reservados - Banco INV ® {{ new Date().getFullYear() }}</span>
          </div>
          <div class="col-md-4 text-right d-none">
            <a href="#">
              <img src="./../../../../assets/images/icons/icon-btn-playstore.svg" class="mr-2" width="124" alt="">
            </a>
            <a href="#">
              <img src="./../../../../assets/images/icons/icon-btn-istore.svg" width="124" alt="">
            </a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>