<template>
  <div>
    <div class="container">
      <solicitudes-icons-empresa class="mb-4 pb-3"></solicitudes-icons-empresa>
      <h2 class="h3 text-uppercase text-center title">Solicitar cheque de caja</h2>

      <form class="wd-360 mx-auto text-center" @submit.prevent="submitForm">
        <div class="text-center py-4 my-4" v-if="accounts.loading" >
          <div class="spinner-border text-success" role="status"></div>
        </div>
        <div class="text-center py-4 my-4" v-if="accounts.message">
          <h6 class="text-danger">{{ accounts.message }}</h6>
        </div>
        <div class="form-row form-uppercase">
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="sourceAccount" required>
                <option disabled>Seleccione cuenta</option>
                <option v-for="(acc, i) in (accounts.data.sourceAccounts)" :key="i" :value="acc">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="agency" required>
                <option>Agencia</option>
                <option value="1">Principal</option>
                <option value="2">Secundaria</option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <input type="number" class="form-control" placeholder="Monto" v-model="amount" step="0.01" required>
          </div>
          <div class="col-12 form-group">
            <div class="select dropdown-toggle position-relative">
              <select class="form-control" required v-model="selectedCurrency">
                <option>Moneda</option>
                <option value="QUE">Quetzales</option>
                <option value="US$">Dólares</option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <input type="text" class="form-control" placeholder="A nombre de" v-model="name" required>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Solicitar</button>
          </div>
        </div>
      </form>

      <div class="mt-5">
        <h2 class="h3 text-uppercase text-center title">Seguimiento de Solicitudes</h2>
        <table-solicitudes-cheques-inv :id="'table-requests'" :loading="transactions.loading" 
          :header="transactions.header" 
          :rows="transactions.rows" 
          :show="transactions.show"
          :formatDate="['date']"
          :name="'EmpresaSolicitarSolicitudesSolicitarChequeDeCajaConfirmar'"
          :backButton="'EmpresaSolicitarSolicitudesSolicitarChequeDeCaja'"
          :finish="'EmpresaSolicitarSolicitudesSolicitarChequeDeCajaRealizada'"
          :message="transactions.message">
        </table-solicitudes-cheques-inv>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      sourceAccount: 'Seleccione cuenta',
      transactions: {
        loading: true,
        header: ['Fecha','Transacción', 'Beneficiario', 'Monto', 'Estado', 'Opciones'],
        show: ['date', 'id', 'recipient', 'amount', 'status'],
        message: 'No tienes solicitudes registradas',
        rows: []
      },
      accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: []
        }
      },
      agency: 'Agencia',
      amount: '',
      selectedCurrency: 'Moneda',
      name: ''
    }
  },
  computed: {
    formConfirmar() {
      let agency = (this.agency == 1) ? 'Principal' : 'Secundaria';
      return {
        apiUrl: '/api/management/enterprise/cashierchecks/request',
        dataApi: {
          account: this.sourceAccount.number,
          agency: this.agency,
          amount: this.amount,
          currency: this.selectedCurrency,
          recipient: this.name
        },
        backButton: 'EmpresaSolicitarSolicitudesSolicitarChequeDeCaja',
        backButtonParams: this.$data,
        finish: 'EmpresaSolicitarSolicitudesSolicitarChequeDeCajaRealizada',
        title: 'Confirmar solicitud de Cheque de Caja',
        col1: [
          {
            name: 'Cuenta',
            value: this.sourceAccount.number
          },
          {
            name: 'Nombre',
            value: this.sourceAccount.name
          },
          {
            name: 'Agencia',
            value: agency,
          },
          {
            name: 'Monto',
            value: this.amount,
            currency: this.currency[this.sourceAccount.currency][1]
          },
          {
            name: 'Moneda',
            value: this.selectedCurrency,
          },
          {
            name: 'Beneficiario',
            value: this.name
          },
        ],
      }
    }
  },
  created() {
    if (this.$route.params.currency) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.getOwnAccounts();
      this.getTransactions();
    }
  },
  methods: {
    getOwnAccounts(){
      axios.get('/api/transfers/enterprise/own/accounts').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    getTransactions(){
      axios.get('/api/management/enterprise/cashierchecks/list').then(resp => {
        if (resp.data){
          this.transactions.rows = resp.data;
        }
        console.log('resp', resp.data)
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.transactions.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'EmpresaSolicitarSolicitudesSolicitarChequeDeCajaConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>