<template>
  <div id="login-page" class="login-2">
    <div class="container py-3 d-flex align-items-center justify-content-center flex-column">
      <router-link to="/login">
        <img src="./../../../assets/images/app/logo-banco-inv.svg" alt="Logo Banco INV" class="mb-4" width="196">
      </router-link>

      <div class="bg-security-password mx-auto my-3 pb-4 pt-2">
        <div class="bg-security__header__password">
          <div class="bg-security__header__box">
            <div class="text-white text-right mr-3 font-weight-bold">BANCA</div>
            <div class="text-white text-right mr-3 font-weight-bold">
              <span v-if="type == 'BPER'">PERSONA</span>
              <span v-if="type == 'BEMP'">EMPRESA</span>
            </div>
          </div>
          <img v-if="type == 'BPER'" src="./../../../assets/images/icons/icon-persona.svg" alt="" width="60">
          <img v-if="type == 'BEMP'" src="./../../../assets/images/icons/icon-empresa.svg" alt="" width="60">
        </div>
        <div class="mb-4 text-white wd-360 mx-auto text-justify" v-if="!success">
          <h4>¡Bienvenido(a)!</h4>
          <p>Completa la siguiente información para continuar</p>
        </div>
        <form class="form-uppercase mb-4  wd-360 mx-auto" @submit.prevent="submitForm">
          <div v-if="loading" class="py-4 text-center">
            <div class="spinner-border text-success" role="status"></div>
          </div>

          <div class="form-group wd-360 mx-auto" v-if="!loading && recoveryMethods && !success">

            <div v-if="blockPassword"> 
              <div class="mb-3">
                <input type="text" class="form-control outline" placeholder="Correo electrónico" v-model="recoveryMethods.email" readonly/>
              </div>
              <div class="mb-3">
                <input type="text" class="form-control outline" placeholder="Teléfono" v-model="recoveryMethods.phone" readonly/>
              </div>
              <hr>
              <div class="mb-3 position-relative">
                <input :type="inputPasswordType" class="form-control outline text-transform-none" placeholder="Contraseña nueva" v-model="newPassword" />
                <svg v-if="inputPasswordType == 'password'" @click="inputPasswordType = 'text'" class="text-white icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                  <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
                <svg v-if="inputPasswordType == 'text'" @click="inputPasswordType = 'password'" class="text-white icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                  <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                  <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
                  <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                </svg>
              </div>
              <div class="mb-3 position-relative">
                <input :type="inputPasswordType2" class="form-control outline text-transform-none" placeholder="Repetir contraseña" v-model="newPassword2" />
                <svg v-if="inputPasswordType2 == 'password'" @click="inputPasswordType2 = 'text'" class="text-white icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                  <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
                <svg v-if="inputPasswordType2 == 'text'" @click="inputPasswordType2 = 'password'" class="text-white icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                  <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                  <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
                  <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                </svg>
              </div>
              <div v-if="this.message != ''" class="text-white">{{ this.message }}</div>
              <button class="btn btn-light btn-block mt-3" type="button" @click.prevent="updatePassword" v-if="buttonPassword">Continuar</button>
            </div>
            <hr>

            <div v-if="blockImagen">
              <div class="mb-3" id="perfil">
                <div v-if="imageList.loading" class="py-4 text-center">
                  <div class="spinner-border text-success" role="status"></div>
                </div>
                <label class="text-uppercase text-white">Seleccione imagen</label>
                <div class="row form-row d-flex justify-content-center">
                  <div class="col-3" v-for="(img, index) in imageList.images" :key="index">
                    <div @click="selectedImage = img"
                      :class="{'img-change mr-1': true, 'active': selectedImage == img }"  
                      :style="{'background-image': 'url(data:image.png;base64,'+img.data+')'}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <input type="text" class="form-control outline" placeholder="Frase de 50 crts." maxlength="50" v-model="phrase" required>
              </div>
              <div v-if="this.messagePhrase != ''" class="text-white">{{ this.messagePhrase }}</div>
              <button class="btn btn-light btn-block mt-3" type="button" @click.prevent="blockImagen = false; blockQuestions = true;" 
              v-if="phrase && selectedImage">Continuar</button>
            </div>
            
            <hr>
            <div v-if="blockQuestions">
              <div class="mb-3">
                <div v-if="recoveryQuestionsList.loading" class="py-4 text-center">
                  <div class="spinner-border text-success" role="status"></div>
                </div>
                <div v-if="recoveryQuestionsList.data" class="mb-3">
                  <label class="text-white text-uppercase">Seleccionar preguntas</label>
                  <div id="questions">
                    <small class="mb-2 d-block text-white" v-if="recoveryQuestionsList.number <= 5">Pregunta <b class="h6 font-weight-bold">{{ recoveryQuestionsList.number  }}</b> de <b>5</b></small>
                    <div class="progress mb-3">
                      <div class="progress-bar bg-success" role="progressbar" :style="{'width': (recoveryQuestionsList.number*100/5)+'%'}" :aria-valuenow="(recoveryQuestionsList.number*100/5)" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div v-for="n in 5" :key="n">
                      <div class="form-group" v-if="recoveryQuestionsList.number == n">
                        <div class="select dropdown-toggle position-relative mb-2">
                          <select class="form-control outline" :id="'question-number-'+n" v-model="recoveryQuestionsList.temp.q">
                            <option>Seleccione una pregunta</option>
                            <option v-for="(q, i) in recoveryQuestionsList.available" :key="i" :value="q">{{ q.name }}</option>
                          </select>
                        </div>
                        <div class="form-group" :id="'answer-number-'+n">
                          <input type="text" class="form-control outline" :placeholder="'Respuesta '+recoveryQuestionsList.number" v-model="recoveryQuestionsList.temp.a" required>
                        </div>
                      </div>
                    </div>
                    <div v-if="this.messageQuestions != ''" class="text-white mt-3">{{ this.messageQuestions }}</div>
                  </div>
                </div>
              </div>
              <div class="mb-3 text-center">
                <button class="btn btn-primary mb-3" type="button" v-if="recoveryQuestionsList.number < recoveryQuestionsList.data.length && (recoveryQuestionsList.temp.q != 'Seleccione una pregunta' && recoveryQuestionsList.temp.a.length >= 3)" @click="addQuestion">Siguiente</button>
                <button v-if="newPassword != '' && newPassword2 != '' && selectedImage.name && phrase != '' && recoveryQuestionsList.selected.length >4"
                  type="submit" :class="{'btn btn-light btn-block ld-over-inverse': true, 'running': running}">
                  <div class="ld ld-ring ld-spin"></div>
                  <span v-if="!running">Enviar</span>
                  <span v-else>Enviando</span>
                </button>
              </div>
            </div>
            
            <div class="text-right">
              <router-link :to="{name: 'Login'}" class="text-uppercase text-decoration-none text-white">Regresar</router-link>
            </div>
          </div>

          <div v-if="success" class="my-4 wd-360 mx-auto pb-4 text-white text-justify">
            <p class="mt-4 pt-4 mb-4">Tu perfil de seguridad ha sido actualizado satisfactoriamente.</p>
            
            <router-link :to="{ name: 'Login' }" class="btn btn-light btn-block ld-over-inverse mb-4">
              Regresar a la pantalla principal
            </router-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loading: true,
      running: false,
      type: '',
      method: 2,
      blockPassword: true,
      blockImagen: false,
      blockQuestions: false,
      buttonPassword: false,
      inputTokenType: 'password',
      inputPasswordType: 'password',
      inputPasswordType2: 'password',
      username: this.$route.params.username,
      recoveryMethods: [],
      success: false,
      message: '',
      newPassword: '',
      newPassword2: '',
      phrase: '',
      messagePhrase: '',
      selectedImage: [],
      imageList: {
        loading: true,
        images: []
      },
      recoveryQuestionsList: {
        loading: true,
        number: 1,
        message: '',
        temp: {
          q: 'Seleccione una pregunta',
          a: ''
        },
        selected: [],
        answers: [],
        available: [],
        data: []
      },
      messageQuestions: '',
      finished: 0
    }
  },
  watch:{
    newPassword(val) {
      this.message = '';
      if (val != '' && this.newPassword2 != '' && val != this.newPassword2){
        this.message = 'Contraseñas no coinciden';
      }
      this.validatePassword();
    },
    newPassword2(val) {
      this.message = '';
      if (this.newPassword != val){
        this.message = 'Contraseñas no coinciden';
      }
      this.validatePassword();
    },
    phrase() {
      this.messagePhrase = '';
    },
    recoveryQuestionsList() {
      this.messageQuestions = '';
    },
    $route (to, from){
      this.username = ''
    }
  },
  created() {
    this.getProfileStatus();
    this.getProfileRecoveryMethods();
    this.loadImagesList();
    this.getRecoveryQuestionsList();
  },
  methods: {
    validatePassword(){
      if (this.newPassword != '' && this.newPassword2 != '' && this.message == ''){
        this.buttonPassword = true;
      }
    },
    getProfileStatus() {
      axios.get('/api/profile/status', {
        params: {
          username: this.username.toUpperCase()
        }
      }).then(resp => {
        if (resp.data){
          this.type = resp.data.profile;
        } else {
          this.$router.push({ name: 'Login' });
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      })
    },
    getProfileRecoveryMethods() {
      axios.get('/api/profile/recovery-methods', {
        params: {
          username: this.username.toUpperCase()
        }
      }).then(resp => {
        if (resp.data){
          this.recoveryMethods = resp.data;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    },
    loadImagesList(){
      axios.get('/api/profile/image-list').then(resp => {
        if (resp.data){
          this.imageList.images = resp.data;
        }
      }).catch(err => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.imageList.loading = false;
      });
    },
    getRecoveryQuestionsList() {
      axios.get('/api/profile/recovery-questions-list').then(resp => {
        if (resp.data.length){
          this.recoveryQuestionsList.data = resp.data;
          this.recoveryQuestionsList.available = resp.data;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(()=>{
        this.recoveryQuestionsList.loading = false;
      });
    },
    addQuestion(){
      this.recoveryQuestionsList.selected.push(this.recoveryQuestionsList.temp.q);
      this.recoveryQuestionsList.available = this.recoveryQuestionsList.data.filter(x => this.recoveryQuestionsList.selected.indexOf(x) === -1);
      this.recoveryQuestionsList.answers.push({
        id: this.recoveryQuestionsList.temp.q.id,
        answer: this.recoveryQuestionsList.temp.a.toUpperCase()
      });
      this.recoveryQuestionsList.number = (this.recoveryQuestionsList.number > 5) ? 0 : this.recoveryQuestionsList.number+1;
      /*if (this.recoveryQuestionsList.number > 5){
        this.recoveryQuestionsList.number = 5;
      }*/
      this.recoveryQuestionsList.temp = {
        q: 'Seleccione una pregunta',
        a: ''
      }
    },
    updatePassword(){
      axios.post('/api/profile/update-password', {
        current: this.newPassword,
        new: this.newPassword
      }).then( resp => {
        if (resp.data.success){
          this.blockImagen = true; 
          this.blockPassword = false;
          this.finished += 1;
          //this.updateImage();
        } else {
          this.message = resp.data.message;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      });
    },
    updateImage(){
      axios.post('/api/profile/save-profile-image', {  
        phrase: this.phrase,
        image: this.selectedImage.name
      }).then( resp => {
        if (resp.data.success){
          this.finished += 1;
          this.saveQuestions();
        } else {
          this.messagePhrase = resp.data.message;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      });
    },
    saveQuestions(){
      axios.post('/api/profile/save-answers', {  
        answers: this.recoveryQuestionsList.answers
      }).then( resp => {
        if (resp.data.success){
          this.finished += 1;
          this.success = true;
        } else {
          this.messageQuestions = resp.data.message;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then( () => {
        this.running = false;
      });
    },
    submitForm(){
      this.running = true;
      this.updateImage();
    }
  }
}
</script>
<style>
  #perfil .img-change {
    opacity: 0.85;
  }
  #perfil .img-change:hover {
    border: 2px solid #fff;
  }
  #perfil .img-change.active {
    border: 2px solid #fff;
  }
  .progress{
    height: 6px;
    background-color: #ffffff29;
  }
  .bg-success{
    background-color: #6e9143 !important;
  }
</style>