<template>
  <div id="login-page" class="login-2">
    <div class="container py-3 d-flex align-items-center justify-content-center flex-column">
      <router-link to="/login">
        <img src="./../../../assets/images/app/logo-banco-inv.svg" alt="Logo Banco INV" class="mb-4" width="196">
      </router-link>

      <div class="bg-security-password mx-auto my-3 pb-4 pt-2">
        <div class="bg-security__header__password">
          <div class="bg-security__header__box">
            <div class="text-white text-right mr-3 font-weight-bold">BANCA</div>
            <div class="text-white text-right mr-3 font-weight-bold">
              <span v-if="type == 'BPER'">PERSONA</span>
              <span v-if="type == 'BEMP'">EMPRESA</span>
            </div>
          </div>
          <img v-if="type == 'BPER'" src="./../../../assets/images/icons/icon-persona.svg" alt="" width="60">
          <img v-if="type == 'BEMP'" src="./../../../assets/images/icons/icon-empresa.svg" alt="" width="60">
        </div>
        <div class="mb-4 text-white wd-360 mx-auto text-justify" v-if="!success">
          <h4>¡Bienvenido(a)!</h4>
          <p>Para continuar selecciona un método de envío de CONTRASEÑA, este nos servirá para validar la autenticidad de tu usuario.</p>
        </div>
        <form class="form-uppercase mb-4" @submit.prevent="submitForm">
          <div v-if="loading" class="py-4 text-center">
            <div class="spinner-border text-success" role="status"></div>
          </div>
          <div class="form-group wd-360 mx-auto" v-if="!loading && recoveryMethods && !success">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <label class="container-radio">
                    <input type="radio"  name="radio" value="2" checked v-model="method">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <input type="text" class="form-control outline" placeholder="Teléfono" v-model="recoveryMethods.phone" readonly/>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <label class="container-radio">
                    <input type="radio" name="radio" value="1" v-model="method">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <input type="text" class="form-control outline" placeholder="Correo electrónico" v-model="recoveryMethods.email" readonly/>
            </div>

            <div class="mb-3">
              <button type="submit" :class="{'btn btn-light btn-block ld-over-inverse': true, 'running': running}">
              <div class="ld ld-ring ld-spin"></div> Enviar
            </button>
            </div>
            <div class="text-right">
              <router-link :to="{name: 'Login'}" class="text-uppercase text-decoration-none text-white">Regresar</router-link>
            </div>
          </div>

          <div v-if="success" class="my-4 pb-4 text-white wd-360 mx-auto text-justify">
            <p class="mt-4 pt-4">{{ message }}</p>
            <router-link :to="{ name: 'LoginUser', params: {
              username: this.username.toLowerCase(),
              profile: this.type.toLowerCase()
            }}" class="btn btn-light btn-block ld-over-inverse mb-4">
              Regresar a la pantalla principal
            </router-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loading: true,
      running: false,
      type: '',
      method: 2,
      username: this.$route.params.username,
      recoveryMethods: [],
      success: false,
      message: ''
    }
  },
  created() {
    this.getProfileStatus();
    this.getProfileRecoveryMethods();
  },
  watch: {
    $route (to, from){
      this.username = ''
    }
  },
  methods: {
    getProfileStatus() {
      axios.get('/api/profile/status', {
        params: {
          username: this.username.toUpperCase()
        }
      }).then(resp => {
        if (resp.data){
          this.type = resp.data.profile;
        } else {
          this.$router.push({ name: 'Login' });
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      })
    },
    getProfileRecoveryMethods() {
      axios.get('/api/profile/recovery-methods', {
        params: {
          username: this.username.toUpperCase()
        }
      }).then(resp => {
        if (resp.data){
          this.recoveryMethods = resp.data;
          this.recoveryMethods.phone = 'Teléfono: '+resp.data.phone;
          this.recoveryMethods.email = 'Correo: '+resp.data.email;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    },
    submitForm(){
      this.running = true;
      axios.post('/api/profile/send-password-reset', {
        username: this.username.toUpperCase(),
        method: this.method
      }).then(resp => {
        if (resp.data.success){
          this.success = true;
          this.message = resp.data.message;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    }
  }
}
</script>
<style scoped>
.container-radio{
  padding-left: 5px;
  margin-top: -10px;
}
</style>