<template>
  <div id="login-page">
    <div class="container position-relative ht-100">
      <div id="form" class="position-absolute text-center pt-4 mt-4">
        <img src="./../../../assets/images/app/logo-banco-inv.svg" alt="Logo Banco INV" class="mb-4" width="212">
        <form class="form-uppercase bg-green-50 text-white" @submit.prevent="submitForm">
          <div class="row bancas">
            <div class="col-6" @click="type = 'BPER'">
              <img src="./../../../assets/images/icons/icon-persona.svg" alt="" class="mb-3" width="100">
              <h5 class="text-uppercase">Banca persona</h5>
              <div @click="type = 'BPER'" :class="{'circle': true, 'active': type == 'BPER'}"></div>
            </div>
            <div class="col-6" @click="type = 'BEMP'">
              <img src="./../../../assets/images/icons/icon-empresa.svg" alt="" class="mb-3" width="100">
              <h5 class="text-uppercase">Banca empresa</h5>
              <div @click="type = 'BEMP'" :class="{'circle': true, 'active': type == 'BEMP'}"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control outline" placeholder="Usuario" v-model="username">
          </div>
          <div class="form-group">
            <button type="submit" :class="{'btn btn-light btn-block ld-over-inverse': true, 'running': running}">
              <div class="ld ld-ring ld-spin"></div> Continuar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      running: false,
      type: 'BPER',
      profile: {
        BPER: 'Persona',
        BEMP: 'Empresa'
      },
      username: ''
    }
  },
  watch: {
    $route (to, from){
      this.username = '';
    }
  },
  created(){
    console.log('created')
  },
  methods: {
    submitForm() {
      this.getProfileStatus()
    },

    getProfileStatus() {
      this.running = true;
      axios.get('/api/profile/status', {
        params: {
          username: this.username.toUpperCase()
        }
      }).then(resp => {
        if (resp.data && resp.data !== "") {
          if (resp.data.active === true) {
            if (resp.data.profile == this.type) {
              // CONTRASEÑA E IMAGEN DE PERFIL
              if (resp.data.status === "") { 
                this.$router.push({ name: 'LoginUser', params: { 
                  profile: resp.data.profile.toLowerCase(), 
                  username: this.username.toLowerCase() 
                }});
              }
              // ENVIAR CONTRASENA SMS EMAIL
              if (resp.data.status === "R") { 
                this.$router.push({ name: 'EnviarContrasenaSMSEmailUser', params: { 
                  profile: resp.data.profile.toLowerCase(), 
                  username: this.username.toLowerCase() 
                }});
              }

              // ACTUALIZAR CONTRASENA TEMPORAL
              if (resp.data.status === "V") { 
                this.$router.push({ name: 'LoginUser', params: { 
                  profile: resp.data.profile.toLowerCase(), 
                  username: this.username.toLowerCase() 
                }});
              }

              // ENVIAR 
              if (resp.data.status === "S") { 
                this.$router.push({ name: 'LoginUser', params: { 
                  profile: resp.data.profile.toLowerCase(), 
                  username: this.username.toLowerCase() 
                }});
              }
            } else {
              this.$dialogs.alert("El tipo de banca no coincide", window.slimDialogError);
            }
          } else {
            this.$dialogs.alert("Esta cuenta se encuentra inactiva, por favor contáctese con el banco", window.slimDialogError);
          }
        } else {
          this.$router.push({ name: 'LoginUser', params: { 
            profile: 'bper', 
            username: this.username.toLowerCase() 
          }});
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.running = false
      });
    }
  }
}
</script>

<style scoped>
  #login-page{
    background-image: url('./../../../assets/images/app/background-login.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
  }
  #login-page .container{
    min-height: 100vh;
  }
  #form{
    width: 450px;
    max-width: 100%;
    right: 0;
    margin-right: 15px;
    bottom: 0;
  }
  #form form{
    padding: 4.5rem 5rem 5.5rem;
  }
  #form .bancas{
    margin-bottom: 5rem;
    cursor: pointer;
  }
  #form .circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.25);
    margin: 5px auto;
    cursor: pointer;
  }
  #form .circle:hover{
     background-color: rgba(110, 145, 67, 0.4);
  }
  #form .circle.active{
    background-color: #65B245;
  }
  @media screen and (max-width: 640px){
    #form form{
      padding: 2.5rem;
    }
    #form{
      position: relative!important
    }
  }
</style>  