<template>
  <div id="login-page" class="login-2">
    <div class="container py-4">
      <router-link to="/login">
        <img src="./../../../assets/images/app/logo-banco-inv.svg" alt="Logo Banco INV" class="mb-4" width="172">
      </router-link>
      <div :class="{'bg-security-password mx-auto my-3 pb-4 pt-2 ld-over-inverse': true, 'running': loading}">
        <div class="ld ld-ring ld-spin"></div>
        <div class="bg-security__header__password">
          <div class="bg-security__header__box">
            <div class="text-white text-right mr-3 font-weight-bold">BANCA</div>
            <div class="text-white text-right mr-3 font-weight-bold text-uppercase">
              <span v-if="profile == 'bper'">Persona</span>
              <span v-if="profile == 'bemp'">Empresa</span>
            </div>
          </div>
          <img v-if="profile == 'bper'" src="./../../../assets/images/icons/icon-persona.svg" alt="" width="60">
          <img v-if="profile == 'bemp'" src="./../../../assets/images/icons/icon-empresa.svg" alt="" width="60">
        </div>
        <div class="mb-3" v-if="image && !loading">
          <img :src="'data:image/jpeg;base64,'+image" alt="" class="w-100">
        </div>
        <div class="mb-3" v-if="image == '' && !loading">
          <img src="./../../../assets/images/slider/img-bank.png" alt="" class="w-100">
        </div>
        <form class="mb-4 p-3" @submit.prevent="submitForm" v-if="user">
          <div class="form-group wd-360 mx-auto">
            <div>
              <h4 class="text-white text-center mb-3">{{ phrase }}</h4>
            </div>
            <input type="text" name="user" hidden="hidden" disabled="disabled">
            <div class="position-relative">
              <input id="input-password" ref="password" :type="inputPasswordType" placeholder="CONTRASEÑA" required="required" class="form-control outline mb-3 text-transform-none" v-model="password" >
              <svg v-if="inputPasswordType == 'password'" @click="inputPasswordType = 'text'" class="text-white icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
              <svg v-if="inputPasswordType == 'text'" @click="inputPasswordType = 'password'" class="text-white icon-eye" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
                <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
              </svg>
            </div>
            <div class="mb-3">
              <button type="submit" :class="{'btn btn-light btn-block ld-over-inverse': true, 'running': running}">
                <div class="ld ld-ring ld-spin"></div>INGRESAR
              </button>
            </div>
            <div class="text-right">
              <router-link :to="{
                name: 'RecuperarContrasenaUser',
                params: {
                  username: this.username
                }
              }" class="text-uppercase text-decoration-none text-white">Recuperar contraseña</router-link>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loading: true,
      running: false,
      type: 'BPER',
      inputPasswordType: 'password',
      profile: this.$route.params.profile,
      username: this.$route.params.username,
      image: '',
      phrase: '',
      password: '',
      user: false
    }
  },
  created() {
    this.loadProfile();
    this.inputPasswordType = 'password';
    this.password = '';
  },
  watch: {
    $route (to, from){
      this.loadProfile();
    }
  },
  methods: {
    loadProfile(){
      this.password = '';
      this.phrase = '';
      this.image = '';
      if (this.$route.params.username){
        this.username = this.$route.params.username;
        this.profile = this.$route.params.profile;
        axios.get('/api/profile', {
          params: {
            username: this.username.toLowerCase()
          }
        }).then(resp => {
          if (resp.data && resp.data !== "") {
            this.image = resp.data.image,
            this.phrase = resp.data.phrase
          }
          this.user = true;
          setTimeout(() => {
            this.$refs.password.focus()
          }, 200);
        }).catch(error => {
          this.$dialogs.alert(error, window.slimDialogError);
        }).then(() => {
          this.loading = false;
          
        });
      }
    },
    submitForm(){
      this.running = true;
      axios.post('/api/auth/signin', {
        username: this.username.toUpperCase(),
        password: this.password,
        profile: this.profile.toUpperCase()
      }).then(resp => {
        if (resp.data.error){
          this.$dialogs.alert(resp.data.error_description, window.slimDialogError);
        } else {
          delete resp.data['as:client_id'];
          localStorage['inv.user'] = JSON.stringify(resp.data);
          window.axios.defaults.headers.common['Authorization-Bearer'] = resp.data.access_token;

          if (resp.data.update_pass == "1"){
            this.$router.push({ name: 'ActualizarContrasenaTemporalS', params: { 
              profile: resp.data.profile.toLowerCase(), 
              username: this.username.toLowerCase() 
            }});
          } else {
            if (resp.data.status === "") { 
              // TOKEN EXPIRATION
              resp.data.expires_date = Date.parse(new Date()) + (resp.data.expires_in * 1000);
              localStorage['inv.user'] = JSON.stringify(resp.data);
              if (resp.data.profile == 'BPER'){
                this.$router.push({ name: 'PersonaInicio'});
              } else {
                this.$router.push({ name: 'EmpresaInicio'});
              }
            }

            // LLENAR FORMULARIO IMAGEN, FRASE Y PREGUNTAS
            if (resp.data.status === "V") { 
              this.$router.push({ name: 'ActualizarContrasenaTemporalUser', params: { 
                profile: resp.data.profile.toLowerCase(), 
                username: this.username.toLowerCase() 
              }});
            }

            // CAMBIAR CONTRASEÑA
            if (resp.data.status === "S") { 
              this.$router.push({ name: 'ActualizarContrasenaTemporalS', params: { 
                profile: resp.data.profile.toLowerCase(), 
                username: this.username.toLowerCase() 
              }});
            }
          }
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.running = false;
      });
    }
  }
}
</script>
