<template>
  <div id="login-page" class="login-2">
    <div class="container py-3">
      <router-link to="/login">
        <img src="./../../../assets/images/app/logo-banco-inv.svg" alt="Logo Banco INV" class="mb-4" width="196">
      </router-link>

      <div class="bg-security-password mx-auto my-3 pb-4 pt-2">
        <div class="bg-security__header__password">
          <div class="bg-security__header__box">
            <div class="text-white text-right mr-3 font-weight-bold">BANCA</div>
            <div class="text-white text-right mr-3 font-weight-bold">PERSONA</div>
          </div>
          <img src="./../../../assets/images/icons/icon-persona.svg" alt="" width="60">
        </div>
        <div class="mb-4 text-white wd-360 mx-auto lead text-justify" v-if="!recoveryQuestions.message">
          <p>Si olvidaste tu contraseña de acceso, solicita una contraseña temporal. Recuerda debes mantener tus datos actualizados para recibir tu contraseña temporal.</p>
          <p>Mayor información al: <a href="tel:23156600" class="text-reset font-weight-bold">2315-6600</a></p>
        </div>
        <div class="mb-4 text-white wd-360 mx-auto lead text-justify" v-if="recoveryQuestions.message">
          <p class="mb-3 text-white" >{{ recoveryQuestions.message }}</p>
        </div>
        <form class="form-uppercase mb-4" @submit.prevent="submitForm">

          <div class="form-group wd-360 mx-auto" v-if="!success">
            
            <input type="text" class="form-control outline mb-3" v-model="username" readonly>

            <div class="select dropdown-toggle position-relative mb-3">
              <select class="form-control outline" v-model="method">
                <option>Recuperar por</option>
                <option value="1">Correo</option>
                <option value="2">Teléfono</option>
              </select>
            </div>

            <div class="mb-3" id="method-email" v-if="method == 1">
              <input type="text" class="form-control outline" readonly v-model="profile.data.email">
            </div>

            <div class="mb-3" id="method-email" v-if="method == 2">
              <input type="text" class="form-control outline" readonly v-model="profile.data.phone">
            </div>
            <hr>
            <div class="mb-3" id="method-questions" >
              <div class="form-group mb-3" v-for="(q, i) in recoveryQuestions.data" :key="i">
                <span class="text-white d-block mb-1 text-uppercase f-13">{{ q.name }}</span>
                <input type="text" class="form-control outline" placeholder="Respuesta" required v-model="q.a">
              </div>
            </div>

            <div class="mb-3">
              <button type="submit" :class="{'btn btn-light btn-block ld-over-inverse': true, 'running': running}">
                <div class="ld ld-ring ld-spin"></div> Recuperar
              </button>
            </div>
            
            <div class="text-right">
              <router-link :to="{ name: 'Login' }" class="text-uppercase text-decoration-none text-white">Regresar</router-link>
            </div>
          </div>

          <div v-if="success" class="my-4 pb-4 wd-360 mx-auto text-center text-white text-justify">
            <p class="mt-4 pt-4">{{ message }}</p>
            <router-link :to="{ name: 'Login' }" class="btn btn-light btn-block ld-over-inverse mb-4">
              Regresar a la pantalla principal
            </router-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      type: 'BPER',
      running: false,
      username: this.$route.params.username,
      method: 'Recuperar por',
      message: '',
      recoveryQuestions: {
        loading: true,
        message: '',
        data: [],
      },
      profile: {
        loading: true,
        message: '',
        data: [],
      },
      success: false
    }
  },
  created(){
    this.loadProfile();
    this.getProfileStatus();
    this.getRecoveryQuestions();
  },
  methods: {
    loadProfile(){
      axios.get('/api/profile/recovery-methods', {
        params: {
          username: this.username.toUpperCase()
        }
      }).then(resp => {
        if (resp.status == 200 && resp.data){
          this.profile.data = resp.data;
        }
        this.profile.message = resp.data.message ? resp.data.message : '';
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.profile.loading = false;
      });
    },
    getProfileStatus() {
      axios.get('/api/profile/status', {
        params: {
          username: this.username.toUpperCase()
        }
      }).then(resp => {
        if (resp.data){
          this.type = resp.data.profile;
        } else {
          this.$router.push({ name: 'Login' });
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      })
    },
    getRecoveryQuestions() {
      axios.get('/api/profile/recovery-questions', {
        params: {
          username: this.username
        }
      }).then(resp => {
        console.log('questions', resp.data)
        if (resp.data.length){
          this.recoveryQuestions.data = resp.data;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(()=>{
        this.recoveryQuestions.loading = false;
      });
    },
    submitForm() {
      this.running = true;
      let questions = [];
      this.recoveryQuestions.data.forEach(item => {
        questions.push({id: item.id, answer: item.a })
      })
      axios.post('/api/profile/password-recovery', {
        username: this.username.toUpperCase(),
        method: this.method,
        answers: questions
      }).then(resp => {
        this.recoveryQuestions.message = resp.data.message
        if (resp.data.success){
          this.success = true;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(()=>{
        this.running = false;
      });
    },
  }
}
</script>
<style scoped>
  .f-13{
    font-size: 13px;
  }
</style>