<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Compra/venta de divisas</h2>
      <div class="row text-uppercase mb-4 pb-4">
        <div class="col-md-6 offset-md-3">
          <div v-if="exchangeRate.loading" class="py-4 text-center">
            <div class="spinner-border text-success" role="status"></div>
          </div>
          <div class="py-4 text-center" v-if="!exchangeRate.loading && exchangeRate.message != ''">
            <h6 class="text-danger">{{ exchangeRate.message }}</h6>
          </div>
          <div v-if="!exchangeRate.loading && exchangeRate.data.appBuy" class="row form-row">
            <div class="col-md-6 text-center">
              <h5>Agencia<br><small class="font-weight-bold">Dólar</small></h5>
              <div class="d-flex p-2 bg-light-gray rounded-10 mb-1">
                <div class="col">Compra</div>
                <div class="col">Venta</div>
              </div>
              <div class="d-flex p-2 bg-green-2 text-white rounded-10 mb-2">
                <div class="col">{{ exchangeRate.data.agencyBuy.toFixed(2) }}</div>
                <div class="col">{{ exchangeRate.data.agencySell.toFixed(2) }}</div>
              </div>
              <small>*Tasa de cambio preferencial</small>
            </div>
            <div class="col-md-6 text-center">
              <h5>En línea<br><small class="font-weight-bold">Dólar</small></h5>
              <div class="d-flex p-2 bg-light-gray rounded-10 mb-1">
                <div class="col">Compra</div>
                <div class="col">Venta</div>
              </div>
              <div class="d-flex p-2 bg-green-2 text-white rounded-10 mb-2">
                <div class="col">{{ exchangeRate.data.appBuy.toFixed(2) }}</div>
                <div class="col">{{ exchangeRate.data.appSell.toFixed(2) }}</div>
              </div>
              <small>*Tasa de cambio preferencial</small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="mb-4 pb-4">
        <h4 class="text-uppercase text-center subtitle">Cambio de Divisas</h4>
        <div class="wd-700 mx-auto">
          <div class="text-center py-4 my-4" v-if="accounts.loading" >
            <div class="spinner-border text-success" role="status"></div>
          </div>
          <div class="text-center py-4 my-4" v-if="accounts.message">
            <h6 class="text-danger">{{ accounts.message }}</h6>
          </div>
        </div>
        <form class="wd-700 mx-auto form-uppercase mb-4" v-if="!accounts.loading" @submit.prevent="submitForm">
          <div class="form-row form-uppercase">
            <div class="col-md-6 mb-3">
              <div class="select dropdown-toggle position-relative">
                <select class="form-control" required v-model="transaction">
                  <option disabled>Compra o venta</option>
                  <option>Compra</option>
                  <option>Venta</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="select dropdown-toggle position-relative">
                <select class="form-control" v-model="sourceAccount" required>
                  <option disabled>Seleccione cuenta a debitar</option>
                  <option v-for="(acc, i) in (accounts.data.sourceAccountsFiltered)" :key="i" :value="acc">
                    {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="select dropdown-toggle position-relative">
                <select class="form-control" required v-model="currencySelected">
                  <option disabled>Moneda</option>
                  <option disabled>Quetzales</option>
                  <option>Dólares</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <input type="number" class="form-control" placeholder="Monto a cambiar" v-model="amount" step="0.01">
            </div>
            <div class="col-md-6 mb-3">
              <div class="select dropdown-toggle position-relative">
                <select class="form-control" v-model="destinationAccount" required>
                  <option disabled>Seleccione cuenta a acreditar</option>
                  <option v-for="(acc, i) in (accounts.data.destinationAccountsFiltered)" :key="i" :value="acc">
                    {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" placeholder="Comentario (Máximo 50 ctrs.)" maxlength="50" v-model="description">
            </div>
            <div class="col-md-12 mb-3 text-right">
              <button class="btn btn-primary" type="submit">Continuar</button>
            </div>
          </div>
        </form>
      </div>

      <div class="mb-4">
        <h4 class="text-uppercase text-center subtitle mb-4">Seguimiento</h4>
        <table-divisas-empresa-inv :id="'table-divisas'" :loading="exchangeHistory.loading" 
          :header="exchangeHistory.header" 
          :rows="exchangeHistory.rows" 
          :show="exchangeHistory.show"
          :formatDate="exchangeHistory.formatDate"
          :formatCurrency="exchangeHistory.formatCurrency"
          :message="exchangeHistory.message"
          :name="'EmpresaDivisasConfirmar'"
          :backButton="'EmpresaDivisas'"
          :finish="'EmpresaDivisasRealizada'"
          >
        </table-divisas-empresa-inv>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      sourceAccount: 'Seleccione cuenta a debitar',
      destinationAccount: 'Seleccione cuenta a acreditar',
      transaction: 'Compra o venta',
      currencySelected: 'Dólares',
      accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: [],
          sourceAccountsFiltered: [],
          destinationAccounts: [],
          destinationAccountsFiltered: []
        }
      },
      account: 'Seleccione cuenta a debitar',
      exchangeHistory: {
        loading: true,
        header: ['Fecha', 'Transacción', 'Descripción', 'Monto', 'Tasa de Cambio', 'Total', 'Estado','Opciones'],
        show: ['date', 'number', 'type', 'amount', 'rate', 'total'],
        formatCurrency: ['amount', 'rate', 'total'],
        formatDate: [],
        message: 'No tienes transacciones realizadas',
        rows: []
      },
      exchangeRate: {
        loading: true,
        message: '',
        data: []
      },
      amount: '',
      description: ''
    }
  },
  watch: {
    transaction(val, old){
      if (!this.$route.params.amount) {
        this.sourceAccount = 'Seleccione cuenta a debitar';
        this.destinationAccount = 'Seleccione cuenta a acreditar';
        if (val == 'Compra') {
          this.accounts.data.sourceAccountsFiltered = this.accounts.data.sourceAccounts.filter((el) => {
            return el.currency == 'QUE';
          });
          this.accounts.data.destinationAccountsFiltered = this.accounts.data.destinationAccounts.filter((el) => {
            return el.currency == 'US$';
          });
        }
        if (val == 'Venta') {
          this.accounts.data.sourceAccountsFiltered = this.accounts.data.sourceAccounts.filter((el) => {
            return el.currency == 'US$';
          });
          this.accounts.data.destinationAccountsFiltered = this.accounts.data.destinationAccounts.filter((el) => {
            return el.currency == 'QUE';
          });
        }
      }
    }
  },
  computed: {
    formConfirmar() {
      let amountAcreditar;
      if ( this.sourceAccount.currency == 'QUE' && this.destinationAccount.currency == 'US$'){
        amountAcreditar = (this.amount/this.exchangeRate.data.appSell).toFixed(2);
      }
      if (this.sourceAccount.currency == 'US$' && this.destinationAccount.currency == 'QUE'){
        amountAcreditar = (this.amount*this.exchangeRate.data.appBuy).toFixed(2);
      }
      return {
        apiUrl: '/api/transfers/enterprise/exchange/transfer',
        dataApi: {
          email: '',
          origin: this.sourceAccount.number,
          destination: this.destinationAccount.number,
          amount: this.amount,
          description: this.description
        },
        backButton: 'EmpresaDivisas',
        backButtonParams: this.$data,
        finish: 'EmpresaDivisasCambioRealizada',
        title: 'Confirmar Cambio de Divisas',
        col1: [
          {
            name: 'Transacción',
            value: this.transaction
          },
          {
            name: 'Cuenta a debitar',
            value: this.sourceAccount.number
          },
          {
            name: 'A nombre de',
            value: this.sourceAccount.name,
            lines: 2
          },
          {
            name: 'Cobro',
            value: this.amount,
            currency: this.currency[this.sourceAccount.currency][1]
          },
          {
            name: 'Comentario',
            value: this.description
          }            
        ],
        col2: [
          {
            name: 'Tasa de cambio',
            value: this.transaction == 'Venta' ? this.exchangeRate.data.appBuy.toFixed(2) : this.exchangeRate.data.appSell.toFixed(2) 
          },
          {
            name: 'Cuenta a acreditar',
            value: this.destinationAccount.number
          },
          {
            name: 'A nombre de',
            value: this.destinationAccount.name,
            lines: 2
          },
          {
            name: 'Monto',
            value: amountAcreditar,
            currency: this.currency[this.destinationAccount.currency][1]
          },
          {
            name: 'Moneda',
            value: this.currencySelected
          }            
        ]
      }
    }
  },
  created() {
    if (this.$route.params.amount) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.getOwnAccounts();
      this.loadExchangeHistory();
      this.getExchangeRate();
    }
  },
  methods: {
    getExchangeRate() {
      axios.get('/api/transfers/exchange/rate').then( resp => {
        if (resp.data.message){
          this.exchangeRate.message = resp.data.message
        } else {
          this.exchangeRate.data = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.exchangeRate.loading = false;
      });
    },
    getOwnAccounts(){
      axios.get('/api/transfers/enterprise/own/accounts').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts;
          this.accounts.data.sourceAccountsFiltered = resp.data.sourceAccounts;
          this.accounts.data.destinationAccounts = resp.data.destinationAccounts;
          this.accounts.data.destinationAccountsFiltered = resp.data.destinationAccounts;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    loadExchangeHistory() {
      axios.get('/api/transfers/enterprise/transactions', {
        params: {
          type: 'DIV'
        }
      }).then( resp => {
        console.log('resp', resp.data)
        if (resp.data.message){
          this.exchangeHistory.message = resp.data.message
        } else {
          this.exchangeHistory.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.exchangeHistory.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'EmpresaDivisasCambioConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>