<style>
  .exchange{
    font-size: 0.675rem;
    line-height: 1.6;
  }
  #top-navbar .nav-item a:hover{
    background-color:rgba(110, 145, 67, 0.35);
  }
  #top-navbar .router-link-active{
    background-color: #6e9143;
  }
</style>
<template>
  <div>
    <header>
      <nav class="navbar navbar-dark container-fluid bg-green-gradient-1 py-0" id="top-navbar">
        <div class="container py-0">
          <span class="text-white text-uppercase">
            <span class="welcome mr-2">Bienvenido (a)</span> {{ profile.data.fullName }}
          </span>
          <ul class="navbar-nav ml-auto flex-row align-items-center ">
            <li class="nav-item text-right">
              <span class="d-block mr-3 text-white exchange" v-if="exchangeRate.data.appBuy">
                COMPRA: Q.{{ exchangeRate.data.appBuy.toFixed(2) }}<br>
                VENTA: Q.{{ exchangeRate.data.appSell.toFixed(2) }}
              </span>
            </li>
            <li class="nav-item text-center">
              <router-link to="/persona/perfil" class="nav-link">
                <img src="./../../../../assets/images/icons/icon-persona.svg" class="mx-1" alt="" height="34">
              </router-link>
            </li>
            <li class="nav-item text-center">
              <a href="#" class="nav-link" @click="logout">
                <img src="./../../../../assets/images/icons/icon-logout.svg" alt="" class="mx-1" height="34">
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="fixed-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-gray-gradient-1 py-0" id="medium-navbar">
          <div class="container">
            <router-link class="navbar-brand" to="/persona">
              <img src="./../../../../assets/images/app/logo-banco-inv.svg" alt="Logo Banco INV" width="150">
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-menu">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <router-link to="/persona/mis-cuentas" class="nav-link text-center">
                    <img src="../../../../assets/images/icons/icon-mis-cuentas.svg" alt="" height="40">
                    <span class="d-block">Mis cuentas</span>
                  </router-link>
                </li>
                <li class="nav-item text-center">
                  <router-link to="/persona/transferencias" class="nav-link text-center">
                    <img src="../../../../assets/images/icons/icon-transferencias.svg" alt="" height="40">
                    <span class="d-block">Transferencias</span>
                  </router-link>
                </li>
                <li class="nav-item text-center">
                  <router-link to="/persona/pagos" class="nav-link text-center">
                    <img src="../../../../assets/images/icons/icon-pagos.svg" alt="" height="40">
                    <span class="d-block">Pagos</span>
                  </router-link>
                </li>
                <li class="nav-item text-center">
                  <router-link to="/persona/divisas" class="nav-link text-center">
                    <img src="../../../../assets/images/icons/icon-divisas.svg" alt="" height="40">
                    <span class="d-block">Divisas</span>
                  </router-link>
                </li>
                <li class="nav-item text-center">
                  <router-link to="/persona/financiamiento" class="nav-link text-center">
                    <img src="../../../../assets/images/icons/icon-financiamiento.svg" alt="" height="40">
                    <span class="d-block">Financiamiento</span>
                  </router-link>
                </li>
                <li class="nav-item text-center">
                  <router-link to="/persona/solicitar" class="nav-link text-center">
                    <img src="../../../../assets/images/icons/icon-solicitar.svg" alt="" height="40">
                    <span class="d-block">Solicitar</span>
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <nav class="navbar navbar-dark container-fluid bg-green-gradient-2 py-0" id="bottom-navbar">
          <div class="container">
            <ul :class="{ 'navbar-nav ml-auto mr-auto d-flex flex-row': true, 'invisible': menuItems && menuItems.invisible }" id="bottom-menu">
              <li class="nav-item" v-for="(item, index) in menuItems.children" :key="index">
                <router-link :to="'/persona/'+menuItems.parent+item.path" class="nav-link text-center px-4">{{ item.name }}</router-link>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </div>
</template>
<script>
export default {
  data() {
    return {
      submenuLinks: [
        { 
          parent: 'inicio', 
          invisible: true,
          children: [
            { name: 'Inicio', path: '' },
          ]
        },
        { 
          parent: 'perfil', 
          children: [
            { name: 'Información', path: '/informacion' },
            { name: 'Imagen y frase', path: '/imagen-y-frase' },
            { name: 'Contraseñas', path: '/contrasenas' },
            { name: 'Preguntas', path: '/preguntas' }
          ]
        },
        { 
          parent: 'mis-cuentas', 
          children: [
            { name: 'Consulta', path: '/consulta' },
            { name: 'Gestiones', path: '/gestiones' }
          ]
        },
        {
          parent: 'transferencias',
          children: [
            { name: 'Entre cuentas propias INV', path: '/cuentas-propias' },
            { name: 'A cuenta de terceros INV', path: '/cuenta-de-terceros' },
            { name: 'A cuenta otros bancos locales', path: '/otros-bancos' }
          ]
        },
        {
          parent: 'pagos',
          children: [
            { name: 'Favoritos', path: '/favoritos' },
            { name: 'Préstamos', path: '/prestamos' },
            //{ name: 'Servicios', path: '/servicios' }
          ]
        },
        {
          parent: 'divisas',
          invisible: true,
          children: [
            { name: 'Divisas', path: '/divisas' },
          ]
        },
        {
          parent: 'financiamiento',
          children: [
            { name: 'Solicitar', path: '/solicitar' },
            { name: 'Préstamos', path: '/prestamos' }
          ]
        },
        {
          parent: 'solicitar',
          children: [
            { name: 'Solicitudes', path: '/solicitudes' },
            //{ name: 'Registro Portal SIB', path: '/registro-portal-sib' }
          ]
        },
      ],
      menuItems: {},
      exchangeRate: {
        loading: true,
        message: '',
        data: []
      },
      profile: {
        loading: true,
        message: '',
        data: [],
      }
    }
  },
  computed: {
    currentPath() {
      return this.$router.currentRoute.path.split('/');
    }
  },
  watch: {
    $route(to, from) {
      if (document.querySelector('.collapse.show')){
        document.querySelector('.navbar-toggler').click()
      }
      this.menuItems = this.submenuLinks.filter(link => link.parent == to.path.split('/')[2])[0];
    }
  },
  created() {
    this.menuItems = this.submenuLinks.filter(link => link.parent == this.currentPath[2] )[0];
    this.getExchangeRate();
    this.loadProfile();
  },
  methods: {
    getExchangeRate() {
      axios.get('/api/transfers/exchange/rate').then( resp => {
        if (resp.data.message){
          this.exchangeRate.message = resp.data.message
        } else {
          this.exchangeRate.data = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.exchangeRate.loading = false;
      });
    },
    loadProfile(){
      axios.get('/api/profile/personal').then(resp => {
        if (resp.status == 200 && resp.data){
          this.profile.data = resp.data;
        }
        this.profile.message = resp.data.message ? resp.data.message : '';
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.profile.loading = false;
      });
    },
    logout(){
      localStorage.clear();
      window.location = '/login';
    }
  }
}
</script>
