<template>
  <div>
    <div class="container">
      <solicitudes-icons class="mb-4 pb-3"></solicitudes-icons>
      <h2 class="h3 text-uppercase text-center title">Solicitar cheque de caja</h2>

      <form class="wd-360 mx-auto text-center" @submit.prevent="submitForm">
        <div class="text-center py-4 my-4" v-if="accounts.loading" >
          <div class="spinner-border text-success" role="status"></div>
        </div>
        <div class="text-center py-4 my-4" v-if="accounts.message">
          <h6 class="text-danger">{{ accounts.message }}</h6>
        </div>
        <div class="form-row form-uppercase">
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="sourceAccount" required>
                <option disabled>Seleccione cuenta</option>
                <option v-for="(acc, i) in (accounts.data.sourceAccounts)" :key="i" :value="acc">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="agency" required>
                <option>Agencia</option>
                <option value="1">Principal</option>
                <option value="2">Secundaria</option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <input type="number" class="form-control" placeholder="Monto" v-model="amount" step="0.01" required>
          </div>
          <div class="col-12 form-group">
            <div class="select dropdown-toggle position-relative">
              <select class="form-control" required v-model="selectedCurrency">
                <option>Moneda</option>
                <option value="QUE">Quetzales</option>
                <option value="US$">Dólares</option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <input type="text" class="form-control" placeholder="A nombre de" v-model="name" required>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Solicitar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      sourceAccount: 'Seleccione cuenta',
      accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: []
        }
      },
      agency: 'Agencia',
      amount: '',
      selectedCurrency: 'Moneda',
      name: ''
    }
  },
  computed: {
    formConfirmar() {
      let agency = (this.agency == 1) ? 'Principal' : 'Secundaria';
      return {
        apiUrl: '/api/accounts/requests/cashier-check',
        dataApi: {
          account: this.sourceAccount.number,
          agency: this.agency,
          amount: this.amount,
          currency: this.selectedCurrency,
          recipient: this.name
        },
        backButton: 'PersonaSolicitarSolicitudesSolicitarChequeDeCaja',
        backButtonParams: this.$data,
        finish: 'PersonaSolicitarSolicitudesSolicitarChequeDeCajaRealizada',
        title: 'Confirmar solicitud de Cheque de Caja',
        col1: [
          {
            name: 'Cuenta',
            value: this.sourceAccount.number
          },
          {
            name: 'Nombre',
            value: this.sourceAccount.name
          },
          {
            name: 'Agencia',
            value: agency,
          },
          {
            name: 'Monto',
            value: this.amount,
            currency:  this.sourceAccount.currency ? this.currency[this.sourceAccount.currency][1] : 'Q.'
          },
          {
            name: 'Moneda',
            value: this.selectedCurrency,
          },
          {
            name: 'Beneficiario',
            value: this.name
          },
        ],
      }
    }
  },
  created() {
    if (this.$route.params.currency) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.getOwnAccounts();
    }
  },
  methods: {
    getOwnAccounts(){
      axios.get('/api/transfers/own/accounts').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'PersonaSolicitarSolicitudesSolicitarChequeDeCajaConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>