<template>
  <div>
    <div class="container">
      <solicitudes-icons class="mb-4 pb-3"></solicitudes-icons>
      <h2 class="h3 text-uppercase text-center title">Solicitar chequera</h2>
      
      <form class="wd-360 mx-auto text-center" @submit.prevent="submitForm">
        <div class="text-center py-4 my-4" v-if="accounts.loading" >
          <div class="spinner-border text-success" role="status"></div>
        </div>
        <div class="text-center py-4 my-4" v-if="accounts.message">
          <h6 class="text-danger">{{ accounts.message }}</h6>
        </div>
        <div class="form-row form-uppercase" v-if="!accounts.loading">
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="sourceAccount" required>
                <option disabled>Seleccione cuenta</option>
                <option v-for="(acc, i) in (accounts.data.sourceAccounts)" :key="i" :value="acc">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <input type="number" class="form-control" placeholder="Cantidad de Chequeras" min="1" max="4" v-model="quantity">
          </div>
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="type" required>
                <option>Seleccione cantidad de cheques</option>
                <option value="25">25 cheques</option>
                <option value="50">50 cheques</option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group text-left pl-4">
            <b class="text-uppercase mr-3 ml-1">Codo:</b>
            <label class="container-radio"> SI
              <input type="radio" checked="checked" name="radio" value="Con Codo" v-model="codo">
              <span class="checkmark"></span>
            </label>
            <label class="container-radio"> NO
              <input type="radio"  name="radio" value="Sin Codo" v-model="codo">
              <span class="checkmark"></span>
            </label>
            <div class="ml-1">
              <small class="text-uppercase">Recoger en agencia central</small>
            </div>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Solicitar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      type: 'Seleccione cantidad de cheques',
      quantity: '',
      codo: 'Con Codo',
      sourceAccount: 'Seleccione cuenta',
      accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: []
        }
      }
    }
  },
  created() {
    if (this.$route.params.currency) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.getOwnAccounts();
    }
  },
  computed: {
    formConfirmar() {
      let type = this.type + ' Cheques';
      return {
        apiUrl: '/api/accounts/requests/checkbook',
        dataApi: {
          account: this.sourceAccount.number,
          type: parseInt(this.type),
          quantity: parseInt(this.quantity),
          register: this.codo == 'Con Codo'
        },
        backButton: 'PersonaSolicitarSolicitudesSolicitarChequera',
        backButtonParams: this.$data,
        finish: 'PersonaSolicitarSolicitudesSolicitarChequeraRealizada',
        title: 'Confirmar solicitud de chequera',
        col1: [
          {
            name: 'Cuenta',
            value: this.sourceAccount.number
          },
          {
            name: 'Nombre',
            value: this.sourceAccount.name
          },
          {
            name: 'Cantidad de Cheques',
            value: type,
          },
          {
            name: 'Cantidad de chequeras',
            value: this.quantity
          },
          {
            name: 'Codo',
            value: this.codo
          },
          {
            name: 'Gastos administrativos',
            value: 'Q.50.00'
          },
          {
            name: 'Recoger',
            value: 'en agencia central'
          }
        ],
      }
    }
  },
  methods: {
    getOwnAccounts(){
      axios.get('/api/transfers/own/accounts').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          console.log(resp.data)
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts.filter((item) => {
            return item.type == 1
          });
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'PersonaSolicitarSolicitudesSolicitarChequeraConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>
<style scoped>
  .checkmark{
    position: absolute;
    border-radius: 20px;
    margin-left: 0;
  }
  .container-radio .checkmark:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
  }
</style>