<template>
  <div>
    <div class="container">
      <solicitudes-icons class="mb-4 pb-3"></solicitudes-icons>
      <h2 class="h3 text-uppercase text-center title">Solicitar tarjeta de débito</h2>
      
      <form class="wd-360 mx-auto text-center" @submit.prevent="submitForm">
        <div class="text-center py-4 my-4" v-if="accounts.loading" >
          <div class="spinner-border text-success" role="status"></div>
        </div>
        <div class="text-center py-4 my-4" v-if="accounts.message">
          <h6 class="text-danger">{{ accounts.message }}</h6>
        </div>
        <div class="form-row form-uppercase" v-if="!accounts.loading">
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="sourceAccount" required>
                <option disabled>Seleccione cuenta</option>
                <option v-for="(acc, i) in (accounts.data.sourceAccounts)" :key="i" :value="acc">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control " v-model="type">
                <option>Tipo de tarjeta</option>
                <option value="1">Principal</option>
                <option value="2">Secundaria</option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="addressType">
                <option>Envío</option>
                <option value="1">Domicilio</option>
                <option value="2">Trabajo</option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <input type="text" class="form-control" placeholder="Dirección" v-model="address">
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Solicitar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      type: 'Tipo de tarjeta',
      addressType: 'Envío',
      sourceAccount: 'Seleccione cuenta',
      address: '',
      accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: []
        }
      },
      profile: {
        loading: true,
        message: '',
        data: [],
      }
    }
  },
  watch: {
    addressType(val){
      if (val == 1) {
        this.address = this.profile.data.address;
      } else {
        this.address = this.profile.data.workAddress
      }
    }
  },
  computed: {
    formConfirmar() {
      let type = (this.type == 1) ? 'Principal' : 'Secundaria';
      let addressType = (this.addressType == 1) ? 'Domicilio' : 'Trabajo';
      return {
        apiUrl: '/api/accounts/requests/debit-card',
        dataApi: {
          account: this.sourceAccount.number,
          type: this.type,
          amount: 0,
          addressType: this.addressType,
          address: this.address
        },
        backButton: 'PersonaSolicitarSolicitudesSolicitarTarjetaDeDebito',
        backButtonParams: this.$data,
        finish: 'PersonaSolicitarSolicitudesSolicitarTarjetaDeDebitoRealizada',
        title: 'Confirmar solicitud de Tarjeta De Débito',
        col1: [
          {
            name: 'Cuenta',
            value: this.sourceAccount.number
          },
          {
            name: 'Nombre',
            value: this.sourceAccount.name
          },
          {
            name: 'Tipo de tarjeta',
            value: type,
          },
          {
            name: 'Envío',
            value: addressType,
          },
          {
            name: 'Dirección',
            value: this.address
          },
        ],
      }
    }
  },
  created() {
    if (this.$route.params.currency) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.getOwnAccounts();
      this.loadProfile();
    }
  },
  methods: {
    loadProfile(){
      axios.get('/api/profile/personal').then(resp => {
        if (resp.status == 200 && resp.data){
          this.profile.data = resp.data;
        }
        this.profile.message = resp.data.message ? resp.data.message : '';
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.profile.loading = false;
      });
    },
    getOwnAccounts(){
      axios.get('/api/transfers/own/accounts').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'PersonaSolicitarSolicitudesSolicitarTarjetaDeDebitoConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>