<template>
  <div>
    <div class="container-fluid position-relative" id="perfil">
      <img src="./../../../../../assets/images/icons/icon-arrow-circle.svg" alt="" width="40" class="arrow-circle">
      <div class="container">
        <div class="row">
          <div class="information col-lg-6 bg-green-2 text-white">
            <h2 class="h3 text-uppercase text-left title">Perfil de seguridad</h2>
            <div v-if="profile.loading" class="py-4 text-center">
              <div class="spinner-border text-white" role="status"></div>
            </div>
            <div v-if="!profile.loading && profile.message" class="py-4 text-center">
              <h6 class="text-white">{{ message }}</h6>
            </div>
            <div v-if="profile.data.fullName">
              <div class="mb-4">
                <b>Nombre:</b><br>
                <p>{{ profile.data.fullName }}</p>
              </div>
              <div class="mb-4">
                <b>Correo electrónico:</b><br>
                <p>{{ profile.data.email }}</p>
              </div>
              <div class="mb-4">
                <b>Teléfono domiciliar:</b><br>
                <p>{{ profile.data.phone }}</p>
              </div>
              <div class="mb-4" v-if="profile.data.address">
                <b>Dirección domiciliar:</b><br>
                <p>{{ profile.data.address  }}</p>
              </div>
              <div class="mb-4" v-if="profile.data.workAddress">
                <b>Dirección laboral:</b><br>
                <p>{{ profile.data.workAddress }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="container">
              <h2 class="h3 text-uppercase text-center title mb-3">Información Personal</h2>
              <p class="text-center">Agradecemos mantener sus datos actualizados</p>
              <form class="wd-360 mx-auto mw-100" @submit.prevent="submitForm">
                <div class="form-row form-uppercase">
                  <div class="col-12 form-group">
                    <input type="email" class="form-control" placeholder="Correo electrónico" v-model="user.email">
                  </div>
                  <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Teléfono Domiciliar" pattern="\d{1,8}" v-model="user.phone">
                  </div>
                  <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Dirección Domiciliar" v-model="user.address">
                  </div>
                  <div class="col-12 form-group">
                    <input type="number" class="form-control" placeholder="Ingresos" v-model="user.income" step="0.01">
                  </div>
                  <div class="col-12 form-group">
                    <input type="number" class="form-control" placeholder="Egresos" v-model="user.outcome" step="0.01">
                  </div>
                  <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Teléfono Laboral" pattern="\d{1,8}" v-model="user.workPhone1">
                  </div>
                  <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Dirección Laboral" v-model="user.workAddress">
                  </div>
                  <div class="col-12 form-group text-center">
                    <button type="submit"  class="btn btn-primary">
                      Actualizar información
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      user: {
        email: '',
        phone: '',
        address: '',
        income: '',
        outcome: '',
        workPhone1: '',
        workAddress: ''
      },
      profile: {
        loading: true,
        message: '',
        data: [],
      }
    }
  },
  created() {
    this.loadProfile()
  },
  computed: {
    formConfirmar() {
      return {
        apiUrl: '/api/profile/personal/update',
        dataApi: this.user,
        backButton: 'PersonaPerfilInformacion',
        finish: 'PersonaPerfilInformacionActualizarRealizada',
        title: 'Confirmar actualización de información',
        col1: [
          {
            name: 'Correo electrónico',
            value: this.user.email
          },
          {
            name: 'Teléfono Domiciliar',
            value: this.user.phone
          },
          {
            name: 'Dirección Domiciliar',
            value: this.user.address
          },
          {
            name: 'Ingresos',
            value: this.user.income,
            currency: 'Q.'
          },
          {
            name: 'Egresos',
            value: this.user.outcome,
            currency: 'Q.'
          },
          {
            name: 'Teléfono Laboral',
            value: this.user.workPhone1
          },
          {
            name: 'Dirección Laboral',
            value: this.user.workAddress
          },        
        ]
      }
    }
  },
  methods: {
    loadProfile(){
      axios.get('/api/profile/personal').then(resp => {
        if (resp.status == 200 && resp.data){
          this.profile.data = resp.data;
        }
        this.profile.message = resp.data.message ? resp.data.message : '';
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.profile.loading = false;
      });
    },
    submitForm() {
      if (this.user.email != '' || this.user.phone != '' || this.user.address != '' ||  this.user.income != '' || 
          this.user.outcome != '' || this.user.workPhone1 != '' || this.user.workAddress != '' ) {
        this.$router.push({
          name: 'PersonaPerfilInformacionActualizarConfirmar',
          params: this.formConfirmar
        });
      }
    }
  }
}
</script>