<template>
  <div>
    <div class="container" id="page-confirmar">
      <h2 class="h3 text-uppercase text-center title">{{ info.title }}</h2>
      <p class="text-center lead mb-4" v-if="info.text">{{ info.text }}</p>

      <div v-for="(cols, ix) in info.cols" :key="ix">
        <div class="row form-confirmar-exito text-uppercase mb-4 pb-4" v-if="cols.col1 && cols.col2">
          <div class="col-12" v-for="(col, index) in cols.col1" :key="index">
            <div v-if="col.type && col.type == 'image-url'" class="image-url">
              <span class="text-center d-block">
                <img :src="col.value" alt="" width="128">
              </span>
            </div>
          </div>
          <div class="col-md-6" v-if="cols.col1">
            <div class="position-relative ml-3 mb-3" v-for="(col, index) in cols.col1" :key="index">
              <div v-if="col.name">
                <b class="d-block">{{ col.name }}</b>
                <span :class="{'d-block': true, 'lines-2': col.lines && col.lines == 2 }">
                  <span v-if="col.currency">{{ col.value | currency({ symbol: col.currency }) }}</span>
                  <span v-else>{{ col.value }}</span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6" v-if="cols.col2">
            <div class="position-relative ml-3 mb-3" v-for="(col, index) in cols.col2" :key="index">
              <div v-if="col.name">
                <b class="d-block">{{ col.name }}</b>
                <span :class="{'d-block': true, 'lines-2': col.lines && col.lines == 2 }">
                  <span v-if="col.currency">{{ col.value | currency({ symbol: col.currency }) }}</span>
                  <span v-else>{{ col.value }}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wd-700 mx-auto text-uppercase mb-4 pb-4" v-if="info.comment">
        <div class="form-group">
          <textarea rows="4" class="form-control" v-model="info.dataApi.comment"></textarea>
        </div>
      </div>
      <div class="wd-700 mx-auto text-center mt-4 mb-4" v-if="info.bottom">
        <b class="text-uppercase font-weight-bold d-block" v-if="info.bottom.title">{{ info.bottom.title }}</b>
        <p>{{ info.bottom.content }}</p>
      </div>
      <div class="text-center">
        <router-link  :to="info.backButton" class="btn btn-primary back">Regresar</router-link>
        <button :class="{'btn btn-primary submit ld-over-inverse': true, 'running': info.running}" :disabled="info.running" @click="sendData">
          <div class="ld ld-ring ld-spin"></div> Confirmar
        </button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      info: {
        running: false,
        apiUrl: this.$route.params.apiUrl,
        title: this.$route.params.title,
        text: this.$route.params.text,
        cols: this.$route.params.cols,
        comment: this.$route.params.comment,
        dataApi: this.$route.params.dataApi,
        backButton: this.$route.params.backButton,
        backButtonParams: this.$route.params.backButtonParams,
        finish: this.$route.params.finish,
        bottom: this.$route.params.bottom,
        type: this.$route.params.type
      }
    }
  },
  created() {
    let currentPath = this.$router.currentRoute.path.split('/');
    if(!this.$route.params.title){
      this.$router.push({
        path: '/'+currentPath[1]+'/'+currentPath[2]
      });
    }
  },
  methods: {
    sendData() {
      if (!this.info.running){
        this.info.running = true;
        let success = true;
        let title = 'Transacción realizada con éxito';
        let ok = 0;
        this.info.dataApi.map(d=> {
          axios.post(this.info.apiUrl, d).then(resp => {
            ok+=1;
            d.success = true;
            d.title = title;
            d.resp = resp;
            if (!resp.data.success){
              d.success = false;
              d.title = 'Transacción no pudo ser realizada';
              d.message = resp.data.message
            }
          }).catch(error => {
            this.$dialogs.alert(error, window.slimDialogError);
          }).then(() =>{
          
            console.log('ok', ok )
            if (ok == this.info.dataApi.length){
              this.goToSuccess();
            }
              this.info.running = false;
          });
        });
      }
    },
    goToSuccess(){
      this.$router.push({
        name: 'EmpresaPagosProveedoresPagarRealizada', 
        params: {
          cols: this.info.cols,
          backButton: this.info.backButton,
          dataApi: this.info.dataApi,
          type: this.info.type
        }
      });
    }
  }
}
</script>
<style scoped>
.image-url{
  margin-left: -100px;
}
</style>
