<template>
  <div>
    <div class="container" id="page-realizado">
      <form action="/pdf/pago-proveedores-realizada" method="post" target="_blank" hidden id="formTransaction">
        <input type="hidden" name="_token" :value="csrf">
        <input type="hidden" name="info" :value="JSON.stringify(info)">
        <button type="submit">Enviar</button>
      </form>
      <div class="row">
        <div :class="info.type == 'service-temp' ? 'col-lg-6 offset-lg-3' : 'col-lg-8 offset-lg-2'">
          <h2 class="h3 text-uppercase text-center title">Resumen</h2>
        </div>
        <div :class="info.type == 'service-temp' ? 'col-lg-3 text-right' : 'col-lg-2 text-right'">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="#" @click.prevent="addFavorite" class="text-center ml-2 text-reset text-decoration-none p-2" v-if="info.type == 'service-temp' && serviceStatus == 'I'">
              <img src="./../../../assets/images/icons/icon-star.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Agregar <br>favorito</span>
            </a>
            <a href="#" @click.prevent="addFavorite" class="text-center ml-2 text-reset text-decoration-none p-2" v-if="info.type == 'service-temp' && serviceStatus == 'A'">
              <img src="./../../../assets/images/icons/icon-star-full.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Favorito</span>
            </a>
            <a  href="#" class="text-center ml-2 text-reset text-decoration-none p-2" @click="print()">
              <img src="./../../../assets/images/icons/icon-print.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Imprimir</span>
            </a>
            <router-link :to="'/empresa/pagos/proveedores'" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </router-link>
          </div>
        </div>
      </div>
      <div v-for="(cols, ix) in info.cols" :key="ix">
        <h5 :class="{'text-center': true, 'text-danger': !info.dataApi[ix].success }">{{ info.dataApi[ix].title }}</h5>
        <p :class="{'text-center': true, 'text-danger': !info.dataApi[ix].success }">{{ info.dataApi[ix].message }}</p>
        <div class="row form-confirmar-exito text-uppercase mb-4" v-if="cols.col1 && cols.col2">
          <div class="col-md-6" v-if="cols.col1">
            <div class="position-relative ml-3 mb-3" v-for="(col, index) in cols.col1" :key="index">
              <div v-if="col.name">
                <b class="d-block">{{ col.name }}</b>
                <span :class="{'d-block': true, 'lines-2': col.lines && col.lines == 2 }">
                  <span v-if="col.currency">{{ col.value | currency({ symbol: col.currency }) }}</span>
                  <span v-else>{{ col.value }}</span>
                </span>
              </div>
            </div>
            <div class="position-relative ml-3 mb-3" v-if="info.dataApi[ix].success && info.dataApi[ix].resp.code">
              <b class="d-block">Código de transacción</b>
              <span class="d-block">{{ info.dataApi[ix].resp.code }}</span>
            </div>
          </div>
          <div class="col-md-6" v-if="cols.col2">
            <div class="position-relative ml-3 mb-3" v-for="(col, index) in cols.col2" :key="index">
              <div v-if="col.name">
                <b class="d-block">{{ col.name }}</b>
                <span :class="{'d-block': true, 'lines-2': col.lines && col.lines == 2 }">
                  <span v-if="col.currency">{{ col.value | currency({ symbol: col.currency }) }}</span>
                  <span v-else>{{ col.value }}</span>
                </span>
              </div>
            </div>
            <div class="position-relative ml-3 mb-3" v-if="info.dataApi[ix].resp.success && info.dataApi[ix].resp.dateTime">
              <b class="d-block">Fecha y hora</b>
              <span class="d-block">{{ info.dataApi[ix].resp.dateTime }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      info: {
        title: this.$route.params.title,
        cols: this.$route.params.cols,
        backButton: this.$route.params.backButton,
        text: this.$route.params.text,
        success: this.$route.params.success,
        resp: this.$route.params.resp,
        dataApi: this.$route.params.dataApi,
        username: JSON.parse(localStorage['inv.user'])['userName'],
        type: this.$route.params.type
      },
      serviceStatus: 'I'
    }
  },
  created() {
    let currentPath = this.$router.currentRoute.path.split('/');
    if(!this.$route.params.dataApi[0].title){
      this.$router.push({
        path: '/'+currentPath[1]+'/'+currentPath[2]
      });
    }
  },
  methods: {
    print(){
      document.querySelector('#formTransaction').submit()
    },
    addFavorite(){
      axios.post('/api/general/favorites/service', {
        account: this.info.dataApi.account,
        status: this.serviceStatus == 'I' ? 'A' : 'I',
        type: this.info.dataApi.categoryCode,
        service: this.info.dataApi.serviceCode
      }).then( resp => {
        if (this.serviceStatus == 'A'){
          this.serviceStatus = 'I';
        } else {
          this.serviceStatus = 'A';
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      });
    },
  }
}
</script>
<style scoped>
.image-url{
  margin-left: -100px;
}
</style>