<template>
  <div>
    <div class="container" id="page-realizado">
      <form action="/pdf/transaccion-realizada" method="post" target="_blank" hidden id="formTransaction">
        <input type="hidden" name="_token" :value="csrf">
        <input type="hidden" name="info" :value="JSON.stringify(info)">
        <button type="submit">Enviar</button>
      </form>
      <div class="row">
        <div :class="info.type == 'service-temp' ? 'col-lg-6 offset-lg-3' : 'col-lg-8 offset-lg-2'">
          <h2 :class="{'h3 text-uppercase text-center title': true, 'text-success': info.success, 'text-danger': !info.success }">{{ info.title }}</h2>
          <p v-if="info.text" :class="{'text-center lead mb-4': true, 'text-danger': !info.success }">{{ info.text }}</p>
        </div>
        <div :class="info.type == 'service-temp' ? 'col-lg-3 text-right' : 'col-lg-2 text-right'">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="#" @click.prevent="addFavorite" class="text-center ml-2 text-reset text-decoration-none p-2" v-if="info.type == 'service-temp' && serviceStatus == 'I'">
              <img src="./../../../assets/images/icons/icon-star.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Agregar <br>favorito</span>
            </a>
            <a href="#" @click.prevent="addFavorite" class="text-center ml-2 text-reset text-decoration-none p-2" v-if="info.type == 'service-temp' && serviceStatus == 'A'">
              <img src="./../../../assets/images/icons/icon-star-full.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Favorito</span>
            </a>
            <a  v-if="info.success" href="#" class="text-center ml-2 text-reset text-decoration-none p-2" @click="print()">
              <img src="./../../../assets/images/icons/icon-print.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Imprimir</span>
            </a>
            <router-link :to="info.type == 'employee' ? info.backButton : { name: info.backButton }" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </router-link>
          </div>
        </div>
      </div>
      <div class="row form-confirmar-exito text-uppercase mb-4" v-if="info.col1 && info.col2">
        <div class="col-12" v-for="(col, index) in info.col1" :key="index">
          <div v-if="col.type && col.type == 'image-url'" class="image-url">
            <span class="text-center d-block">
              <img :src="col.value" alt="" width="128">
            </span>
          </div>
        </div>
        <div class="col-md-6" v-if="info.col1">
          <div class="position-relative ml-3 mb-3" v-for="(col, index) in info.col1" :key="index">
            <div v-if="col.name">
              <b class="d-block">{{ col.name }}</b>
              <span :class="{'d-block': true, 'lines-2': col.lines && col.lines == 2 }">
                <span v-if="col.currency">{{ col.value | currency({ symbol: col.currency }) }}</span>
                <span v-else>{{ col.value }}</span>
              </span>
            </div>
          </div>
          <div class="position-relative ml-3 mb-3" v-if="info.resp.success && info.resp.code">
            <b class="d-block">Código de transacción</b>
            <span class="d-block">{{ info.resp.code }}</span>
          </div>
          <div class="position-relative ml-3 mb-3" v-if="info.resp.success && info.type == 'service' && info.resp.receipt">
            <b class="d-block">Factura</b>
            <span class="d-block">
              <a :href="info.resp.receipt ? info.resp.receipt : '#'" target="_blank" class="btn btn-primary">Descargar factura</a>
            </span>
          </div>
        </div>
        <div class="col-md-6" v-if="info.col2">
          <div class="position-relative ml-3 mb-3" v-for="(col, index) in info.col2" :key="index">
            <div v-if="col.name">
              <b class="d-block">{{ col.name }}</b>
              <span :class="{'d-block': true, 'lines-2': col.lines && col.lines == 2 }">
                <span v-if="col.currency">{{ col.value | currency({ symbol: col.currency }) }}</span>
                <span v-else>{{ col.value }}</span>
              </span>
            </div>
          </div>
          <div class="position-relative ml-3 mb-3" v-if="info.resp.success && info.resp.dateTime">
            <b class="d-block">Fecha y hora</b>
            <span class="d-block">{{ info.resp.dateTime }}</span>
          </div>
        </div>
      </div>
      <div class="wd-700 mx-auto text-uppercase mb-4" v-if="info.col1 && !info.col2">
        <div class="row form-row mb-1" v-for="(col, index) in info.col1" :key="index">
          <div class="col-sm-6 text-center text-sm-right" v-if="col.value">
            <b>{{ col.name }}</b>
          </div>
          <div class="col-sm-6 text-center text-sm-left" v-if="col.value">
            <span :class="{'d-block': true, 'lines-2': col.lines && col.lines == 2 }">
              <span v-if="col.currency">{{ col.value | currency({ symbol: col.currency }) }}</span>
              <span v-if="col.type && col.type == 'image'">
                <div class="image"
                  :style="{'background-image': 'url(data:image.png;base64,'+col.value+')'}">
                </div>
              </span>
              <span v-if="!col.type && !col.currency">{{ col.value }}</span>
            </span>
          </div>
          <div class="col" v-if="col.type && col.type == 'image-url'">
            <span class="text-center d-block">
              <img :src="col.value" alt="" width="128">
            </span>
          </div>
        </div>
        <div class="row form-row mb-1" v-if="info.resp.success && info.resp.code && info.type != 'service'">
          <div class="col-sm-6 text-center text-sm-right">
            <b>Código de transacción</b>
          </div>
          <div class="col-sm-6 text-center text-sm-left">
            <span class="d-block">{{ info.resp.code }}</span>
          </div>
        </div>
        <div class="row form-row mb-1" v-if="info.resp.success && info.resp.dateTime">
          <div class="col-sm-6 text-center text-sm-right">
            <b>Fecha y hora</b>
          </div>
          <div class="col-sm-6 text-center text-sm-left">
            <span class="d-block">{{ info.resp.dateTime }}</span>
          </div>
        </div>
        <div class="row form-row mb-1" v-if="info.resp.success && info.type == 'service'  && info.resp.receipt">
          <div class="col-sm-6 text-center text-sm-right">
            <b>Factura</b>
          </div>
          <div class="col-sm-6 text-center text-sm-left">
            <span class="d-block">
              <a :href="info.resp.receipt ? info.resp.receipt : '#'" target="_blank">Descargar factura</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      info: {
        title: this.$route.params.title,
        col1: this.$route.params.col1,
        col2: this.$route.params.col2,
        backButton: this.$route.params.backButton,
        text: this.$route.params.text,
        success: this.$route.params.success,
        resp: this.$route.params.resp,
        dataApi: this.$route.params.dataApi,
        username: JSON.parse(localStorage['inv.user'])['userName'],
        type: this.$route.params.type
      },
      serviceStatus: 'I'
    }
  },
  created() {
    if (localStorage.getItem('__provider')){
      localStorage.removeItem('__provider');
    }
    let currentPath = this.$router.currentRoute.path.split('/');
    if(!this.$route.params.title){
      this.$router.push({
        path: '/'+currentPath[1]+'/'+currentPath[2]
      });
    }
  },
  methods: {
    print(){
      document.querySelector('#formTransaction').submit()
    },
    addFavorite(){
      axios.post('/api/general/favorites/service', {
        account: this.info.dataApi.account,
        status: this.serviceStatus == 'I' ? 'A' : 'I',
        type: this.info.dataApi.categoryCode,
        service: this.info.dataApi.serviceCode
      }).then( resp => {
        if (this.serviceStatus == 'A'){
          this.serviceStatus = 'I';
        } else {
          this.serviceStatus = 'A';
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      });
    },
  }
}
</script>
<style scoped>
.image-url{
  margin-left: -100px;
}
</style>