<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
  <polygon class="st0" points="61.8,120.5 27.5,85.5 76.5,76 99.6,33 122.5,76.8 172.8,84.2 138,122.2 146.8,173.8 99.6,148.8 
    55.2,170.5 "/>
  <polygon class="st1" points="99.6,22 125.1,73.6 182,81.9 140.8,122.1 150.5,178.8 99.6,152 48.6,178.8 58.4,122.1 17.2,81.9 
    74.1,73.6 "/>
  </svg>
</template>
<style>
	.st0{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:15;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#376832;;stroke-width:15;stroke-miterlimit:10;}
  svg:hover .st0{
    fill: #376832;
  }
  svg.active .st0{
    fill: #376832;
  }
</style>