<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 86.6 45.8" style="enable-background:new 0 0 86.6 45.8;" xml:space="preserve">
  <rect x="1.8" y="4.6" class="st0" width="83" height="36.9"/>
  <title>iconos</title>
  <path class="st1" d="M79.8,25.5H14.4v2.5h65.4V25.5z"/>
  <path class="st1" d="M25.8,19.5H14.4v2.5h11.4V19.5z"/>
  <path class="st1" d="M25.8,32H14.4v2.5h11.4V32z"/>
  <path class="st1" d="M40.1,21.9v-2.5H28.7v2.5H40.1z"/>
  <path class="st1" d="M59,36.9h20.8v-2.5H59V36.9z"/>
  <path class="st1" d="M28.7,34.5h6.8V32h-6.8V34.5z"/>
  <path class="st1" d="M11,34.8H8.6v3.9H11V34.8z"/>
  <path class="st1" d="M11,29.2H8.6V33H11V29.2z"/>
  <path class="st1" d="M11,23.6H8.6v3.9H11V23.6z"/>
  <path class="st1" d="M11,18H8.6v3.9H11V18z"/>
  <path class="st1" d="M11,12.6H8.6v3.9H11V12.6z"/>
  <path class="st1" d="M11,7H8.6v3.9H11V7z"/>
  <path class="st1" d="M38.7,34.5h6.8V32h-6.8V34.5z"/>
  <path class="st2" d="M85.3,2.7h-84c-0.7,0-1.2,0.5-1.2,1.2v38c0,0.7,0.6,1.2,1.2,1.2h84c0.7,0,1.2-0.5,1.2-1.2v-38
    C86.5,3.2,86,2.7,85.3,2.7z M84.1,40.7H2.5V5.2h81.6V40.7z"/>
  <path class="st1" d="M14.5,16.9h30.8c0.1,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0V7.1c0-0.1-0.1-0.1-0.1-0.1H14.5c-0.1,0-0.1,0.1-0.1,0.2
    c0,0,0,0,0,0v9.5C14.4,16.8,14.4,16.8,14.5,16.9C14.5,16.8,14.5,16.9,14.5,16.9z M16.4,9.1h27v5.7h-27V9.1z"/>
  <path class="st1" d="M57.5,16.9c0,0,0-0.1,0-0.1V7.1c0-0.1,0-0.2,0-0.2H47.1c0,0,0,0.1,0,0.2v9.6c0,0.1,0,0.1,0,0.1H57.5z M49.1,9.1
    h6.4v5.7h-6.4V9.1z"/>
  <path class="st1" d="M69.9,16.9c0,0,0-0.1,0-0.1V7.1c0-0.1,0-0.2,0-0.2H59.5c0,0,0,0.1,0,0.2v9.6c0,0.1,0,0.1,0,0.1H69.9z M61.5,9.1
    h6.4v5.7h-6.4V9.1z"/>
  </svg>
</template>
<style scoped>
	.st0{ 
    fill:#FFFFFF; 
    transition: all 0.3s
  }
	.st1{
    fill:#376832; 
    transition: all 0.3s
  }
	.st2{
    fill:#376832;
  }
	svg:hover .st0 {
    fill:#376832;
  }
	svg:hover .st1 {
    fill:#FFFFFF;
  }
</style>