<template>
  <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 86.6 45.8" style="enable-background:new 0 0 86.6 45.8;" xml:space="preserve">
  <rect x="1" y="4.2" class="st0" width="84" height="38"/>
  <title>iconos</title>
  <path class="st1" d="M70.4,25.5V28H10.1v-2.5H70.4z"/>
  <path class="st1" d="M53.9,35.6v-2.4h16.5v2.4H53.9z"/>
  <path class="st1" d="M73.9,33.2h2.4v2.5h-2.4V33.2z"/>
  <path class="st1" d="M10.1,17.7v2.6h66.3v-2.6c-20.6,0-41.2,0-61.9,0L10.1,17.7z"/>
  <path class="st1" d="M16.3,10.1c-2.1,0-4.2,0.1-6.2,0.1v2.4h52v-2.5C46.9,10.1,31.6,10.1,16.3,10.1z"/>
  <path class="st1" d="M76.3,10h-9.8v2.5c0.6,0-0.6,0,0,0c2.7,0.2,7.1,0.1,9.9,0.1C76.4,11.6,76.4,10.9,76.3,10z"/>
  <path class="st2" d="M84.5,5v35.8H2.1V5H84.5 M85.7,2.5H0.9c-0.7,0-1.2,0.5-1.2,1.2v38.3c0,0.7,0.6,1.2,1.2,1.2h84.8
    c0.7,0,1.2-0.6,1.2-1.2v0V3.8C86.9,3.1,86.4,2.5,85.7,2.5L85.7,2.5z"/>
  </svg>
</template>
<style scoped>
	.st0{ 
    fill:#FFFFFF; 
    transition: all 0.3s
  }
	.st1{
    fill:#376832; 
    transition: all 0.3s
  }
	.st2{
    fill:#376832;
  }
	svg:hover .st0 {
    fill:#376832;
  }
	svg:hover .st1 {
    fill:#FFFFFF;
  }
</style>