<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 86.6 45.8" style="enable-background:new 0 0 86.6 45.8;" xml:space="preserve">
  <path class="st0" d="M65.2,45.8H21.4c-10.5-1-11.8-5.4-11.8-12V12.8c0-6.6,0.8-12,11.8-12h43.8C74.9,0,77,6.2,77,12.8v21.1
    C77,40.4,76.4,45.8,65.2,45.8z"/>
  <title>iconos</title>
  <path class="st1" d="M28.5,20.1h-9.7C19.6,21.2,27.8,21.2,28.5,20.1z"/>
  <path class="st1" d="M20.7,14.3h-2v1.6h2V14.3z"/>
  <path class="st1" d="M26.9,15.9h1.8v-1.6h-1.8V15.9z"/>
  <path class="st2" d="M77.6,7.4c0-2-0.7-3.9-2.1-5.3C74.1,0.7,72.2,0,70.3,0h-0.1c-3.3,0.1-6.9,0.1-11.3,0.1h-7.7L43.3,0H16.1
    C11.8,0.1,9,2.8,9,7.2v31.5c-0.2,3.8,2.7,6.9,6.5,7.1c0.2,0,0.4,0,0.6,0h54.3c4.3,0,7.2-2.8,7.2-7.2c0-3,0-5.9,0-8.9
    C77.5,22.4,77.5,14.8,77.6,7.4z M75.3,29.7c0,3,0,5.9,0,8.9c0,3.2-1.8,5-4.9,5c-18.1,0-36.2,0-54.3,0c-2.5,0.1-4.7-1.8-4.8-4.3
    c0-0.2,0-0.4,0-0.5c0-10.5,0-21,0-31.5c-0.2-2.5,1.6-4.6,4.1-4.9c0.3,0,0.5,0,0.8,0h35h7.7c4.4,0,8,0,11.4-0.1h0.1
    c1.3,0,2.6,0.5,3.6,1.4c1,1,1.5,2.3,1.4,3.7C75.2,14.8,75.2,22.4,75.3,29.7z"/>
  <path class="st1" d="M23.7,22.8c1.3,0,2.7,0,4-0.1c1.7,0,3.2-1.4,3.2-3.2c0-0.1,0-0.1,0-0.2c0-2.2,0-4.2,0-6.1
    c0.1-1.7-1.2-3.2-3-3.3c-0.1,0-0.2,0-0.3,0h-1.5h-4.8c-0.5,0-1,0-1.5,0c-1.8-0.1-3.2,1.3-3.3,3.1c0,0.1,0,0.2,0,0.2
    c0,2.1,0,4.2,0,6.2c-0.1,1.7,1.3,3.2,3,3.3c0,0,0.1,0,0.1,0C21,22.7,22.4,22.8,23.7,22.8z M17.5,19.3c0-2,0-4,0-6
    c0-1.3,1-2.4,2.2-2.4c0.1,0,0.2,0,0.2,0h1.5H26c0.5,0,0.9,0,1.4,0c1.3-0.1,2.4,0.9,2.4,2.1c0,0.1,0,0.2,0,0.3c0,2,0,3.9,0,5.8
    c0.1,1.3-0.8,2.4-2.1,2.5c-0.1,0-0.1,0-0.2,0c-1.3,0-2.5,0-3.8,0s-2.6,0-3.9-0.1c-1.2,0-2.3-1-2.3-2.2
    C17.5,19.4,17.5,19.3,17.5,19.3z"/>
  <path class="st1" d="M19.1,11.8h1.5c0.2,0,0.4,0.2,0.4,0.4v0.8c0,0.2-0.2,0.4-0.4,0.4h-1.5c-0.2,0-0.4-0.2-0.4-0.4v-0.8
    C18.8,12,18.9,11.8,19.1,11.8z"/>
  <path class="st1" d="M19.1,17.3h1.5c0.2,0,0.4,0.2,0.4,0.4v0.8c0,0.2-0.2,0.4-0.4,0.4h-1.5c-0.2,0-0.4-0.2-0.4-0.4v-0.8
    C18.8,17.5,18.9,17.3,19.1,17.3z"/>
  <path class="st1" d="M26.8,11.8h1.5c0.2,0,0.4,0.2,0.4,0.4v0.8c0,0.2-0.2,0.4-0.4,0.4h-1.5c-0.2,0-0.4-0.2-0.4-0.4v-0.8
    C26.4,12,26.5,11.8,26.8,11.8z"/>
  <path class="st1" d="M26.8,17.3h1.5c0.2,0,0.4,0.2,0.4,0.4v0.8c0,0.2-0.2,0.4-0.4,0.4h-1.5c-0.2,0-0.4-0.2-0.4-0.4v-0.8
    C26.4,17.5,26.5,17.3,26.8,17.3z"/>
  <path class="st1" d="M22.4,11.8h2.8c0.2,0,0.4,0.2,0.4,0.4v6.3c0,0.2-0.2,0.4-0.4,0.4h-2.8c-0.2,0-0.4-0.2-0.4-0.4v-6.3
    C22,12,22.2,11.8,22.4,11.8z"/>
  <path class="st1" d="M42,10.8h26.9c0.2,0,0.4,0.2,0.4,0.4v0.7c0,0.2-0.2,0.4-0.4,0.4H42c-0.2,0-0.4-0.2-0.4-0.4v-0.7
    C41.6,10.9,41.8,10.8,42,10.8z"/>
  <path class="st1" d="M25.5,35.5h-7.3c0,0-0.1,0.2-0.1,0.4v0.7c0,0.2,0,0.4,0.1,0.4h7.3c0.1,0,0.1-0.2,0.1-0.4v-0.7
    C25.6,35.7,25.6,35.5,25.5,35.5z"/>
  <path class="st1" d="M33.8,35.5h-7.3c0,0-0.1,0.2-0.1,0.4v0.7c0,0.2,0,0.4,0.1,0.4h7.3c0.1,0,0.1-0.2,0.1-0.4v-0.7
    C33.8,35.7,33.8,35.5,33.8,35.5z"/>
  <path class="st1" d="M29.2,30.6v-0.7c0-0.2-0.1-0.4-0.2-0.4H17.9c-0.1,0-0.1,0.2-0.1,0.4v0.7c0,0.2,0.1,0.4,0.1,0.4h11.1
    C29.1,31,29.2,30.9,29.2,30.6z"/>
  <path class="st1" d="M42.5,29.5H31.3c-0.1,0-0.1,0.2-0.1,0.4v0.7c0,0.2,0.1,0.4,0.1,0.4h11.1c0.1,0,0.2-0.2,0.2-0.4v-0.7
    C42.6,29.7,42.5,29.5,42.5,29.5z"/>
  <path class="st1" d="M55.7,29.5H44.6c-0.1,0-0.2,0.2-0.2,0.4v0.7c0,0.2,0.1,0.4,0.2,0.4h11.1c0.1,0,0.2-0.2,0.2-0.4v-0.7
    C55.9,29.7,55.8,29.5,55.7,29.5z"/>
  <path class="st1" d="M69.1,29.5H58c-0.1,0-0.2,0.2-0.2,0.4v0.7c0,0.2,0.1,0.4,0.2,0.4h11.1c0.1,0,0.2-0.2,0.2-0.4v-0.7
    C69.3,29.7,69.2,29.5,69.1,29.5z"/>
  </svg>
</template>
<style scoped>
	.st0{ 
    fill:#FFFFFF; 
    transition: all 0.3s
  }
	.st1{
    fill:#376832; 
    transition: all 0.3s
  }
	.st2{
    fill:#376832;
  }
	svg:hover .st0 {
    fill:#376832;
  }
	svg:hover .st1 {
    fill:#FFFFFF;
  }
</style>