<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Pago de Servicios</h2>
        </div>
        <div class="col-lg-3 text-right"  ref="favorite">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="#" @click.prevent="addFavorite" class="text-center ml-2 text-reset text-decoration-none p-2" v-if="serviceStatus == 'II'">
              <img src="./../../../../../assets/images/icons/icon-star.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Agregar a<br>favoritos</span>
            </a>
            <a href="#" @click.prevent="addFavorite" class="text-center ml-2 text-reset text-decoration-none p-2" v-if="serviceStatus == 'AA'">
              <img src="./../../../../../assets/images/icons/icon-star-full.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Favorito</span>
            </a>
            <router-link :to="{ name: 'EmpresaPagosServicios' }" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </router-link>
          </div>
        </div>
      </div>
      <div v-if="loading" class="py-4 text-center">
        <div class="spinner-border text-success" role="status"></div>
      </div>
      <form v-else class="text-center wd-700 mx-auto" @submit.prevent="submitForm">
        <div class="form-row form-uppercase">
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" required v-model="service">
                <option disabled value="">Servicio</option>
                <option  v-for="(s, index) in services" :key="index" :value="s">{{ s.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" required v-model="company">
                <option disabled value="">Empresa</option>
                <option  v-for="(c, index) in service.services " :key="index" :value="c">{{ c.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" required v-if="company == ''">
                <option disabled value="" selected>Tipo de Transacción</option>
              </select>
              <select class="form-control" required v-model="transaction" v-if="company != ''">
                <option disabled value="">Tipo de Transacción</option>
                <option  v-for="(t, index) in servicesData[service.code+'_'+company.code][1]" :key="index" :value="t">{{ t[0] }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group text-danger">
            <div class="select position-relative dropdown-toggle" v-if="packs.length">
              <select class="form-control" v-model="pack" required>
                <option disabled value=''>Seleccione un paquete</option>
                <option v-for="(p, i) in (packs)" :key="i" :value="p">{{ p.description }}</option>
              </select>
            </div>
            <div class="select position-relative dropdown-toggle" v-if="!packs.length">
              <select class="form-control" v-model="action" required>
                <option disabled value=''>Seleccione una opción</option>
                <option :value="transaction[1]" selected v-if="transaction != ''">{{ transaction[1] }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control text-right" v-model="clientId" :placeholder="service.code == '01' || company.code == '03' ? 'Número de servicio' : 'Número de teléfono'">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control text-right" v-model="clientId2" :placeholder="service.code == '01' || company.code == '03' ? 'Repite Número de servicio' : 'Repite Número de teléfono'">
          </div>
          <div class="col-md-12 form-group text-right" v-if="!showForm">
            <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}" type="button" @click="loadInfo" :disabled="(action == '' && pack == '') || transaction == '' || clientId == ''">
              <div class="ld ld-ring ld-spin"></div>Continuar
            </button>
          </div>
          <div class="col-12 form-group text-danger" v-if="message">
            <h6>{{ message }}</h6>
          </div>
        </div>
        <div class="form-row form-uppercase justify-content-end" v-if="showForm">
          <div class="col-12">
            <hr>
          </div>
          <div class="col-12 text-center">
            <img :src="require('./../../../../../assets/images/servicios/'+company.name.toLowerCase().split(' ').join('-') +'.png')" alt="" width="128">
          </div>
          <div class="col-md-6 form-group">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <span>{{ (company.name.toLowerCase() == 'tigo' || company.name.toLowerCase() == 'claro') ? 'Número' : 'Correlativo/Contador' }}</span>
              <b>{{ clientId }}</b>
            </span>
          </div>
          <div class="col-md-6 form-group" v-if="info.authorizationCode">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <span>Autorización</span>
              <b>{{ info.authorizationCode }}</b>
            </span>
          </div>
          <div class="col-md-6 form-group" v-if="info.name">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <span>Nombre</span>
              <b>{{ info.name }}</b>
            </span>
          </div>
          <div class="col-12 form-group" v-if="info.address">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <span>Dirección</span>
              <b>{{ info.address }}</b>
            </span>
          </div>
          <div class="col-md-6 form-group" v-if="info.documentToPayDate">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <span>Vence</span>
              <b>{{ info.documentToPayDate.split('-').reverse().join('-') }}</b>
            </span>
          </div>
          <div class="col-md-6 form-group" v-if="transaction[1] == 'Comprar paquete' || transaction[0] == 'Recarga' || transaction[0] == 'Prepago'">
            <input type="text" class="form-control" v-model="nit" placeholder="Nit" >
          </div>
          <div class="col-md-6 form-group" v-if="transaction[1] == 'Comprar paquete' || transaction[0] == 'Recarga' || transaction[0] == 'Prepago'">
            <input type="text" class="form-control" v-model="name" placeholder="Nombre" >
          </div>
          <div class="col-md-6 form-group" v-if="transaction[1] == 'Comprar paquete' || transaction[0] == 'Recarga' || transaction[0] == 'Prepago'">
            <input type="text" class="form-control" v-model="email" placeholder="Correo electrónico" >
          </div>
          <div class="col-md-6 form-group" v-if="info.charges || info.charges >= 0">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <span>Intereses</span>
              <b>{{ info.charges | currency }}</b>
            </span>
          </div>
          <div class="col-md-6 form-group" v-if="amount == 0 || amount == ''">
            <input type="text" class="form-control" :value="amount | currency " placeholder="Monto" >
          </div>
          <div class="col-md-6 form-group" v-else>
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <span v-if="pack == ''">Saldo actual</span>
              <span v-else>Monto</span>
              <b>{{ amount | currency }}</b>
            </span>
          </div>
          <div class="col-12">
            <hr>
          </div>
          <div class="col-md-6 form-group text-danger">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="account">
                <option disabled value=''>Seleccione cuenta a debitar</option>
                <option v-for="(acc, i) in (accounts.data.sourceAccounts)" :key="i" :value="acc">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" readonly placeholder="Disponible"  v-if="account == ''">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center" v-else>
              <span>Disponible</span>
              <span>{{ account.balance | currency }}</span>
            </span>
          </div>
          <div class="col-12 form-group text-right" v-if="clientId != ''">
            <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}" :disabled="account == ''">
              <div class="ld ld-ring ld-spin"></div>Continuar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import servicios from './../../../../components/data/Servicios.json';
export default {
  data() {
    return {
      servicesData: servicios,
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      running: false,
      loading: true,
      account: '',
      amount: '',
      name: '',
      message: '',
       accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: [],
          destinationAccounts: []
        }
      },
      clientId: this.$route.params.account ? this.$route.params.account : '',
      clientId2: '',
      image: '',
      services: [],
      company: [],
      service: this.$route.params.category ? this.$route.params.category : '',
      company: '',
      transaction: '',
      action: '',
      pack: '',
      packs: [],
      info: [],
      nit: '',
      email: '',
      document: '',
      showForm: false,
      serviceStatus: this.$route.params.favorite ? 'A' : 'I',
      favorites: {
        message: '',
        services: []
      }
    }
  },
  watch: {
    service() {
      this.transaction = '';
      this.endpoint = ''
    },
    company() {
      this.transaction = '';
      this.amount = '';
      this.account = '';
      this.packs = [];
      this.pack = '';
      this.action = '';
    },
    transaction(val){
      this.amount = '';
      this.account = '';
      this.packs = [];
      this.pack = '';
      this.action = '';
      if (val[1] == 'Comprar paquete' || val[1] == 'Recarga'){
        this.loadInfo()
      }
    },
    clientId2(val){
      if (val != this.clientId){
        this.message = 'Números no coinciden';
      } else {
        this.message = ''
      }
    },
    pack(val){
      if (val != ''){
        this.amount = val.amount;
        if (this.transaction[0] == 'Prepago'){
          this.amount = val.productCode;
        }
      }
    },
  },
  created() {
    this.getOwnAccounts();
    this.servicesAvailable();
  },
  computed: {
    formConfirmar() {
      let dataApi = {
        clientId: this.clientId,
        account: this.account.number,
        amount: this.amount,
        productCode: this.pack.productCode ? this.pack.productCode : '',
        nit: this.nit,
        email: this.email,
        name: this.name,
        document: this.info.documentToPay ? this.info.documentToPay : '',
        company: this.company.name.toLowerCase() == 'deocsa' ? 0 : 1,
        type: 0
      }
      if (this.transaction[0] == 'Prepago'){
        dataApi.amount = parseInt(this.pack.productCode);
      }
      this.image = this.company.name.toLowerCase().split(' ').join('-')+'.png';
      return {
        apiUrl: this.transaction[2][1],
        dataApi: dataApi,
        backButton: 'EmpresaPagosServicios',
        finish: 'EmpresaPagosServiciosAgregarRealizada',
        title: 'Confirmar Pagar Servicio',
        type: 'service',
        col1: [
          {
            value: require('./../../../../../assets/images/servicios/'+this.image),
            type: 'image-url'
          },
          {
            name: 'Empresa',
            value: this.company.name,
          },
          {
            name: 'Tipo',
            value: this.transaction[1],
          },
          {
            name: 'Número',
            value: this.clientId
          },
          {
            name: this.nit != '' ? 'NIT' : '',
            value: this.nit
          },
          {
            name: this.name != '' ? 'Dueño' : '',
            value: this.name
          },
          {
            name: 'Cuenta a debitar',
            value: this.account.number,
            lines: 2
          },
        ],
        col2: [
          {
            name: ''
          },
          {
            name:  this.info.authorizationCode != '' ? 'Autorización' : '',
            currency: this.info.authorizationCode
          },
          {
            name: 'Monto',
            value: this.amount,
            currency: 'Q.'
          },
          {
            name: this.info.name ? 'Dueño del servicio' : '' ,
            value: this.info.name
          },
          {
            name:  this.info.address ? 'Dirección' : '',
            value: this.info.address,
            lines: 2
          },
           {
            name: 'Nombre de la cuenta',
            value: this.account.name
          },
          {
            name: this.email != '' ? 'Correo electrónico' : '',
            value: this.email
          },
          
        ]
      }
    }
  },
  methods: {
    servicesAvailable(){
      this.loading = true;
      axios.get('/api/transfers/services/available').then(resp => {
        if (!resp.data.message){
          this.services = resp.data;
          if (this.$route.params.category){
            this.service = this.services.filter(s => {
              return s.name == this.$route.params.category
            })[0];
            this.company = this.service.services.filter(s => {
              return s.name == this.$route.params.service
            })[0]
          }
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.loading = false;
      });
    },
    addFavorite(){
      axios.post('/api/general/favorites/service', {
        account: this.clientId,
        status: this.serviceStatus == 'I' ? 'A' : 'I',
        type: this.service == 'Energía' ? '01' : '02',
        service: this.transaction.service
      }).then( resp => {
        if (this.serviceStatus == 'A'){
          this.serviceStatus = 'I';
        } else {
          this.serviceStatus = 'A';
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      });
    },
    loadInfo(){
      this.running = true;
      this.message = '';
      axios.post(this.transaction[2][0], {
        clientId: this.clientId
      }).then(resp => {
        if (resp.data.success == false && !resp.data.data){
          this.message = resp.data.message
        } else {
          this.info = resp.data.data;
          if (this.info.balance){
            this.amount = this.info.balance;
          }
          if (this.transaction[1] == 'Comprar paquete' || this.transaction[1] == 'Recarga'){
            if (this.transaction[0] == 'Superpacks'){
              this.packs = resp.data.data.map(t => {
                return t.description = 'Q'+t.amount+' '+t.description
              })
            }
            this.packs = resp.data.data;
          }
          if (this.clientId != '' && this.transaction != ''){
            this.showForm = true;
          }
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.running = false;
      });  
    },
    getOwnAccounts(){
      axios.get('/api/transfers/own/accounts').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts.filter(acc => {
            return acc.currency == 'QUE'
          });

        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'EmpresaPagosServiciosPagarConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>