<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Agregar Servicio</h2>
      
      <div v-if="loading" class="py-4 text-center">
        <div class="spinner-border text-success" role="status"></div>
      </div>
      <form v-else class="text-center wd-360 mx-auto" @submit.prevent="submitForm">
        <div class="form-row form-uppercase">
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" required v-model="service">
                <option disabled value="">Servicio</option>
                <option  v-for="(s, index) in services" :key="index" :value="s">{{ s.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" required v-model="company">
                <option disabled value="">Empresa</option>
                <option  v-for="(s, index) in service.services" :key="index" :value="s">{{ s.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-12 form-group" v-if="company != ''">
            <input type="text" class="form-control" v-model="alias" placeholder="Referencia">
          </div>
          <div class="col-12 form-group" v-if="company != ''">
            <input type="text" class="form-control" v-model="clientId" :placeholder="service.code == '01' || company.code == '03' ? 'Número de servicio' : 'Número de teléfono'">
          </div>
          <div class="col-12 form-group" v-if="company != ''">
            <input type="text" class="form-control" v-model="clientId2" :placeholder="service.code == '01' || company.code == '03' ? 'Número de servicio' : 'Número de teléfono'">
          </div>
          
          <div class="col-12 form-group text-danger" v-if="message">
            <h6>{{ message }}</h6>
          </div>
          <div class="col-12 form-group text-center" v-if="message == ''">
            <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}">
              <div class="ld ld-ring ld-spin"></div>Agregar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loading: true,
      running: false,
      account: '',
      amount: '',
      alias: '',
      message: '',
      otherAccount: [],
      clientId: '',
      clientId2: '',
      alias: '',
      services: [],
      tr: [],
      service: '',
      company: '',
      image: '',
      transaction: '',
      info: []
    }
  },
  watch: {
    service() {
      this.company = '';
      this.transaction = '';
    },
    company() {
      this.transaction = '';
    },
    clientId2(val){
      if(val != this.clientId){
        this.message = 'Números no coinciden';
      } else {
        this.message = '';
      }
    }
  },
  computed: {
    formConfirmar() {
      this.image = this.company.name.toLowerCase().split(' ').join('-')+'.png';
      console.log(this.image)
      let dataApi = {
        alias: this.alias,
        categoryCode: this.service.code,
        serviceCode: this.company.code,
        account: this.clientId
      }
      return {
        apiUrl: '/api/transfers/services/add-service',
        dataApi: dataApi,
        backButton: 'EmpresaPagosServicios',
        finish: 'EmpresaPagosServiciosAgregarRealizada',
        title: 'Confirmar Agregar Servicio',
        type: 'service',
        col1: [
          {
            value: require('./../../../../../assets/images/servicios/'+this.image),
            type: 'image-url'
          },
          {
            name: 'Empresa',
            value: this.company.name,
          },
          {
            name: 'Tipo',
            value: this.service.name,
          },
          {
            name: 'Referencia',
            value: this.alias
          },
        ],
        col2: [
          {
            name: ''
          },
          {
            name: 'Número de servicio',
            value: this.clientId
          },
          {
            name: 'Dueño del servicio',
            value: this.info.name
          },
          {
            name: this.info.address != '' ? 'Dirección' : '',
            value: this.info.address
          }
        ]
      }
    }
  },
  created() {
    this.servicesAvailable();
  },
  methods: {
    servicesAvailable(){
      axios.get('/api/transfers/services/available').then(resp => {
        if (!resp.data.message){
          this.services = resp.data;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.loading = false;
      });
    },
    submitForm(){
      // VALIDATE ACCOUNT
      this.running = true;
      this.message = '';
      axios.post('/api/transfers/services/validate-service', {
        categoryCode: this.service.code,
        serviceCode: this.company.code,
        account: this.clientId
      }).then(resp => {
        if (resp.data.success == false){
          this.message = resp.data.message
        } else {
          this.info = resp.data;
          this.$router.push({
            name: 'EmpresaPagosServiciosAgregarConfirmar',
            params: this.formConfirmar
          })
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.running = false;
      });
      
    }
  }
}
</script>