<template>
  <div>
    <persona-header />
    <router-view id="main-content"></router-view>
    <persona-footer />
    <modal v-if="modalToken.show" @close="modalToken.show = false" class="m-0" :hideClose="true">
      <div slot="header" class="text-center">
        <h4 class="text-uppercase mb-0 text-center">{{ modalToken.title }}</h4>
      </div>
      <div slot="body">
        <img src="./../../../../assets/images/app/logo-banco-inv.svg" id="logoImg" width="196" class="mb-3 img-edo mx-auto d-block">
        <p class="text-center lead">{{ modalToken.content }}</p>
        <p class="text-center lead mt-3" v-if="modalToken.showCounter">{{ modalToken.counter }}</p>
        <div class="text-center mt-3" v-if="modalToken.showCounter">
          <button class="btn btn-primary" @click="modalToken.show = false">Si</button>
          <button class="btn btn-default" @click="logout" style="background: #f2f2f2">No</button>
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
export default {
  data(){
    return {
      modalToken: {
        title: 'Advertencia',
        content: 'La sesión está a punto de expirar ¿Desea mantenerla activa?',
        show: false,
        counter: 30,
        showCounter: false
      },
      timer: '',
      timer2: '',
      currentDate: Date.parse(new Date()),
      activity: false,
      time: 0,
      time2: 0,
      timer3: '',
    }
  },
   created(){
    this.refreshToken();
    let expiresTime = localStorage.getItem('inv.user') ? JSON.parse(localStorage.getItem('inv.user'))['expires_in'] : 0;
    console.log('CREATE', expiresTime);
    this.timer = setInterval(() => {
      this.time++;
      console.log(this.time);
      this.refreshToken();
    }, (expiresTime)*1000);

    this.timer2 = setInterval(() => {
      this.modalToken.counter--;
      this.time2++;
      if (this.time2 == expiresTime - 30){
        this.modalToken.show = true;
        this.modalToken.showCounter = true;
        this.modalToken.counter = 30;
      }
      if (this.modalToken.counter <= 0 && this.modalToken.show == true){
        this.modalToken.counter = 0;
        this.modalToken.show = false;
        this.logout();
      }
    }, 1000);
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
    window.addEventListener('load', this.lastActivity);
    window.addEventListener('mousemove', this.lastActivity);
    window.addEventListener('touchstart', this.lastActivity);
    window.addEventListener('keypress', this.lastActivity);
  },
  methods: {
    lastActivity(){
      this.currentDate = Date.parse(new Date());
      this.activity = true;
      this.time2 = 0;
    },
    refreshToken(){
      this.modalToken.counter = 30;
      axios.post('/api/auth/refresh-token', {
          refresh_token: JSON.parse(localStorage['inv.user'])['refresh_token']
      }).then(resp => {
        console.log('resp', resp);
        if (resp.data.code == 'update_password'){
          updateInfo();
        }
        if (resp.data && !resp.data.error){
          delete resp.data['as:client_id'];
          resp.data.expires_date = Date.parse(new Date()) + (resp.data.expires_in * 1000);
          localStorage['inv.user'] = JSON.stringify(resp.data);
          window.axios.defaults.headers.common['Authorization-Bearer'] = resp.data.access_token;
        }
      });
    },
    logout(){
      localStorage.clear();
      window.location = '/login';
    },
    updateInfo(){
      this.modalToken.title = 'Actualizar Información';
      this.modalToken.content = 'Debes actualizar contraseña para continuar';
      this.modalToken.show = true;
      setTimeout(() => {
        this.modalToken.show = false;
        this.$router.push({
        name: 'PersonaPerfilContrasenas'
      });
      }, 2500); 
    },
    handleScroll (event) {
      if (document.scrollingElement.scrollTop > 50){
        document.querySelector("#fixed-navbar").style.position = 'fixed';
        document.body.style.paddingTop = '115px';
      } else {
        document.querySelector("#fixed-navbar").style.position = 'relative';
        document.body.style.paddingTop = '0px';
      }
    }
  },
  beforeDestroy() {
    clearInterval(this.timer);
    clearInterval(this.timer2);
  }
}
</script> 