<template>
  <div class="container text-center text-uppercase pt-1 pb-4 d-flex justify-content-center align-items-center vh-100">
    <div>
      <img src="./../../assets/images/app/logo-banco-inv.svg" alt="Logo Banco INV" width="150" class="mb-4">
      <p class="mb-0 mt-4">Error</p>
      <span class="d-block display-1 text-danger">404</span>
      <p class="mb-4">Página no encontrada</p>
      <button @click="goBack" class="btn btn-primary mt-4">Regresar</button>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    goBack(){
      return this.$router.go(-1)
    }
  }
}
</script>