<template>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 text-center">
      <router-link to="/empresa/solicitar/solicitudes/solicitar-chequera" class="text-reset text-decoration-none">
        <icon-chequera class="mb-3" height="40"></icon-chequera>
        <span class="text-uppercase d-block h5">Solicitar <br><span>chequera</span></span>
      </router-link>
    </div>
    <div class="col-md-4 text-center">
      <router-link to="/empresa/solicitar/solicitudes/solicitar-cheque-de-caja" class="text-reset text-decoration-none">
        <icon-cheque class="mb-3" height="40"></icon-cheque>
        <span class="text-uppercase d-block h5">Solicitar <br><span>cheque de caja</span></span>
      </router-link>
    </div>
  </div>
</template>
<style>
  .router-link-active .st0 {
    fill:#376832 !important;
  }
	.router-link-active .st1 {
    fill:#FFFFFF !important;
  }
  .router-link-active>span>span{
    font-weight: 600;
  }
</style>