<template>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">Example Component</div>

					<div class="card-body">
						I'm an example component.
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		mounted() {
			console.log('Component mounted.')
		}
	}
</script>
<style>
    @page {
      margin: 0cm 0cm;
    }
    body {
      margin: 3cm 2cm 2cm;
      color: #444;
    }
    header {
      position: fixed;
      top: 0cm;
      left: 0cm;
      right: 0cm;
      background-color: #fff;
      text-align: left;
      padding: 0.5cm 2cm 0.25cm;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    footer {
      position: fixed;
      bottom: 0cm;
      left: 0cm;
      right: 0cm;
      height: 2cm;
      background-color: #2a0927;
      text-align: center;
      line-height: 35px;
    }
    .logo{
      width: 4.5cm
    }
    .title{
      text-align: center;
      background: #f1f1f1;
      text-transform: uppercase;
      padding: 0.15cm 1cm;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    thead{
      background: #518844;
      color: #fff;
    }
    td, th {
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #eee;
    }
  </style>