<template>
  <div>
    <div class="container-fluid position-relative" id="perfil">
      <img src="./../../../../../assets/images/icons/icon-arrow-circle.svg" alt="" width="40" class="arrow-circle">
      <div class="container">
        <div class="row">
          <div class="information col-lg-6 bg-green-2 text-white">
            <h2 class="h3 text-uppercase text-left title">Perfil de seguridad</h2>
            <div v-if="profile.loading" class="py-4 text-center">
              <div class="spinner-border text-white" role="status"></div>
            </div>
            <div v-if="!profile.loading && profile.message" class="py-4 text-center">
              <h6 class="text-white">{{ message }}</h6>
            </div>
            <div v-if="profile.data.fullName">
              <div class="mb-4">
                <b>Nombre:</b><br>
                <p>{{ profile.data.fullName }}</p>
              </div>
              <div class="mb-4">
                <b>Correo electrónico:</b><br>
                <p>{{ profile.data.email }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="container">
              <h2 class="h3 text-uppercase text-center title mb-3">Preguntas</h2>
              <p class="text-center mb-4 pb-3"><b>TIP DE SEGURIDAD:</b><br>Buscar preguntas y respuestas que no sean fácil de responder.</p>
              <form class="wd-360 mx-auto mw-100" @submit.prevent="submitForm">
                <div v-if="questionsList.loading" class="py-4 text-center">
                  <div class="spinner-border text-success" role="status"></div>
                </div>
                <div v-if="!questionsList.loading && questionsList.data.length">
                  <small class="mb-2 d-block">Pregunta <b class="h6 font-weight-bold">{{ questionsList.number }}</b> de <b>5</b></small>
                  <div class="progress mb-3">
                    <div class="progress-bar bg-success" role="progressbar" :style="{'width': (questionsList.number*100/5)+'%'}" :aria-valuenow="(questionsList.number*100/5)" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="form-row form-uppercase">
                    <div class="col-12" v-for="n in 5" :key="n">
                      <div class="form-group" v-if="questionsList.number == n">
                        <div class="select dropdown-toggle position-relative mb-2">
                          <select class="form-control" :id="'question-number-'+n" v-model="questionsList.temp.q" @change="focusAnswer">
                            <option>Seleccione una pregunta</option>
                            <option v-for="(q, i) in questionsList.available" :key="i" :value="q">{{ q.name }}</option>
                          </select>
                        </div>
                        <div class="form-group" :id="'answer-number-'+n">
                          <input type="text" class="form-control" :placeholder="'Respuesta '+questionsList.number" v-model="questionsList.temp.a" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 form-group text-center">
                      <button class="btn btn-primary" type="button" v-if="questionsList.number < 5 && (questionsList.temp.q != 'Seleccione una pregunta' && questionsList.temp.a.length >= 3)" @click="addQuestion">Siguiente</button>
                      <button v-if="questionsList.number == 5 && (questionsList.temp.q != 'Seleccione una pregunta' && questionsList.temp.a.length >= 3)" type="submit" class="btn btn-primary">
                        Configurar preguntas
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currentPassword: '',
      newPassword: '',
      newPassword2: '',
      message: '',
      running: false,
      profile: {
        loading: true,
        message: '',
        data: [],
      },
      questionsList: {
        loading: true,
        number: 1,
        message: '',
        temp: {
          q: 'Seleccione una pregunta',
          a: ''
        },
        selected: [],
        answers: [],
        available: [],
        data: []
      }
    }
  },
  created() {
    this.loadProfile();
    this.loadQuestions();
  },
  computed: {
    formConfirmar() {
      let col = []; 
      this.questionsList.selected.forEach( (item, index) => {
        col.push({
          name: 'Pregunta '+(index+1),
          value: item.name,
          lines: 2
        })
      });
      return {
        apiUrl: '/api/profile/save-answers',
        dataApi: {
          answers: this.questionsList.answers
        },
        backButton: 'PersonaPerfilPreguntas',
        finish: 'PersonaPerfilPreguntasActualizarRealizada',
        title: 'Confirmar actualización de preguntas',
        col1: col
      }
    }
  },
  methods: {
    loadProfile(){
      axios.get('/api/profile/personal').then(resp => {
        if (resp.status == 200 && resp.data){
          this.profile.data = resp.data;
        }
        this.profile.message = resp.data.message ? resp.data.message : '';
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.profile.loading = false;
      });
    },
    loadQuestions(){
      axios.get('/api/profile/recovery-questions-list').then(resp => {
        if (resp.status == 200 && resp.data){
          this.questionsList.data = resp.data;
          this.questionsList.available = resp.data;
        }
        this.questionsList.message = resp.data.message ? resp.data.message : '';
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.questionsList.loading = false;
      });
    },
    addQuestion(){
      this.questionsList.selected.push(this.questionsList.temp.q);
      this.questionsList.available = this.questionsList.data.filter(x => this.questionsList.selected.indexOf(x) === -1);
      this.questionsList.answers.push({
        id: this.questionsList.temp.q.id,
        answer: this.questionsList.temp.a.toUpperCase()
      });
      this.questionsList.number = (this.questionsList.number > 5) ? 0 : this.questionsList.number+1;
      this.questionsList.temp = {
        q: 'Seleccione una pregunta',
        a: ''
      }
    },
    focusAnswer(){
      document.querySelector('#answer-number-'+this.questionsList.number+' input').focus();
    },
    submitForm() {
      //to="/persona/financiamiento/solicitar/exitosa"
      this.addQuestion();
      if (this.questionsList.number == 6 ){
        this.$router.push({
          name: 'PersonaPerfilPreguntasActualizarConfirmar',
          params: this.formConfirmar
        });
      }
    }
  }
}
</script>
<style scoped>
  .progress{
    height: 6px;
  }
  .bg-success{
    background-color: #6e9143 !important;
  }
</style>