<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Servicios</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <router-link to="/persona/pagos/servicios/pagar" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-pagos.svg" alt="" width="46" class="d-block mx-auto mb-2">
              <span class="d-block">Pagar <br>servicio</span>
            </router-link>
            <router-link to="/persona/pagos/servicios/agregar" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-plus.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Agregar <br>servicio</span>
            </router-link>
          </div>
        </div>
      </div>
    
      <div class="mb-4">
        <table-selectable-inv :id="'table-services'" :loading="accounts.loading" 
          :header="accounts.header" 
          :rows="accounts.rows" 
          :show="accounts.show"
          :formatDate="[]"
          :formatCurrency="[]"
          :options="accounts.options"
          :checkbox="accounts.checkbox"
          :message="accounts.message">
        </table-selectable-inv>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      accounts: {
        loading: true,
        header: ['Servicio', 'Empresa', 'Referencia', 'Número', 'Opciones'],
        show: ['category', 'service', 'alias', 'account'],
        message: 'No tienes servicios agregados',
        checkbox: {
          type: 'favorite',
          name: 'favorite',
          params: {
            apiUrl: '/api/general/favorites/service'
          }
        },
        options: [
          { name: "Pagar", component: "PersonaPagosServiciosPagar" },
          { name: "Eliminar", component: "PersonaPagosServiciosEliminarConfirmar",  params: {
            title: 'Confirmar Eliminar Servicio',
            apiUrl: '/api/transfers/services/delete-service',
            backButton: 'PersonaPagosServicios',
            finish: 'PersonaPagosServiciosEliminarRealizada',
            image: true
          }}
        ],
        rows: []
      },
    }
  },
  created() {
    this.loadAccounts();
  },
  methods: {
    loadAccounts() {
      axios.get('/api/transfers/services').then( resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        } else {
          this.accounts.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.loading = false;
      });
    }
  }
}
</script>