<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Registro Portal SIB</h2>

      <form class="text-center wd-700 mx-auto">
        <div class="form-row form-uppercase">
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Primer nombre">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Segundo nombre">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Tercer nombre">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Primer apellido">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Segundo apellido">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Apellido de casada">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="NIT">
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control ">
                <option>Género</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="CUI" pattern="[0-9]{13}" maxlength="13">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Teléfono" pattern="[0-9]{8}" maxlength="8">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Pasaporte" maxlength="21">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="País Pasaporte">
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="form-control" placeholder="Corre electrónico">
          </div>
          <div class="col-12 form-group text-right">
            <router-link :to="{ name: 'PersonaSolicitarRegistroPortalSIBConfirmar', params: {
              title: 'Confirmar Registro Portal SIB'
            }}" class="btn btn-primary">Continuar</router-link>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>