<template>
  <div>
    <div id="background-image" :style="{'background-image': 'url('+selectedImage+')'}">
    </div>
    <a href="" @click.prevent="nextImage">
      <img src="./../../../../assets/images/icons/icon-arrow-circle.svg" alt="" width="40" class="arrow-circle d-none d-lg-block">
    </a>
    <div class="container position-relative" id="content">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="text-uppercase font-weight-bold mb-4">Transferencias Interbancarias inmediatas</h2>
          <p class="lead mb-3 pr-3">
            Envia o recibe transferencias interbancarias <br>
            de forma inmediata como si fuera pago en efectivo,<br>
            sin costo adicional.<br><br> 
            Aplica en montos menores a Q10Mil o $1,250 los 365<br>
            días del año en horario de 8:00 a 20:00 Horas
          </p>
          <div>
            <img src="./../../../../assets/images/slider/img-transferencias.jpg" alt="" class="w-100 rounded" width="164">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return{
      images: [
        require('./../../../../assets/images/slider/slider-bottle.jpg'),
        require('./../../../../assets/images/slider/slider-empresa.jpg')
      ],
      selectedImage: '',
      pos: -1
    }
  },
  created () {
    this.nextImage()
  },
  methods: {
    nextImage(){
      this.pos= this.pos+1;
      if (this.pos == this.images.length) {
        this.pos =  0;
      }
      this.selectedImage = this.images[this.pos]
    }
  }
}
</script>

<style scoped>
  #main-content{
    position: relative;
  }
  #background-image{
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    background-position: left bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  #content h1{
    color: #c9c9c9;
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 600;
  }
  #content h2{
    color: #45803c;
    font-size: 2.65rem;
    letter-spacing: 3px;
  }
</style>