<template>
  <div>
    <div class="container-fluid position-relative" id="perfil">
      <img src="./../../../../../assets/images/icons/icon-arrow-circle.svg" alt="" width="40" class="arrow-circle">
      <div class="container">
        <div class="row">
          <div class="information col-lg-6 bg-green-2 text-white">
            <h2 class="h3 text-uppercase text-left title">Perfil de seguridad</h2>
            <div v-if="profile.loading" class="py-4 text-center">
              <div class="spinner-border text-white" role="status"></div>
            </div>
            <div v-if="!profile.loading && profile.message" class="py-4 text-center">
              <h6 class="text-white">{{ message }}</h6>
            </div>
            <div>
              <div class="mb-4">
                <b>Nombre:</b><br>
                <p>{{ profile.fullName }}</p>
              </div>
              <div class="mb-4" v-if="profile.phrase">
                <b>Frase:</b><br>
                <p>{{ profile.phrase }}</p>
              </div>
              <div class="mb-4" v-if="profile.image">
                <b>Imagen:</b><br>
                <div class="img-frase mt-1" :style="{'background-image': 'url(data:image.png;base64,'+profile.image+')'}"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="container">
              <h2 class="h3 text-uppercase text-center title">Seleccione imagen</h2>
              <form class="wd-360 mx-auto mw-100" @submit.prevent="submitForm">
                <div v-if="imageList.loading" class="py-4 text-center">
                  <div class="spinner-border text-success" role="status"></div>
                </div>
                <div class="form-row form-uppercase">
                  <div class="col-12 mb-3">
                    <div class="row form-row d-flex justify-content-center">
                      <div class="col-3" v-for="(img, index) in imageList.images" :key="index">
                        <div @click="selectedImage = img"
                          :class="{'img-change mr-1': true, 'active': selectedImage == img }"  
                          :style="{'background-image': 'url(data:image.png;base64,'+img.data+')'}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Frase de 50 crts." maxlength="50" v-model="phrase" required>
                  </div>
                  <div class="col-12 form-group text-center">
                    <button type="submit" class="btn btn-primary">
                      Actualizar información
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      selectedImage: [],
      phrase: '',
      profile: {
        loading: true,
        username: JSON.parse(localStorage['inv.user']).userName,
        fullName: JSON.parse(localStorage['inv.user']).lastName + ' ' +JSON.parse(localStorage['inv.user']).firstName,
        image: '',
        phrase: '',
        message: ''
      },
      imageList: {
        loading: true,
        images: []
      }
    }
  },
  created() {
    this.loadImagePhrase();
    this.loadImagesList();
  },
  computed: {
    formConfirmar(){
      return {
        apiUrl: '/api/profile/save-profile-image',
        dataApi: {
          phrase: this.phrase,
          image: this.selectedImage.name
        },
        backButton: 'EmpresaPerfilImageYFrase',
        finish: 'EmpresaPerfilImagenYFraseActualizarRealizada',
        title: 'Confirmar actualización de Imagen y frase',
        col1: [
          {
            name: 'Imagen',
            value: this.selectedImage.data,
            type: 'image'
          },
          {
            name: 'Frase',
            value: this.phrase
          },      
        ]
      }
    }
  },
  methods: {
    loadImagePhrase(){
      axios.get('/api/profile', {
        params: {
          username: this.profile.username
        }
      }).then(resp => {
        if (resp.data){
          this.profile.image = resp.data.image;
          this.profile.phrase = resp.data.phrase;
        }
      }).catch(err => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.profile.loading = false;
      });
    },
    loadImagesList(){
      axios.get('/api/profile/image-list').then(resp => {
        if (resp.data){
          this.imageList.images = resp.data;
        }
      }).catch(err => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.imageList.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'EmpresaPerfilImagenYFraseActualizarConfirmar',
        params: this.formConfirmar
      });
    }
  }
}
</script>