<template>
  <div>
    <div class="container">
      
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title" v-if="payroll">Historial de Pagos a empleados</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="javascript:history.go(-1)" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </a>
          </div>
        </div>
      </div>
      <div v-if="loading" class="py-4 text-center">
        <div class="spinner-border text-success" role="status"></div>
      </div>
      <div v-else>
        <div class="mt-5">
          <div>
            <div class="form-row text-uppercase">
              <div class="col-6 text-right">
                <b>Empresa:</b>
              </div>
              <div class="col-6 text-left">
                {{ payroll.name }}
              </div>
            </div>
            <div class="form-row text-uppercase mb-4">
              <div class="col-6 text-right">
                <b>Cuenta:</b>
              </div>
              <div class="col-6 text-left">
                {{ payroll.account }}
              </div>
            </div>
          </div>
        </div>
        <div class="row text-uppercase mb-4 pb-4 mx-auto" style="max-width:800px">
          <div class="col-md-6 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <b>Código</b>
              <span>{{ info.id }}</span>
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <b>Nombre</b>
              <span>{{ info.name }}</span>
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <b>Puesto</b>
              <span>{{ info.position }}</span>
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <b>Fecha</b>
              <span>{{ info.date }}</span>
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <b>No. de cuenta</b>
              <span>{{ info.account }}</span>
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <b>Banco</b>
              <span>{{ info.bank }}</span>
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <b>Salario</b>
              <span>{{ info.amount }}</span>
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <b>Status</b>
              <span>{{ info.status }}</span>
            </span>
          </div>
          <div class="col-12 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <b>Comentarios</b>
              <span>{{ info.comment }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      id: this.$route.params.id,
      loading: true,
      running: false,
      message: '',
      payroll: [],
      info: []
    }
  },
  created() {
    this.loadPayroll();
    this.loadPayDetail();
  },
  methods: {
    loadPayroll(){
      axios.get('/api/transfers/payrolls/detail', { params: {id: this.id.split('-')[0]} }).then( resp => {
        console.log(resp)
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.payroll = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    },
    loadPayDetail() {
      axios.get('/api/transfers/payrolls/employee/paydetail', {
        params: {
          payrollId: this.id.split('-')[0],
          payId: this.id.split('-')[1],
          employeePayId: this.id.split('-')[2]
        }
      }).then( resp => {
        console.log('planillas pagos emp', resp)
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.info = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    }
  }
}
</script>