<template>
  <div>
    <div class="container">
      <div class="row" v-if="user.sign != 'B'">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Pago Planillas</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <router-link to="/empresa/pagos/planillas/agregar" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-plus.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Agregar <br>planilla</span>
            </router-link>
          </div>
        </div>
      </div>

      <div v-if="user.sign != 'B'">
        <table-planillas :id="'table-payrolls'" :loading="payrolls.loading" 
          :header="payrolls.header" 
          :rows="payrolls.rows" 
          :show="payrolls.show"
          :checkbox="payrolls.checkbox"
          :options="payrolls.options"
          :message="payrolls.message">
        </table-planillas>
      </div>
      <div class="mt-5">
        <h2 class="h3 text-uppercase text-center title">Seguimiento de planillas</h2>
        <table-seguimiento-planillas :id="'table-transactions'" :loading="transactions.loading" 
          :header="transactions.header" 
          :rows="transactions.rows" 
          :show="transactions.show"
          :formatDate="[]"
          :formatCurrency="['totalAmount']"
          :name="'EmpresaTransferenciasCuentaDeTercerosConfirmar'"
          :backButton="'EmpresaTransferenciasCuentaDeTerceros'"
          :finish="'EmpresaTransferenciasCuentaDeTercerosRealizada'"
          :message="transactions.message">
        </table-seguimiento-planillas>
      </div>
      
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      user: JSON.parse(localStorage.getItem('inv.user')),
      transactions: {
        loading: true,
        header: ['Fecha', 'No. de Transacción', 'Nombre de Planilla', 'Estado', 'Monto', 'Opciones'],
        show: ['date', 'id', 'name', 'status', 'totalAmount'],
        message: 'No tienes transacciones registradas',
        rows: []
      },
      payrolls: {
        loading: true,
        header: ['Número', 'Servicio', 'Fecha', 'Estado','Pago Automatizado', 'Opciones'],
        show: ['id', 'name', 'payDay', 'status','auto'],
        message: 'No tienes planillas asociadas',
        rows: [],
        options: [
          { name: "Historial", url: "/empresa/pagos/planillas/historial/" },
          JSON.parse(localStorage.getItem('inv.user')).sign != 'B' ? { name: "Empleados", url: "/empresa/pagos/planillas/detalle/" } : null,
          JSON.parse(localStorage.getItem('inv.user')).sign != 'B' ? { name: "Editar", url: "/empresa/pagos/planillas/editar/" } : null
        ],
        checkbox: {
          type: 'favorite',
          name: 'favorite',
          params: {
            apiUrl: '/api/general/favorites/payroll'
          }
        },
      },
    }
  },
  created() {
    this.loadPayrolls();
    this.loadPayrollsPending();
  },
  methods: {
    loadPayrolls() {
      axios.get('/api/transfers/payrolls').then( resp => {
        if (resp.data.message){
          this.payrolls.message = resp.data.message
        } else {
          console.log(resp)
          this.payrolls.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.payrolls.loading = false;
      });
    },
    loadPayrollsPending() {
      axios.get('/api/transfers/payrolls/pending').then( resp => {
        console.log('tr', resp.data)
        if (resp.data.message){
          this.transactions.message = resp.data.message
        } else {
          this.transactions.rows = resp.data.filter(r => {
            return r.status == 'I' || r.status == 'V'
          });
          this.transactions.rows.map(r => {
            r.date = r.date.split('-').reverse().join('-');
          })
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.transactions.loading = false;
      });
    }
  }
}
</script>