<template>
  <div>
    <div class="container">
      <form action="/pdf/historial-pagos-empleados" method="post" target="_blank" hidden id="formTransaction">
        <input type="hidden" name="_token" :value="csrf">
        <input type="hidden" name="info" :value="JSON.stringify({payroll: payroll, accounts: accounts})">
        <button type="submit">Enviar</button>
      </form>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Historial de pagos a empleados</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="#" class="text-center ml-2 text-reset text-decoration-none p-2" @click="print()">
              <img src="./../../../../../assets/images/icons/icon-print.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Imprimir</span>
            </a>
            <a href="javascript:history.go(-1)" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </a>
          </div>
        </div>
      </div>
      
      <div v-if="loading" class="py-4 text-center">
        <div class="spinner-border text-success" role="status"></div>
      </div>
      <div v-else>
        <div class="mt-5">
          <div>
            <div class="form-row text-uppercase">
              <div class="col-6 text-right">
                <b>Nombre de planilla:</b>
              </div>
              <div class="col-6 text-left">
                {{ payroll.name }}
              </div>
            </div>
            <div class="form-row text-uppercase">
              <div class="col-6 text-right">
                <b>Cuenta:</b>
              </div>
              <div class="col-6 text-left">
                {{ currency[payroll.currency][0] }} {{ payroll.account }}
              </div>
            </div>
            <div class="form-row text-uppercase mb-4" v-if="accounts.rows.length">
              <div class="col-6 text-right">
                <b>Fecha:</b>
              </div>
              <div class="col-6 text-left">
                {{ accounts.rows[0].date.split('-').reverse().join('-') }}
              </div>
            </div>
          </div>
          <table-selectable-inv :id="'table-employees'" :loading="accounts.loading" 
            :header="accounts.header" 
            :rows="accounts.rows" 
            :show="accounts.show"
            :formatDate="[]"
            :formatCurrency="['amount']"
            :status="accounts.status"
            :totals="['amount']"
            :account="true"
            :message="accounts.message">
          </table-selectable-inv>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      currency: {
      'QUE': ['GTQ', 'Q.'],
      'US$': ['USD', '$.'],
      },
      id: this.$route.params.id,
      type: 1,
      loading: true,
      running: false,
      message: '',
      payroll: [],
      accounts: {
        loading: true,
        header: ['Id', 'Código', 'Nombre', 'Puesto', 'Cuenta', 'Banco', 'Salario'],
        show: ['id', 'employeeId', 'name', 'position', 'account', 'bank', 'amount'],
        message: 'No tienes pagos a empleados realizados',
        rows: [],
        username: JSON.parse(localStorage.getItem('inv.user')).userName,
        status: {
          E: 'Ejecutado',
          I: 'Ingresado',
          R: 'Rechazado',
          V: 'Verificado'
        }
      }
    }
  },
  watch: {
    type(){
      this.message = '';
    }
  },
  created() {
    this.loadPayroll();
    this.loadPaylist();
  },
  methods: {
    print(){
      document.querySelector('#formTransaction').submit()
    },
    loadPayroll(){
      axios.get('/api/transfers/payrolls/detail', { params: {id: this.id.split('-')[0]} }).then( resp => {
        console.log(resp)
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.payroll = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    },
    loadPaylist() {
      axios.get('/api/transfers/payrolls/employee/paylist', {
        params: {
          payrollId: this.id.split('-')[0],
          payId: this.id.split('-')[1],
        }
      }).then( resp => {
        console.log('pago', resp.data)
        if (resp.data.message){
          this.accounts.message = resp.data.message
        } else {
          this.accounts.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.loading = false;
      });
    }
  }
}
</script>