<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Historial</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="javascript:history.go(-1)" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </a>
          </div>
        </div>
      </div>
      
      <div v-if="loading" class="py-4 text-center">
        <div class="spinner-border text-success" role="status"></div>
      </div>
      <div v-else>
        <div class="mt-5">
          <div>
            <div class="form-row text-uppercase">
              <div class="col-6 text-right">
                <b>Nombre de planilla:</b>
              </div>
              <div class="col-6 text-left">
                {{ payroll.name }}
              </div>
            </div>
            <div class="form-row text-uppercase mb-4">
              <div class="col-6 text-right">
                <b>Cuenta:</b>
              </div>
              <div class="col-6 text-left">
                {{ currency[payroll.currency][0] }} {{ payroll.account }}
              </div>
            </div>
          </div>
          <table-seguimiento-planillas :id="'table-transactions'" :loading="transactions.loading" 
            :header="transactions.header" 
            :rows="transactions.rows" 
            :show="transactions.show"
            :formatDate="[]"
            :formatCurrency="['amountPaid']"
            :options="'no'"
            :totals="['amount']"
            :message="transactions.message">
          </table-seguimiento-planillas>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
 data() {
   return {
     currency: {
      'QUE': ['GTQ', 'Q.'],
      'US$': ['USD', '$.'],
    },
    id: this.$route.params.id,
    type: 1,
    loading: true,
    running: false,
    message: '',
    payroll: [],
    banks: [],
    transactions: {
      loading: true,
      header: ['Fecha', 'No. de Transacción',  'Estado', 'Monto de Planilla', 'Monto Procesado', 'Diferencia'],
      show: ['date', 'id', 'status', 'amountPaid', 'amountPaid', 'diferencia'],
      message: 'No tienes transacciones registradas',
      rows: []
    },
    fileinput: '',
    file: []
   }
  },
  watch: {
    type(){
      this.message = '';
    }
  },
  created() {
    this.loadPayroll();
    this.loadPayrollsHistory();
  },
  methods: {
    loadPayroll(){
      axios.get('/api/transfers/payrolls/detail', { params: {id: this.id} }).then( resp => {
        console.log(resp)
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.payroll = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    },
    loadPayrollsHistory() {
      axios.get('/api/transfers/payrolls/history', {
        params: {
          id: this.id,
          start: '2020-01-01',
          end: '2020-12-01'
        }
      }).then( resp => {
        if (resp.data.message){
          this.transactions.message = resp.data.message
        } else {
          this.transactions.rows = resp.data;
          this.transactions.rows.map(r => {
            r.date = r.date.split('-').reverse().join('-');
          })
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.transactions.loading = false;
      });
    }
  }
}
</script>