<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title mb-2" v-if="payroll">{{ payroll.name }}</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="javascript:history.go(-1)" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </a>
          </div>
        </div>
      </div>
      <div class="form-row text-uppercase mb-4">
        <div class="col-6 text-right">
          <b>Cuenta:</b>
        </div>
        <div class="col-6 text-left" v-if="payroll.currency">
          {{ currency[payroll.currency][0] }} {{ payroll.account }}
        </div>
      </div>
      
      <div v-if="loading" class="py-4 text-center">
        <div class="spinner-border text-success" role="status"></div>
      </div>
      <div v-else>
        <form  class="text-center wd-700 mx-auto mb-4" @submit.prevent="addEmployee">
          
          <div class="py-4">
            <nav class="nav nav-pills justify-content-center">
              <button type="button" :class="'btn btn-outline-primary mr-3' + (type == 1 ? ' btn-primary text-white' : '')" href="#" @click="type = 1">Ingresar empleado</button>
              <button type="button" :class="'btn btn-outline-primary mr-3' + (type == 2 ? ' btn-primary text-white' : '')" href="#" @click="type = 2">Subir por archivo csv</button>
            </nav>
          </div>
          <div class="form-row text-uppercase form-uppercase mt-4" v-if="type == 1">
            <div class="col-12">
              <h2 class="h3 text-uppercase text-center title">Agregar Empleado</h2>
            </div>
            <div class="col-12 mb-3">
              <input type="text" class="form-control" ref="name" v-model="employee.name" placeholder="Nombre" id="name">
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" v-model="employee.position" placeholder="Puesto">
            </div>
            <div class="col-md-6 mb-3">
              <div class="select position-relative dropdown-toggle">
                <select class="form-control" v-model="employee.bankCode" required>
                  <option disabled value="">Banco</option>
                  <option v-for="(bank, index) in banks" :key="index" :value="bank.code">{{ bank.name }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" v-model="employee.account" placeholder="Número de cuenta">
            </div>
            <div class="col-md-6 mb-3">
              <div class="select position-relative dropdown-toggle">
                <select class="form-control" v-model="employee.currency" required disabled>
                  <option disabled value="">Moneda</option>
                  <option value="QUE">Quetzales</option>
                  <option value="US$">Dólares</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="select position-relative dropdown-toggle">
                <select class="form-control" v-model="employee.accountType" required>
                  <option disabled value="">Tipo de Cuenta</option>
                  <option value="1">Monetaria</option>
                  <option value="2">Ahorros</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <input type="number" class="form-control" v-model="employee.amount" placeholder="Salario" step="0.01" min="1">
            </div>
          </div>
          <div class="form-row text-uppercase form-uppercase mt-4" v-if="type == 2">
            <div class="col-12 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center pointer" @click="openFile">
              <span>{{ fileinput == '' ? 'Seleccionar archivo CSV' : fileinput }}</span>
              <img src="./../../../../../assets/images/icons/icon-upload.svg" alt="" width="24">
            </span>
            <input type="file" @change="onFileChange" hidden id="file" accept=".csv" :required="type == 2">
          </div>
          </div>
          <div class="form-row form-uppercase">
            <div :class="'col-12 form-group ' + (employee.success ? 'text-success': 'text-danger')  " v-if="message">
              <h6>{{ message }}</h6>
            </div>
          </div>
          <div class="row" v-if="type == 1 || type == 2">
            <div class="col-12 form-group text-right">
              <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}">
                <div class="ld ld-ring ld-spin"></div> {{ type == 1 ? 'Agregar' : 'Subir' }}
              </button>
            </div>
          </div>
        </form>
        <div>
          <h4 class="text-uppercase text-center subtitle">Empleados</h4>
          <table-empleados :id="'table-employees'" :loading="employees.loading" 
            :header="employees.header" 
            :rows="employees.rows" 
            :show="employees.show"
            :formatDate="[]"
            :checkbox="true"
            :formatCurrency="['amount']"
            :options="employees.options"
            :totals="true"
            :message="employees.message">
          </table-empleados>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
 data() {
   return {
    currency: {
      'QUE': ['GTQ', 'Q.'],
      'US$': ['USD', '$.'],
    },
    id: this.$route.params.id,
    type: 0,
    loading: true,
    running: false,
    message: '',
    payroll: [],
    banks: [],
    employee: {
      payrollId: this.$route.params.id,
      name: '',
      position: '',
      bankCode: '',
      account: '',
      accountType: '',
      currency: '',
      amount: '',
      success: false
    },
    employees: {
      loading: true,
      header: ['Nombre', 'Puesto', 'Cuenta', 'Banco', 'Salario'],
      show: ['name', 'position', 'account', 'bank', 'amount'],
      message: 'No tienes empleados en esta planilla',
      rows: [],
      data: {
        payrollId: this.$route.params.id,
        employees: []
      }
    },
    fileinput: '',
    file: []
   }
  },
  watch: {
    type(){
      this.message = '';
    }
  },
  created() {
    localStorage.setItem('__last', this.id);
    this.loadBanks();
    this.loadPayroll();
    this.loadEmployees();
  },
  methods: {
    openFile(){
      document.querySelector('#file').click();
    },
    onFileChange(e) {
      this.fileinput = '';
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.fileinput = files[0].name;
      this.parseCSV(files[0], ',', result => {
        this.file = result;
        this.file.forEach(el => {
          this.employees.data.employees.push({
            payrollId: this.$route.params.id,
            name: el[0],
            position: el[1],
            bankCode: el[6],
            account: el[3],
            accountType: el[2] == 'MON' ? 1 : 2,
            currency: el[4],
            amount: el[5]
          });
        });
      });
    },
    parseCSV(file, delimiter, callback) {
      var reader = new FileReader();
      reader.onload = function() {
        var lines = this.result.split('\n');
        var result = lines.map(function(line) {
          return line.split(delimiter);
        });
        callback(result);
      }
      reader.readAsText(file);
    },
    loadBanks(){
      this.banks.loading = true;
      axios.get('/api/transfers/payrolls/banks').then(resp => {
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.banks = resp.data.banks;
          this.employee.bankCode = this.banks.filter(b => b.code == 48)[0].code
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      })
    },
    loadEmployees(){
      axios.get('/api/transfers/payrolls/employees', { params: {id: this.id} }).then( resp => {
        if (resp.data.message){
          this.employees.message = resp.data.message
        } else {
          this.employees.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.employees.loading = false;
      });
    },
    loadPayroll(){
      axios.get('/api/transfers/payrolls/detail', { params: {id: this.id} }).then( resp => {
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.payroll = resp.data;
          this.employee.currency = this.payroll.currency
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    },
    addEmployee(){
      this.employees.loading = true;
      let data =  this.employee;
      let url = '/api/transfers/payrolls/employee/add'; 
      if (this.type == 2){
        let url = '/api/transfers/payrolls/employee/add-multiple'; 
        console.log('this', this.employees.data.employees)
        this.employees.data.employees.map((e, index)=>{
          if (e.amount){e.amount = e.amount.replace(/\r/g, '')}
          if (e.bankCode){e.bankCode = e.bankCode.replace(/\r/g, '')}
          if (!e.name){
            this.employees.data.employees.splice(index,1)
          }
        });
        axios.post(url, {
          payrollId: this.id,
          employees: this.employees.data.employees
        }).then( resp => {
          this.employee.success = resp.data.success;
          if (resp.data.success){
            this.loadEmployees();
          }
        }).catch( error => {
          this.$dialogs.alert(error, window.slimDialogError);
        }).then(() => {
          this.employees.loading = false;
        });
      } else {
        axios.post(url, data ).then( resp => {
          this.employee.success = resp.data.success;
          this.message = resp.data.message ? resp.data.message : resp.message;
          if (resp.data.success){
            this.loadEmployees();
              setTimeout(() => {
              this.resetForm();
            }, 1500);
          }
        }).catch( error => {
          this.$dialogs.alert(error, window.slimDialogError);
        }).then(() => {
          this.employees.loading = false;
          
        });
      }
    },
    resetForm(){
      this.employee = {
        payrollId: this.$route.params.id,
        name: '',
        position: '',
        bankCode: 48,
        account: '',
        accountType: '',
        currency: this.employee.currency,
        amount: '',
        success: false
      };
      if (document.querySelector('#name')){
        document.querySelector('#name').focus();
      }
    }
  }
}
</script>