<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Editar planilla</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="javascript:history.go(-1)" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </a>
          </div>
        </div>
      </div>
      
      <div v-if="loading" class="py-4 text-center">
        <div class="spinner-border text-success" role="status"></div>
      </div>
      <form v-else class="text-center wd-700 mx-auto" @submit.prevent="submitForm">
        <div class="form-row form-uppercase">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" v-model="payroll.name" placeholder="Nombre de planilla">
          </div>
          <div class="col-md-6 mb-3">
            <div class="select dropdown-toggle position-relative">
              <select class="form-control" v-model="payroll.account" required>
                <option disabled value="">Seleccione cuenta a debitar</option>
                <option v-for="(acc, i) in (accounts.data.sourceAccounts)" :key="i" :value="acc.number.split('-').join('')">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3" v-if="accounts.data">
            <input type="text" class="form-control" readonly placeholder="Disponible"  v-if="payroll.account == ''">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center" v-else>
              <span>Disponible</span>
              <span>{{ accounts.data.sourceAccounts.filter(a => { return a.number.split('-').join('') == payroll.account })[0].balance | currency({symbol: currencySymbol[accounts.data.sourceAccounts.filter(a => { return a.number.split('-').join('') == payroll.account })[0].currency]})}}</span>
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
              <span>Automatizar pago</span>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="check" v-model="payroll.auto">
                <label class="custom-control-label" for="check"></label>
              </div>
            </span>
          </div>
          <div class="col-md-6 mb-3">
            <div class="select dropdown-toggle position-relative mb-2">
              <select class="form-control" v-model="payroll.payDay" required :disabled="!payroll.auto">
                <option disabled value="0">Día del mes de pago</option>
                <option v-for="index in 30" :key="index" :value="index">
                  {{ index }} de cada mes
                </option>
              </select>
            </div>
            <div>
              <label class="check justify-content-center d-flex">
                <input type="checkbox" :checked="false">
                <span class="checkmark"></span> En caso de no haber día hábil, hacerlo día previo
              </label>
            </div>
          </div>
          <div class="col-md-6 mb-3" hidden>
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center pointer" @click="openFile">
              <span>{{ fileinput == '' ? 'Seleccionar archivo CSV' : fileinput }}</span>
              <img src="./../../../../../assets/images/icons/icon-upload.svg" alt="" width="24">
            </span>
            <input type="file" @change="onFileChange" hidden id="file" accept=".csv">
          </div>
          <div class="col-12 form-group text-danger" v-if="message">
            <h6>{{ message }}</h6>
          </div>
          <div class="col-12 form-group text-center" v-if="message == ''">
            <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}">
              <div class="ld ld-ring ld-spin"></div>Editar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.',
        DOL: '$.'
      },
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.'],
        DOL: ['USD', '$.']
      },
      loading: true,
      running: false,
      account: '',
      accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: [],
          destinationAccounts: []
        }
      },
      payroll: {
        name: '',
        id: this.$route.params.id,
        auto: false,
        payDay: 0
      },
      fileinput: '',
      file: [],
      message: '',
    }
  },
  computed: {
    formConfirmar() {
      let data = this.payroll;
      return {
        apiUrl: '/api/transfers/payrolls/update',
        dataApi: this.payroll,
        backButton: 'EmpresaPagosPlanillasEditar',
        finish: 'EmpresaPagosPlanillasEditarRealizada',
        title: 'Confirmar Editar Planilla',
        col1: [
          {
            name: 'Nombre',
            value: this.payroll.name,
          },
          {
            name: 'Cuenta',
            value: this.payroll.account,
          },
          {
            name: 'Automatizar pago',
            value: this.payroll.auto ? 'Si' : 'No'
          },
          {
            name: 'Día del mes de Pago',
            value: this.payroll.payDay > 0 ? this.payroll.payDay+' / mes ' : 'Manual'
          }
        ],
      }
    }
  },
  created() {
    if (this.$route.params.payroll) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.getOwnAccounts();
    }
  },
  methods: {
    getOwnAccounts(){
      axios.get('/api/transfers/own/accounts').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts;
          this.accounts.data.destinationAccounts = resp.data.destinationAccounts;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
        this.loadPayroll();
      });
    },
    loadPayroll(){
      axios.get('/api/transfers/payrolls/detail', {
        params: {
          id: this.payroll.id
        }
      }).then(resp => {
        console.log('res', resp)
        if (resp.data.message){
          this.message = resp.data.message
        } else { 
          this.payroll = resp.data
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.loading = false;
      });
    },
    openFile(){
      document.querySelector('#file').click();
    },
    onFileChange(e) {
      this.fileinput = '';
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.fileinput = files[0].name;
      this.parseCSV(files[0], ',', result => {
        this.file = result;
        console.log(this.file);
        console.log('auto', this.auto)
      });
    },
    parseCSV(file, delimiter, callback) {
      var reader = new FileReader();
      reader.onload = function() {
        var lines = this.result.split('\n');
        var result = lines.map(function(line) {
          return line.split(delimiter);
        });
        callback(result);
      }
      reader.readAsText(file);
    },
    submitForm(){
      this.$router.push({
        name: 'EmpresaPagosPlanillasEditarConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>
<style scoped>
.custom-switch label, .pointer{
  cursor: pointer;
}
.check {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 2px;
  margin-left: 21px;
  border: 0;
  margin-top: -1px;
  border: 2px solid #adb5bd;
}
.check:hover input ~ .checkmark {
  background-color: #ccc;
}
.check input:checked ~ .checkmark {
  background-color: #66965f;
  border-color: #45803c;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check input:checked ~ .checkmark:after {
  display: block;
}
.check .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>