<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Empleado</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="javascript:history.go(-1)" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </a>
          </div>
        </div>
      </div>
      <div v-if="loading" class="py-4 text-center">
        <div class="spinner-border text-success" role="status"></div>
      </div>
      <div v-else>
        <form  class="text-center wd-700 mx-auto mb-4" @submit.prevent="updateEmployee">
          <div class="form-row text-uppercase form-uppercase" v-if="type == 1">
            <div class="col-md-6 mb-3">
              <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center">
                <span>Código</span>
                <span>{{ employee.id }}</span>
              </span>
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" v-model="employee.name" placeholder="Nombre">
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" v-model="employee.position" placeholder="Puesto">
            </div>
            <div class="col-md-6 mb-3">
              <div class="select position-relative dropdown-toggle">
                <select class="form-control" v-model="employee.bankCode" required>
                  <option disabled value="">Banco</option>
                  <option v-for="(bank, index) in banks" :key="index" :value="bank.code">{{ bank.name }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" v-model="employee.account" placeholder="Número de cuenta">
            </div>
            <div class="col-md-6 mb-3">
              <div class="select position-relative dropdown-toggle">
                <select class="form-control" v-model="employee.currency" required>
                  <option disabled value="">Moneda</option>
                  <option value="QUE">Quetzales</option>
                  <option value="US$">Dólares</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="select position-relative dropdown-toggle">
                <select class="form-control" v-model="employee.accountType" required>
                  <option disabled value="">Tipo de Cuenta</option>
                  <option value="1">Monetaria</option>
                  <option value="2">Ahorros</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <input type="number" class="form-control" v-model="employee.amount" placeholder="Salario" step="0.01" min="1">
            </div>
          </div>
          <div class="form-row text-uppercase form-uppercase mt-4" v-if="type == 2">
            <div class="col-12 mb-3">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center pointer" @click="openFile">
              <span>{{ fileinput == '' ? 'Seleccionar archivo CSV' : fileinput }}</span>
              <img src="./../../../../../assets/images/icons/icon-upload.svg" alt="" width="24">
            </span>
            <input type="file" @change="onFileChange" hidden id="file" accept=".csv">
          </div>
          </div>
          <div class="form-row form-uppercase">
            <div :class="'col-12 form-group ' + (employee.success ? 'text-success': 'text-danger')  " v-if="message">
              <h6>{{ message }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-12 form-group text-right">
              <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}">
                <div class="ld ld-ring ld-spin"></div>Modificar
              </button>
            </div>
          </div>
        </form>

        <div id="historial">
          <h4 class="text-uppercase text-center subtitle">Historial de Pagos</h4>
          <table-selectable-inv :id="'table-payments'" :loading="payments.loading"
            :header="payments.header" 
            :rows="payments.rows" 
            :show="payments.show"
            :formatDate="[]"
            :formatCurrency="payments.formatCurrency"
            :message="payments.message"
            :status="payments.status">
          </table-selectable-inv>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
 data() {
   return {
    id: this.$route.params.id,
    type: 1,
    loading: true,
    running: false,
    message: '',
    payroll: [],
    banks: [],
    employee: {
      payrollId: this.$route.params.id,
      name: '',
      position: '',
      bankCode: '',
      account: '',
      accountType: '',
      currency: '',
      amount: '',
      success: false
    },
    employees: {
      loading: true,
      header: ['Nombre', 'Puesto', 'Cuenta', 'Tipo','Banco', 'Moneda', 'Salario', 'Estado'],
      show: ['name', 'position', 'account', 'accountType','bank', 'currency', 'amount', 'status'],
      message: 'No tienes empleados en esta planilla',
      rows: [],
      data: {
        payrollId: this.$route.params.id,
        employees: []
      }
    },
    payments: {
      loading: true,
      header: ['Fecha', 'Transacción', 'Descripción', 'Cuenta', 'Banco','Estado', 'Salario'],
      show: ['date', 'payrollPaymentId', 'comment', 'account', 'bank','status', 'amount'],
      message: 'Este empleado no tiene historial de pagos',
      rows: [],
      formatCurrency: ['amount'],
      status: {
        E: 'Ejecutado',
        I: 'Ingresado',
        R: 'Rechazado'
      }
    },
    fileinput: '',
    file: []
   }
  },
  watch: {
    type(){
      this.message = '';
    }
  },
  created() {
    this.loadBanks();
    this.loadEmployee();
    this.loadEmployeePayments();
  },
  computed: {
    formConfirmar() {
      this.employees.loading = true;
      let data =  this.employee;
      data.payrollId = this.id.split('-')[0];
      data.employeeId = this.id.split('-')[1];
      return {
        apiUrl: '/api/transfers/payrolls/employee/update',
        dataApi: data,
        backButton: '/empresa/pagos/planillas/detalle/'+localStorage.getItem('__last'),
        finish: 'EmpresaPagosPlanillasEmpleadoEditarRealizada',
        title: 'Confirmar Editar Empleado',
        type: "employee",
        col1: [
          {
            name: 'Código',
            value: data.employeeId,
          },
          {
            name: 'Nombre',
            value: data.name
          },
          {
            name: 'Puesto',
            value: data.position
          },
        ],
        col2: [
          {
            name: 'Banco',
            value: this.banks.filter( b => { return b.code == data.bankCode})[0].name,
          },
          {
            name: 'No. Cuenta',
            value: (data.accountType == 1 ? 'MON-' : 'AHO-') + (data.currency == 'QUE' ? 'GTQ' : 'USD')+ '-' + data.account 
          },
          {
            name: 'Salario',
            value: data.amount,
            currency: (data.currency == 'QUE' ? 'Q.' : '$.')
          }
        ]
      }
    }
  },
  methods: {
    loadBanks(){
      this.banks.loading = true;
      axios.get('/api/transfers/payrolls/banks').then(resp => {
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.banks = resp.data.banks;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      })
    },
    loadEmployee(){
      axios.get('/api/transfers/payrolls/employee/details', { 
        params: {
          payrollId: this.id.split('-')[0],
          employeeId: this.id.split('-')[1]
        } 
      }).then( resp => {
        console.log('emp', resp)
        if (resp.data.message){
          this.employee.success = resp.data.success
        } else {
          this.employee = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    },
    loadEmployeePayments(){
      axios.get('/api/transfers/payrolls/employee/payments', { 
        params: {
          payrollId: this.id.split('-')[0],
          employeeId: this.id.split('-')[1],
          months: 0
        } 
      }).then( resp => {
        console.log('pagos', resp)
        if (resp.data.message){
          this.payments.message = resp.data.message
        } else {
          this.payments.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.payments.loading = false;
      });
    },
    updateEmployee(){
      this.$router.push({
        name: 'EmpresaPagosPlanillasEmpleadoEditarConfirmar',
        params: this.formConfirmar
      });
    }
  }
}
</script>