<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title" v-if="!payroll.data">{{ transaction }} planilla</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="javascript:history.go(-1)" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </a>
          </div>
        </div>
      </div>
      
      <div v-if="payroll.data && payroll.data.success == true" class="mb-4">
        <h2 class="h3 text-uppercase text-center title text-success mb-3" >Transacción exitosa</h2>
        <p class="text-center">{{ payroll.data.message }}</p>
      </div>
      <div v-if="payroll.data && payroll.data.success == false" class="mb-4 mb-3">
        <h2 class="h3 text-uppercase text-danger title text-center" >Transacción fallida</h2>
        <p class="text-center">{{ payroll.data.message }}</p>
      </div>
      
      <div v-if="loading" class="py-4 text-center">
        <div class="spinner-border text-success" role="status"></div>
      </div>
      <div v-else>
        <div>
          <div class="form-row text-uppercase">
            <div class="col-6 text-right">
              <b>Empresa:</b>
            </div>
            <div class="col-6 text-left">
              {{ payroll.name }}
            </div>
          </div>
          <div class="form-row text-uppercase mb-4">
            <div class="col-6 text-right">
              <b>Cuenta:</b>
            </div>
            <div class="col-6 text-left">
              {{ payroll.currency == "QUE" ? 'GTQ' : 'USD' }} {{ payroll.account }}
            </div>
          </div>
          <div v-if="payroll.data">
            <div class="form-row text-uppercase mb-4" v-if="payroll.data.sucess">
              <div class="col-6 text-right">
                <b>Transacción:</b>
              </div>
              <div class="col-6 text-left">
                {{ payroll.data.code }}
              </div>
            </div>
            <div class="form-row text-uppercase mb-4" v-if="payroll.data.fecha">
              <div class="col-6 text-right">
                <b>Fecha:</b>
              </div>
              <div class="col-6 text-left">
                {{ payroll.data.date }}
              </div>
            </div>
          </div>
          <h4 class="text-uppercase text-center subtitle">Empleados</h4>
          <table-inv :id="'table-employees'" :loading="employees.loading" 
            :header="employees.header" 
            :rows="employees.rows" 
            :show="employees.show"
            :formatDate="[]"
            :checkbox="true"
            :formatCurrency="['amount']"
            :totalsPlanilla="true"
            :message="employees.message">
          </table-inv>
          <form class="wd-700 mx-auto text-center">
            <textarea rows="4" class="form-control mb-3" placeholder="Comentarios" v-model="payroll.comment" required v-if="user.sign != 'C'"></textarea>
            <div v-if="!payroll.data || payroll.data.success == false">
              <router-link to='./../' class="btn btn-primary back">Regresar</router-link>
              <button :class="{'btn btn-primary submit ld-over-inverse': true, 'running': running}" @click.prevent="sendData" v-if="user.sign != 'C'">
                <div class="ld ld-ring ld-spin"></div> Confirmar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
 data() {
   return {
    id: this.$route.params.id,
    transaction: this.$route.params.transaction,
    type: 1,
    loading: true,
    running: false,
    message: '',
    payroll: [],
    banks: [],
    user: JSON.parse(localStorage.getItem('inv.user')),
    employee: {
      payrollId: this.$route.params.id,
      name: '',
      position: '',
      bankCode: '',
      account: '',
      accountType: '',
      currency: '',
      amount: '',
      success: false
    },
    employees: {
      loading: true,
      header: ['Nombre', 'Puesto', 'Cuenta', 'Tipo','Banco', 'Moneda', 'Salario', ],
      show: ['name', 'position', 'account', 'accountType','bank', 'currency', 'amount',],
      message: 'No tienes empleados en esta planilla',
      rows: [],
      data: {
        payrollId: this.$route.params.id,
        employees: []
      }
    },
    fileinput: '',
    file: [],
    comment: ''
   }
  },
  watch: {
    type(){
      this.message = '';
    }
  },
  created() {
    this.loadBanks();
    this.loadPayroll();
    this.loadEmployees();
  },
  methods: {
    loadBanks(){
      this.banks.loading = true;
      axios.get('/api/transfers/enterprise/banks/available').then(resp => {
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.banks = resp.data.banks;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      })
    },
    loadEmployees(){
      axios.get('/api/transfers/payrolls/employees', { params: {id: this.id.split('-')[0]} }).then( resp => {
        if (resp.data.message){
          this.employees.message = resp.data.message
        } else {
          this.employees.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.employees.loading = false;
      });
    },
    loadPayroll(){
      axios.get('/api/transfers/payrolls/detail', { params: {id: this.id.split('-')[0]} }).then( resp => {
        console.log(resp)
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          console.log('payroll', resp.data)
          this.payroll = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    },
    sendData(){
      this.running = true;
      axios.post('/api/transfers/payrolls/'+this.transaction, { 
        paymentId: this.id.split('-')[1],
        comment: this.payroll.comment
       }).then( resp => {
        this.payroll.data = resp.data;
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.running = false;
      });
    }
  }
}
</script>