<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Transferir A cuenta de terceros</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <router-link :to="{ name: 'EmpresaTransferenciasCuentaDeTerceros' }" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </router-link>
          </div>
        </div>
      </div>
      <form class="text-center wd-700 mx-auto" @submit.prevent="submitForm">
        <div class="form-row form-uppercase">
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="sourceAccount" required>
                <option>Seleccione una cuenta a debitar</option>
                <option v-for="(acc, i) in (accounts.data.sourceAccounts)" :key="i" :value="acc">
                  {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" readonly placeholder="Disponible"  v-if="sourceAccount == 'Seleccione una cuenta a debitar'">
            <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center" v-else>
              <span>Disponible</span>
              <span>{{ sourceAccount.balance | currency({symbol: currency[sourceAccount.currency][1]})}}</span>
            </span>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" required>
                <option disabled>Seleccione una cuenta a acreditar</option>
                <option selected>{{ currency[destinationAccount.currency][0]+' '+destinationAccount.typeDesc.substring(0,3)+' '+destinationAccount.number+' '+destinationAccount.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <input type="number" class="form-control" placeholder="Monto a debitar" required v-model="amount">
          </div>
          <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Comentarios (Máx 150 ctrs.)" required v-model="comments">
          </div>
          <div class="col-12 form-group text-right">
            <button class="btn btn-primary">Continuar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      rate: [],
      sourceAccount: 'Seleccione una cuenta a debitar',
      amount: '',
      email: '',
      comments: '',
      accounts:{
        loading: true,
        message: '',
        data: {
          sourceAccounts: []
        }
      },
      destinationAccount: this.$route.params 
    }
  },
  computed: {
    formConfirmar() {
      let amount = this.amount;
      let amountDestination = this.amount;
      let rate = this.rate.appBuy.toFixed(2);
      if (this.sourceAccount.currency == 'QUE' && this.destinationAccount.currency == 'US$'){
        amountDestination = (this.amount/this.rate.appSell).toFixed(2);
        rate = this.rate.appSell.toFixed(2);
      }
      if (this.sourceAccount.currency == 'US$' && this.destinationAccount.currency == 'QUE'){
        amountDestination = (this.amount*this.rate.appBuy).toFixed(2);
      }
      return {
        apiUrl: '/api/transfers/enterprise/others/transfer',
        dataApi: {
          email: this.email,
          origin: this.sourceAccount.number,
          destination: this.destinationAccount.number,
          amount: this.amount,
          description: this.comments
        },
        backButton: 'EmpresaTransferenciasCuentaDeTercerosTransferir',
        backButtonParams: this.$data,
        finish: 'EmpresaTransferenciasCuentaDeTercerosTransferirRealizada',
        title: 'Confirmar Transferencia a cuentas de terceros',
        col1: [
          {
            name: 'Cuenta a debitar',
            value: this.sourceAccount.number
          },
          {
            name: 'A nombre de',
            value: this.sourceAccount.name,
            lines: 2
          },
          {
            name: 'Monto a debitar en '+this.currency[this.sourceAccount.currency][0],
            value: this.amount,
            currency: this.currency[this.sourceAccount.currency][1]
          },
          {
            name: 'Comentario',
            value: this.comments
          }            
        ],
        col2: [
          {
            name: 'Cuenta a acreditar',
            value: this.destinationAccount.number
          },
          {
            name: 'A nombre de',
            value: this.destinationAccount.name,
            lines: 2
          },
          {
            name: 'Monto a acreditar en '+this.currency[this.destinationAccount.currency][0],
            value: amountDestination,
            currency: this.currency[this.destinationAccount.currency][1]
          },
          this.sourceAccount.currency != this.destinationAccount.currency ? {
            name: 'Tasa de cambio',
            value: rate
          } : {}        
        ]
      }
    }
  },
  created(){
    if (this.$route.params.amount) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      if(!this.destinationAccount.number){
        this.$router.push({
          name: 'EmpresaTransferenciasCuentaDeTerceros'
        });
      } else {
        this.getOwnAccounts();
        this.getExchangeRate();
      }
    }
  },
  methods: {
    getOwnAccounts(){
      axios.get('/api/transfers/own/accounts').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    getExchangeRate(){
      axios.get('/api/transfers/exchange/rate').then(resp => {
        console.log(resp.data)
        if (resp.data){
          this.rate = resp.data;
        }
      });
    },
    submitForm() {
      this.$router.push({
        name: 'EmpresaTransferenciasCuentaDeTercerosTransferirConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>