<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Agregar cuenta de terceros INV</h2>
      
      <form class="text-center wd-360 mx-auto" @submit.prevent="submitForm">
        <div class="form-row form-uppercase">
          <div class="col-12 form-group">
            <input type="text" class="form-control" placeholder="Número de cuenta" v-model="account" required>
          </div>
          <div class="col-12 form-group">
            <input type="text" class="form-control" placeholder="Referencia" v-model="alias" required>
          </div>
          <div class="col-12 form-group text-danger" v-if="message">
            <h6>{{ message }}</h6>
          </div>
          <div class="col-12 form-group text-center">
            <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}">
              <div class="ld ld-ring ld-spin"></div>Agregar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      running: false,
      account: '',
      alias: '',
      message: '',
      otherAccount: []
    }
  },
  created() {
    if (this.$route.params.alias) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    }
  },
  computed: {
    formConfirmar() {
      return {
        apiUrl: '/api/transfers/enterprise/others/add-account',
        dataApi: {
          account: this.account,
          alias: this.alias
        },
        backButton: 'EmpresaTransferenciasCuentaDeTercerosAgregar',
        backButtonParams: {
          account: this.account,
          alias: this.alias
        },
        finish: 'EmpresaTransferenciasCuentaDeTercerosAgregarRealizada',
        title: 'Confirmar Agregar Cuenta de Terceros',
        col1: [
          {
            name: 'Cuenta',
            value: this.otherAccount.number,
            lines: 2
          },
          {
            name: 'Tipo',
            value: this.otherAccount.typeDesc,
          },
          {
            name: 'Referencias',
            value: this.alias
          }          
        ],
        col2: [
          {
            name: 'Nombre',
            value: this.otherAccount.name
          },
          {
            name: 'Moneda',
            value: this.otherAccount.currency
          }          
        ]
      }
    }
  },
  methods: {
    submitForm(){
      // VALIDATE ACCOUNT
      this.running = true;
      this.message = '';
      axios.post('/api/transfers/enterprise/others/validate-account', {
        account: this.account
      }).then(resp => {
        if (resp.data.success == false){
          this.message = resp.data.message
        } else {
          this.otherAccount = resp.data;
          this.$router.push({
            name: 'EmpresaTransferenciasCuentaDeTercerosAgregarConfirmar',
            params: this.formConfirmar
          })
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.running = false;
      });
    }
  }
}
</script>