<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">A cuenta de terceros</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <router-link  to="/empresa/transferencias/cuenta-de-terceros/agregar" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-plus.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Agregar <br>cuenta</span>
            </router-link>
          </div>
        </div>
      </div>
      <table-inv :id="'table-savings'" :loading="accounts.loading" 
        :header="accounts.header" 
        :rows="accounts.rows" 
        :show="accounts.show"
        :formatDate="[]"
        :formatCurrency="[]"
        :options="accounts.options"
        :message="accounts.message">
      </table-inv>
      <div class="mt-5">
        <h2 class="h3 text-uppercase text-center title">Seguimiento de Transferencias</h2>
        <table-transacciones-inv :id="'table-transactions'" :loading="transactions.loading" 
          :header="transactions.header" 
          :rows="transactions.rows" 
          :show="transactions.show"
          :formatDate="['date']"
          :formatCurrency="['amount']"
          :name="'EmpresaTransferenciasCuentaDeTercerosConfirmar'"
          :backButton="'EmpresaTransferenciasCuentaDeTerceros'"
          :finish="'EmpresaTransferenciasCuentaDeTercerosRealizada'"
          :message="transactions.message">
        </table-transacciones-inv>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      transactions: {
        loading: true,
        header: ['Fecha', 'No. de Transacción', 'Transferencia', 'Estado', 'Monto', 'Opciones'],
        show: ['date', 'sequence', 'comment', 'status', 'amount'],
        message: 'No tienes transacciones registradas',
        rows: []
      },
      accounts: {
        loading: true,
        header: ['Moneda', 'No. de cuenta', 'Tipo', 'Nombre', 'Referencia', 'Opciones'],
        show: ['currency', 'number', 'typeDesc', 'name', 'alias'],
        message: 'No tienes cuentas a terceros asociadas',
        options: [
          { name: "Transferir", component: "EmpresaTransferenciasCuentaDeTercerosTransferir" },
          { name: "Editar", component: "EmpresaTransferenciasCuentaDeTercerosEditar" },
          { name: "Eliminar", component: "EmpresaTransferenciasCuentaDeTercerosEliminarConfirmar", params: {
            title: 'Confirmar Eliminar Cuenta de Terceros',
            apiUrl: '/api/transfers/others/delete-account',
            backButton: 'EmpresaTransferenciasCuentaDeTerceros',
            finish: 'EmpresaTransferenciasCuentaDeTercerosEliminarRealizada'
          }}
        ],
        rows: []
      },
    }
  },
  created() {
    this.loadAccounts();
    this.getTransactions();
  },
  methods: {
    loadAccounts() {
      axios.get('/api/transfers/enterprise/others/associated-accounts').then( resp => {
        if (!resp.data.length){
          this.accounts.message = 'No tienes cuentas de terceros asociadas';
        } else {
          this.accounts.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.loading = false;
      });
    },
    getTransactions(){
      axios.get('/api/transfers/enterprise/transactions', {
        params: {
          type: 'TER'
        }
      }).then(resp => {
        if (resp.data){
          this.transactions.rows = resp.data;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.transactions.loading = false;
      });
    },
  }
}
</script>