<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Cuentas Propias INV</h2>
      <div class="mb-4 pb-4">
        <h4 class="text-uppercase text-center subtitle">Monetarios</h4>
        <table-selectable-inv :id="'table-monetary'" :loading="accounts.monetary.loading" 
          :header="accounts.monetary.header" 
          :rows="accounts.monetary.rows" 
          :show="accounts.monetary.show"
          :formatCurrency="accounts.monetary.formatCurrency"
          :routeName="'EmpresaMisCuentasConsultaEstadosDeCuenta'"
          :message="accounts.monetary.message">
        </table-selectable-inv>
      </div>
      <div class="mb-4 pb-4">
        <h4 class="text-uppercase text-center subtitle">Ahorros e Inversiones</h4>
        <table-selectable-inv :id="'table-savings'" :loading="accounts.savings.loading" 
          :header="accounts.savings.header" 
          :rows="accounts.savings.rows" 
          :show="accounts.savings.show"
          :formatCurrency="accounts.savings.formatCurrency"
          :routeName="'EmpresaMisCuentasConsultaEstadosDeCuenta'"
          :message="accounts.savings.message">
        </table-selectable-inv>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      accounts: {
        monetary: {
          loading: true,
          header: ['Moneda', 'No. de cuenta', 'Tipo', 'Nombre', 'Saldo disponible'],
          show: ['currency', 'number', 'typeDesc', 'name', 'available'],
          formatCurrency: ['available'],
          message: 'No tienes cuentas monetarias activas',
          rows: []
        },
        savings: {
          loading: true,
          header: ['Moneda', 'No. de cuenta', 'Tipo', 'Nombre', 'Saldo disponible'],
          show: ['currency', 'number', 'typeDesc', 'name', 'available'],
          formatCurrency: ['available'],
          message: 'No tienes cuentas de ahorros o inversiones activas',
          rows: []
        }
      }
    }
  },
  created() {
    this.loadAccountsSavings();
    this.loadAccountsMonetary();
  },
  methods: {
    loadAccountsSavings(){
      axios.get('/api/accounts/savings').then(resp => {
        console.log('savings', resp.data)
        if (resp.data.length){
          this.accounts.savings.rows = resp.data;
        }
        if (resp.data.message){
          this.accounts.savings.message = resp.data.message
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.savings.loading = false;
      });
    },
    loadAccountsMonetary(){
      axios.get('/api/accounts/monetary').then(resp => {
        console.log('monetary', resp.data)
        if (resp.data.length){
          this.accounts.monetary.rows = resp.data;
        }
        if (resp.data.message){
          this.accounts.monetary.message = resp.data.message
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.monetary.loading = false;
      });
    }
  }
}
</script>