<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="h3 text-uppercase text-center title">A cuentas a otros bancos locales</h2>
        </div>

        <div class="col-lg-2 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a  href="./../../../../downloads/diccionario-de-cuentas.pdf" target="_blank"  class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-download.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Diccionario<br>De Cuentas</span>
            </a>
            <router-link  :to="{
              name: 'PersonaTransferenciasOtrosBancosAgregar'
            }" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-plus.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Agregar <br>cuenta</span>
            </router-link>
          </div>
        </div>
      </div>
      
      <table-inv  :id="'table-other-banks'" :loading="accounts.loading" 
        :header="accounts.header" 
        :rows="accounts.rows" 
        :show="accounts.show"
        :formatDate="[]"
        :formatCurrency="[]"
        :options="accounts.options"
        :message="accounts.message">
      </table-inv>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      accounts: {
        loading: true,
        header: ['Moneda', 'No. de cuenta', 'Tipo', 'Banco', 'Alias', 'Opciones'],
        show: ['currency', 'number', 'typeDesc', 'bank', 'alias'],
        message: 'No tienes cuentas a otros bancos asociadas',
        options: [
          { name: "Transferir", component: "PersonaTransferenciasOtrosBancosTransferir" },
          { name: "Editar", component: "PersonaTransferenciasOtrosBancosEditar" },
          { name: "Eliminar", component: "PersonaTransferenciasOtrosBancosEliminarConfirmar", params: {
            title: 'Confirmar Eliminar Cuenta de Terceros',
            apiUrl: '/api/transfers/banks/delete-account',
            backButton: 'PersonaTransferenciasOtrosBancos',
            finish: 'PersonaTransferenciasOtrosBancosEliminarRealizada'
          }}
        ],
        rows: []
      },
    }
  },
  created() {
    this.loadAccounts();
  },
  methods: {
    loadAccounts() {
      axios.get('/api/transfers/banks/associated-accounts').then( resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        } else {
          this.accounts.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.accounts.loading = false;
      });
    }
  }
}
</script>