<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Editar cuenta de otros bancos</h2>
      
      <form class="text-center wd-700 mx-auto" @submit="submitForm">
        <div class="form-row form-uppercase">
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Número de cuenta" v-model="account.number" readonly>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Nombre o referencia" v-model="account.alias" required>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="account.type" required>
                <option disabled value="">Tipo de cuenta</option>
                <option v-for="(type, index) in accountTypes" :key="index" :value="type.code">{{ type.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="account.bankCode" required>
                <option disabled value="">Banco</option>
                <option v-for="(bank, index) in banks.data" :key="index" :value="bank.code">{{ bank.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="account.currency" required>
                <option disabled value="">Moneda</option>
                <option value="QUE">Quetzales</option>
                <option value="US$">Dólares</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <input type="number" class="form-control" placeholder="Número de teléfono" v-model="account.phone" :required="account.email == ''">
          </div>
          <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Correo del Destinatario" v-model="account.email" :required="account.phone == ''">
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="account.idType">
                <option disabled value="">Tipo de persona</option>
                <option value="N">Individual</option>
                <option value="J">Jurídica</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="No. de identificación" v-model="account.idNumber">
          </div>
          
          <div class="col-12 form-group text-center">
            <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}">
              <div class="ld ld-ring ld-spin"></div>Editar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return {
      running: false,
      account: this.$route.params,
      idTypes: {
        N: 'Individual',
        J: 'Jurídica'
      },
      banks: {
        loading: false,
        data: []
      },
      accountTypes: [],
      selectedBank: '',
    }
  },
  computed: {
    formConfirmar() {
      return {
        apiUrl: '/api/transfers/banks/update-account',
        dataApi: {
          account: this.account.number,
          alias: this.account.alias,
          bank: this.account.bankCode,
          accountType: this.account.type,
          currency: this.account.currency,
          email: this.account.email,
          phone: this.account.phone,
          idType: this.account.idType,
          idNumber: this.account.idNumber
        },
        backButton: 'PersonaTransferenciasOtrosBancosEditar',
        backButtonParams: this.$data,
        finish: 'PersonaTransferenciasOtrosBancosEditarRealizada',
        title: 'Confirmar Editar Cuenta de Otros Bancos',
        col1: [
          {
            name: 'Cuenta',
            value: this.account.number,
          },
          {
            name: 'Nombre',
            value: this.account.alias,
          },
          {
            name: 'Banco',
            value: this.banks.data.filter(el => { return el.code == this.account.bankCode })[0].name,
          },
          {
            name: 'Moneda',
            value: this.account.currency
          },
          {
            name: 'Tipo',
            value: this.account.typeDesc,
          },
          {
            name: 'Correo Electrónico',
            value: this.account.email
          },
          {
            name: 'Teléfono',
            value: this.account.phone
          },
          {
            name: 'Tipo de Persona',
            value: this.account.idType == '' ? 'No seleccionado' : this.idTypes[this.account.idType]
          },
          {
            name: 'No. de Identificación',
            value: this.account.idNumber ? this.account.idNumber : 'No seleccionado'
          }        
        ]
      }
    }
  },
  created(){
    if (this.$route.params.account) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      if (!this.$route.params.alias) {
        this.$router.push({
          name: 'PersonaTransferenciasOtrosBancos'
        })
      } else {
        this.loadBanks();
        if (!this.account.idType){
          this.account.idType = '';
        }
        if (!this.account.idNumber){
          this.account.idNumber = '';
        }
      }
    }
  },
  methods: {
    loadBanks(){
      this.banks.loading = true;
      axios.get('/api/transfers/banks/available').then(resp => {
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.banks.data = resp.data.banks;
          this.accountTypes = resp.data.accountTypes;
        }
        
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.banks.loading = false;
      });
    },
    submitForm() {
      this.$router.push({
        name: 'PersonaTransferenciasOtrosBancosEditarConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>