<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Transferencias entre cuentas propias INV</h2>
      
      <form class="text-center wd-700 mx-auto" @submit.prevent="submitForm">
        <div class="text-center py-4 my-4" v-if="accounts.loading" >
          <div class="spinner-border text-success" role="status"></div>
        </div>
        <div class="text-center py-4 my-4" v-if="accounts.message">
          <h6 class="text-danger">{{ accounts.message }}</h6>
        </div>
        <div v-if="!accounts.loading">
          <div class="form-row form-uppercase">
            <div class="col-md-6 form-group">
              <div class="select position-relative dropdown-toggle">
                <select class="form-control" v-model="sourceAccount" required>
                  <option disabled>Seleccione cuenta a debitar</option>
                  <option v-for="(acc, i) in (accounts.data.sourceAccounts)" :key="i" :value="acc">
                    {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" readonly placeholder="Disponible"  v-if="sourceAccount == 'Seleccione cuenta a debitar'">
              <span class="form-control text-uppercase text-right d-flex justify-content-between align-items-center" v-else>
                <span>Disponible</span>
                <span>{{ sourceAccount.balance | currency({symbol: currency[sourceAccount.currency][1]})}}</span>
              </span>
            </div>
            <div class="col-md-6 form-group">
              <div class="select position-relative dropdown-toggle" required>
                <select class="form-control" v-model="destinationAccount">
                  <option disabled>Seleccione cuenta a acreditar</option>
                  <option v-for="(acc, i) in (accounts.data.destinationAccounts)" :key="i" :value="acc">
                    {{ currency[acc.currency][0]+' '+acc.typeDesc.substring(0,3)+' '+acc.number+' '+acc.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" placeholder="Monto a debitar" required v-model="amount" step="0.01" min="0.01">
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" placeholder="Comentarios (Máx 150 ctrs.)" v-model="comments" required>
            </div>
            <div class="col-12 form-group text-right">
              <button class="btn btn-primary">Continuar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currency: {
        QUE: ['GTQ', 'Q.'],
        US$: ['USD', '$.']
      },
      sourceAccount: 'Seleccione cuenta a debitar',
      destinationAccount: 'Seleccione cuenta a acreditar',
      amount: '',
      comments: '',
      rate: [],
      accounts: {
        loading: true,
        message: '',
        data: {
          sourceAccounts: [],
          destinationAccounts: []
        }
      }
    }
  },
  created() {
    if (this.$route.params.currency) {
      for (let prop in this.$data) {
        this[prop] = this.$route.params[prop]
      }
    } else {
      this.getOwnAccounts();
      this.getExchangeRate();
    }
  },
  computed: {
    formConfirmar() {
      let amountAcreditar = this.amount;
      let rate = this.rate.appBuy.toFixed(2);

      if (this.sourceAccount.currency == 'QUE' && this.destinationAccount.currency == 'US$'){
        amountAcreditar = (this.amount/this.rate.appSell).toFixed(2);
        rate = this.rate.appSell.toFixed(2);
      }
      if (this.sourceAccount.currency == 'US$' && this.destinationAccount.currency == 'QUE'){
        amountAcreditar = (this.amount*this.rate.appBuy).toFixed(2);
      }
      return {
        apiUrl: '/api/transfers/own/transfer',
        dataApi: {
          origin: this.sourceAccount.number,
          destination: this.destinationAccount.number,
          amount: this.amount,
          description: this.comments
        },
        backButton: 'PersonaTransferenciasCuentasPropias',
        backButtonParams: this.$data,
        finish: 'PersonaTransferenciasCuentasPropiasRealizada',
        title: 'Confirmar Transferencia a cuentas propias',
        col1: [
          {
            name: 'Cuenta a debitar',
            value: this.sourceAccount.number
          },
          {
            name: 'A nombre de',
            value: this.sourceAccount.name,
            lines: 2
          },
          {
            name: 'Monto a debitar',
            value: this.amount,
            currency: this.currency[this.sourceAccount.currency][1]
          },
          {
            name: 'Comentario',
            value: this.comments
          },
        ],
        col2: [
          {
            name: 'Cuenta a acreditar',
            value: this.destinationAccount.number
          },
          {
            name: 'A nombre de',
            value: this.destinationAccount.name,
            lines: 2
          },
          {
            name: 'Monto a acreditar',
            value: amountAcreditar,
            currency: this.currency[this.destinationAccount.currency][1]
          },
          this.sourceAccount.currency != this.destinationAccount.currency ? {
            name: 'Tasa de cambio',
            value: rate
          } : {}           
        ]
      }
    }
  },
  methods: {
    getOwnAccounts(){
      axios.get('/api/transfers/own/accounts').then(resp => {
        if (resp.data.message){
          this.accounts.message = resp.data.message
        }
        if (resp.data.sourceAccounts){
          this.accounts.data.sourceAccounts = resp.data.sourceAccounts;
          this.accounts.data.destinationAccounts = resp.data.destinationAccounts;
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.accounts.loading = false;
      });
    },
    getExchangeRate(){
      axios.get('/api/transfers/exchange/rate').then(resp => {
        if (resp.data){
          this.rate = resp.data;
        }
      });
    },
    submitForm() {
      this.$router.push({
        name: 'PersonaTransferenciasCuentasPropiasConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>