<template>
  <div>
    <!-- TABLE INV -->
    <div class="table-responsive">
      <table class="table table-striped table-lg">
        <thead class="bg-green-2 text-white">
          <tr>
            <th @click="sort('no')">No.</th>
            <th v-for="(item, i) in header" :key="i"  @click="sort(show[i])">
              <span :class="{ 'text-center d-block': item.toLowerCase() == 'opciones' }">
                {{ item }}
                <span class="ml-1 sort" v-if="(currentSort == show[i] && currentSortDir == 'asc')">▴</span>
                <span class="ml-1 sort" v-else>▾</span>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="invisible"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
          <tr v-if="loading">
            <td :colspan="header.length+1" class="py-4 text-center">
              <div class="spinner-border text-success" role="status"></div>
            </td>
          </tr>
          <tr v-if="!loading && !rows.length">
            <td :colspan="header.length+1" class="py-4 text-center">
              <h6 class="text-danger">{{ message }}</h6>
            </td>
          </tr>
          <tr v-for="(row, index) in sortedRows" :key="index">
            <td class="px-2">{{ index + 1 }}</td>
            <td class="px-2 text-uppercase" v-for="(item, key) in show" :key="key">
              <span v-if="item == 'type' && row['type'] == 'COM'">Compra dólares</span>
              <span v-if="item == 'type' && row['type'] == 'VEN'">Venta dólares</span>
              <span v-if="item == 'amount' && row['type'] == 'COM'">{{ row[item] | currency({ symbol: '$.' }) }}</span>
              <span v-if="item == 'amount' && row['type'] == 'VEN'">{{ row[item] | currency({ symbol: '$.' }) }}</span>
              <span v-if="item == 'total' && row['type'] == 'COM'">{{ row[item] | currency({ symbol: 'Q.' }) }}</span>
              <span v-if="item == 'total' && row['type'] == 'VEN'">{{ row[item] | currency({ symbol: 'Q.' }) }}</span>
              <span v-if="item == 'rate'"> {{ parseFloat(row[item]).toFixed(2) }}</span>
              <span v-if="
                item !== 'type' && item !== 'amount' && item !== 'total' && item !== 'rate'">
                  {{ row[item] }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <span class="d-block mb-2 text-right">Total de filas: <b>{{ rows.length }}</b></span>
    </div>
    <div class="row justify-content-between d-flex" v-if="rows.length>5">
      <ul class="col pagination">
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="prevPage">Ant</a>
        </li>
        <li class="page-item dropdown">
          <button class="btn btn-white page-link dropdown-toggle px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Página {{ currentPage }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href=""  v-for="(n, ix) in totalPages" :key="ix" @click.prevent="currentPage = n">{{ n }}</a>
          </div>
        </li>
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="nextPage">Sig</a>
        </li>
      </ul>
      <div class="col d-flex align-items-center justify-content-end">
        <label for="views" class="text-uppercase mr-2 mb-0">Mostrar por página</label>
        <div class="select select-sm dropdown-toggle position-relative">
          <select name="vistas" id="views" class="form-control form-control-sm" v-model="pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['id', 'loading', 'header', 'rows', 'show', 'checkbox', 'formatCurrency', 'formatDate', 'routeName', 'message', 'options'],
    data() {
      return {
        currency: {
          QUE: 'GTQ',
          US$: 'USD'
        },
        currentSort:'no',
        currentSortDir:'asc',
        pageSize:5,
        currentPage:1
      }
    },
    watch: {
      pageSize(){
        this.currentPage = 1;
      }
    },
    methods: {
      sort(s) {
        if(s === this.currentSort) {
          this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
        }
        this.currentSort = s;
      },
      nextPage() {
        if((this.currentPage*this.pageSize) < this.rows.length) this.currentPage++;
      },
      prevPage() {
        if(this.currentPage > 1) this.currentPage--;
      }
    },
    computed:{
      sortedRows() {
        return this.rows.sort((a,b) => {
          let modifier = 1;
          if(this.currentSortDir === 'desc') modifier = -1;
          if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        }).filter((row, index) => {
          let start = (this.currentPage-1)*this.pageSize;
          let end = this.currentPage*this.pageSize;
          if(index >= start && index < end) return true;
        });
      },
      totalPages() {
        return Math.ceil(this.rows.length / this.pageSize)
      }
    }
  }
</script>
<style scoped>
  .table tbody tr:nth-child(even){
    background: #f5f5f5;
    transition: all 0.2s;
  }
  table thead th{
    cursor: pointer;
    text-align: center;
  }
  table thead th:hover{
    background-color: #467334;
  }
  .page-link{
    cursor: pointer;
  }
  table td{
    text-align: center;
  }
  thead th:nth-child(5), thead th:nth-child(6), thead th:nth-child(7){
    text-align: right;
  }
  table td:nth-child(4), thead th:nth-child(4){
    text-align: left;
  }
  table td:nth-child(5), table td:nth-child(6), table td:nth-child(7){
    text-align: right;
  }
  table td:last-child{
    font-weight: 600;
  }
</style>