<template>
  <div>
    <!-- TABLE INV -->
    <div class="table-responsive">
      <table :class="{'table table-striped': true, 'table-hover': !loading && rows.length}">
        <thead class="bg-green-2 text-white">
          <tr>
            <th @click="sort('no')">No.</th>
            <th v-for="(item, i) in header" :key="i"  @click="sort(show[i])" :data-item="item.toLowerCase()">
              <span :class="{ 'text-center d-block': item.toLowerCase() == 'opciones' }">
                {{ item }}
                <span class="ml-1 sort" v-if="(currentSort == show[i] && currentSortDir == 'asc')">▴</span>
                <span class="ml-1 sort" v-else>▾</span>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="invisible"><td></td><td></td><td></td><td></td></tr>
          <tr v-if="loading">
            <td :colspan="header.length+1" class="py-4 text-center">
              <div class="spinner-border text-success" role="status"></div>
            </td>
          </tr>
          <tr v-if="!loading && !rows.length">
            <td :colspan="header.length+1" class="py-4 text-center">
              <h6 class="text-danger">{{ message }}</h6>
            </td>
          </tr>
          <tr v-for="(row, index) in sortedRows" :key="index">
            <td class="px-2">{{ index + 1 }}</td>
            <td :class="{'px-2 text-uppercase': true, 'money': formatCurrency.includes(item)}" v-for="(item, key) in show" :key="key"
            :data-item="item">
              <router-link :to="options && options == 'no' ? '/empresa/pagos/planillas/empleados/'+row.payrollId+'-'+row.id : ''" tag="div">
                <span v-if="item == 'currency'">{{ currency[row[item]] }}</span>
                <span v-if="item == 'typeDesc'">{{ row[item].substring(0,3) }}</span>
                <span v-if="item == 'status'">{{ statusArray[row[item]] }}</span>
                <span v-if="formatCurrency && formatCurrency.includes(item)">{{ row[item] | currency({ symbol: row['currency'] == 'QUE' ? 'Q.' : '$.' }) }}</span>
                <span v-if="formatDate && formatDate.includes(item)">{{ new Date(row[item]) | dateFormat('DD-MM-YYYY') }}</span>
                <span v-if="item == 'diferencia'">{{ row['totalAmount'] - row['amountPaid'] | currency({ symbol: row['currency'] == 'QUE' ? 'Q.' : '$.' }) }}</span>
                <span v-if="
                  item != 'currency' && 
                  item != 'status' && 
                  item != 'diferencia' &&
                  !formatCurrency.includes(item) && 
                  !formatDate.includes(item) && 
                  item !== 'typeDesc'">
                    {{ row[item] }}
                </span>
              </router-link>
            </td>
            <td v-if="!options || options != 'no'">
              <div class="dots dropdown position-relative mx-auto">
                <a class="link text-center w-100" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">○ ○ ○</a>
                <div class="dropdown-menu dropdown-menu-right text-uppercase">
                  <router-link v-if="user.sign == 'A'" class="dropdown-item" tag="button" :to="'/empresa/pagos/planillas/ejecutar/'+row.payrollId+'-'+row.id">Ejecutar</router-link>
                  <router-link v-if="user.sign != 'C'" class="dropdown-item" tag="button" :to="'/empresa/pagos/planillas/rechazar/'+row.payrollId+'-'+row.id">Rechazar</router-link>
                  <router-link v-if="user.sign != 'A'" class="dropdown-item" tag="button" :to="'/empresa/pagos/planillas/verificar/'+row.payrollId+'-'+row.id">Verificar</router-link>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <span class="d-block mb-2 text-right">Total de filas: <b>{{ rows.length }}</b></span>
      <div v-if="totals && rows[0] && rows[0]['currency'] " class="text-right  mt-3" style="line-height: 1.64">
        Total monto planilla: <b style="width: 120px; display: inline-block">{{ rows.reduce((a,b) => a+(b['totalAmount'] || 0), 0) | currency({ symbol: rows[0]['currency'] == 'QUE' ? 'Q.' : '$.' })}}</b><br>
        Total monto procesado: <b style="width: 120px; display: inline-block">{{ rows.reduce((a,b) => a+(b['amountPaid'] || 0), 0) | currency({ symbol: rows[0]['currency'] == 'QUE' ? 'Q.' : '$.' })}}</b><br>
        Total diferencia: <b style="width: 120px; display: inline-block">{{ rows.reduce((a,b) => a+(b['totalAmount'] || 0) - (b['amountPaid'] || 0), 0) | currency({ symbol: rows[0]['currency'] == 'QUE' ? 'Q.' : '$.' })}}</b>
      </div>
    </div>
    <!-- PAGINATION -->
    <div class="bottom-info row justify-content-between d-flex" v-if="rows.length>5">
      <ul class="col pagination">
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="prevPage">Ant</a>
        </li>
        <li class="page-item dropdown">
          <button class="btn btn-white page-link dropdown-toggle px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Página {{ currentPage }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href=""  v-for="(n, ix) in totalPages" :key="ix" @click.prevent="currentPage = n">{{ n }}</a>
          </div>
        </li>
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="nextPage">Sig</a>
        </li>
      </ul>
      <div class="col d-flex align-items-center justify-content-end">
        <label for="views" class="text-uppercase mr-2 mb-0">Mostrar por página</label>
        <div class="select select-sm dropdown-toggle position-relative">
          <select name="vistas" id="views" class="form-control form-control-sm" v-model="pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
            <option value="1000">Todos</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['id', 'loading', 'header', 'rows', 'show', 'checkbox', 'formatCurrency', 'formatDate', 'name', 'backButton', 'finish','routeName', 'message', 'perPage', 'sourceAccount', 'destinationAccount', 'rate', 'options', 'totals'],
    data() {
      return {
        currency: {
          QUE: ['GTQ', 'Q.'],
          US$: ['USD', '$.']
        },
        statusArray: {
          I: 'Ingresado',
          R: 'Rechazado',
          V: 'Verificado',
          E: 'Ejecutado',
          IE: 'IE'
        },
        user: JSON.parse(localStorage.getItem('inv.user')),
        currentSort:'no',
        currentSortDir:'asc',
        pageSize: this.perPage ? this.perPage : 5,
        currentPage:1,
      }
    },
    created(){
      console.log('rows', this.rows)
    },
    watch: {
      pageSize(){
        this.currentPage = 1;
      },
      perPage(val){
        this.pageSize = val;
      }
    },
    methods: {
      sort(s) {
        if(s === this.currentSort) {
          this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
        }
        this.currentSort = s;
      },
      nextPage() {
        if((this.currentPage*this.pageSize) < this.rows.length) this.currentPage++;
      },
      prevPage() {
        if(this.currentPage > 1) this.currentPage--;
      },
    },
    computed:{
      sortedRows() {
        return this.rows.sort((a,b) => {
          let modifier = 1;
          if(this.currentSortDir === 'desc') modifier = -1;
          if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        }).filter((row, index) => {
          let start = (this.currentPage-1)*this.pageSize;
          let end = this.currentPage*this.pageSize;
          if(index >= start && index < end) return true;
        });
      },
      totalPages() {
        return Math.ceil(this.rows.length / this.pageSize)
      }
    }
  }
</script>
<style scoped>
  .table-hover tbody tr:nth-child(even){
    background: #f5f5f5;
    transition: all 0.2s;
  }
  .table-hover tbody tr:hover {
    background-color: rgb(200,200,200);
    cursor: pointer;
  }
  .table-hover tbody tr:hover .dots.dropdown > a{
    color: #fff;
  }
  table thead th{
    cursor: pointer;
    text-align: center;
  }
  table thead th:hover{
    background-color: #467334;
  }
  .page-link{
    cursor: pointer;
  }
  table thead th[data-item="nombre"], th[data-item="actividad"]{
    text-align: left;
  }
  table thead th[data-item*="monto"], th[data-item="debe"], th[data-item="haber"]{
    text-align: right;
  }
  table td{
    text-align: center;
  }
  table td[data-item="name"], td[data-item="description"]{
    text-align: left;
  }
  table td.money{
    text-align: right;
  }
</style>