<template>
  <div>
    <!-- TABLE INV -->
    <div class="table-responsive">
      <table :class="{'table table-striped': true, 'table-hover': !loading && rows.length}">
        <thead class="bg-green-2 text-white">
          <tr>
            <th v-if="checkbox">
              <label class="check"  v-if="checkbox.type != 'favorite'">
                <input type="checkbox" :checked="false">
                <span class="checkmark"></span>
              </label>
            </th>
            <th>No.</th>
            <th>
              <label class="check">
                <input type="checkbox" :checked="false" v-model="selectAll">
                <span class="checkmark"></span>
              </label>
            </th>
            <th v-for="(item, i) in header" :key="i"  @click="sort(show[i])" :data-item="item.toLowerCase()">
              <span :class="{ 'text-center d-block': item.toLowerCase() == 'opciones' }" v-html="item"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="invisible"><td></td></tr>
          <tr v-if="loading">
            <td :colspan="header.length+4" class="py-4 text-center">
              <div class="spinner-border text-success" role="status"></div>
            </td>
          </tr>
          <tr v-if="!loading && !rows.length">
            <td :colspan="header.length+4" class="py-4 text-center">
              <h6 class="text-danger">{{ message }}</h6>
            </td>
          </tr>
          <tr v-for="(row, index) in sortedRows" :key="index">
            <td v-if="checkbox">
              <div v-if="checkbox.type == 'favorite'">
                <a href="#" v-if="row[checkbox.name]" @click="addFavorite('/api/general/favorites/provider', row, index)"><img src="./../../../assets/images/icons/icon-star-full.svg" alt="" width="22"></a>
                <a href="#" v-else @click="addFavorite('/api/general/favorites/provider', row, index)"><img src="./../../../assets/images/icons/icon-star.svg" alt="" width="22"></a>
              </div>
              <label class="check" v-else>
                <input type="checkbox" :checked="false">
                <span class="checkmark"></span>
              </label>
            </td>
            <td class="px-2">{{ index + 1 }}</td>
            <td class="px-2">
              <label class="check">
                <input type="checkbox" :checked="false" :value="row" v-model="selectedProviders">
                <span class="checkmark"></span>
              </label>
            </td>
            <td class="px-2 text-uppercase" v-for="(item, key) in show" :key="key" :data-item="item">
              <span v-if="item == 'account'">{{ (row['accountType'] == 1 ? 'MON-' : 'AHO-') + (row['currency'] == 'QUE' ? 'GTQ' : 'USD') +'-'+row['account'] }} </span>
              <span v-else>{{ row[item] }} </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- OPCIONES -->
    <div class="text-right">
      <button type="button" class="btn btn-outline-primary" @click="deleteProviders(row, index)" v-if="selectedProviders.length>0">
        Eliminar ({{ selectedProviders.length }}) Proveedor{{ selectedProviders.length>1 ? 'es' : '' }}
      </button> 
      <button type="button" class="btn btn-outline-primary" @click="addPayment" v-if="selectedProviders.length>0">
        Pagar ({{ selectedProviders.length }}) Proveedor{{ selectedProviders.length>1 ? 'es' : '' }}
      </button> 
    </div>
    <!-- PAGINATION -->
    <div class="row justify-content-between d-flex" v-if="rows.length>5">
      <ul class="col pagination">
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="prevPage">Ant</a>
        </li>
        <li class="page-item dropdown">
          <button class="btn btn-white page-link dropdown-toggle px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Página {{ currentPage }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href=""  v-for="(n, ix) in totalPages" :key="ix" @click.prevent="currentPage = n">{{ n }}</a>
          </div>
        </li>
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="nextPage">Sig</a>
        </li>
      </ul>
      <div class="col d-flex align-items-center justify-content-end">
        <label for="views" class="text-uppercase mr-2 mb-0">Mostrar por página</label>
        <div class="select select-sm dropdown-toggle position-relative">
          <select name="vistas" id="views" class="form-control form-control-sm" v-model="pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import input from './../modal/Input';
  export default {
    props: ['id', 'loading', 'header', 'rows', 'show', 'checkbox', 'formatCurrency', 'routeName', 'options', 'checkbox', 'favorite', 'message', 'perPage'],
    data() {
      return {
        currency: {
          QUE: 'GTQ',
          US$: 'USD',
          DOL: 'USD'
        },
        currentSort:'no',
        currentSortDir:'asc',
        pageSize: this.perPage ? this.perPage : 5,
        currentPage:1,
        total: 0,
        selectedProviders: [],
        selectAll: false
      }
    },
    watch: {
      pageSize(){
        this.currentPage = 1;
      },
      selectAll(val){
        this.selectedProviders = [];
        if (val){
          this.rows.forEach(row => {
            this.selectedProviders.push(row)
          });
        }
      }
    },
    methods: {
      sort(s) {
        if(s === this.currentSort) {
          this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
        }
        this.currentSort = s;
      },
      nextPage() {
        if((this.currentPage*this.pageSize) < this.rows.length) this.currentPage++;
      },
      prevPage() {
        if(this.currentPage > 1) this.currentPage--;
      },
      addFavorite(url, row, index){
        axios.post(url, {
          id: row.id,
          status: row.favorite ? 'I' : 'A',
        }).then( resp => {
          if (resp.data.success) {
            this.sortedRows[index].favorite = !row.favorite;
          }
        }).catch( error => {
          this.$dialogs.alert(error, window.slimDialogError);
        })
      },
      addPayment(provider, index){
        let selectedId = [];
        this.selectedProviders.forEach(p => {
          selectedId.push(p.id)
        });
        this.$router.push({
          path: '/empresa/pagos/proveedores/pagar/'+JSON.stringify(selectedId)
        });
      },
      deleteProviders(provider = null, index = null){
        console.log(provider)
        let selectedProviders = [];
        if (provider && index>=0){
          selectedProviders.push(this.rows[index])
        } else {
          selectedProviders = this.selectedProviders;
        }
        this.$dialogs.confirm( 
          selectedProviders.length == 1 ? 
          '¿Está seguro de eliminar el proveedor '+selectedProviders[0].name+'?' : 
          '¿Está seguro de eliminar estos '+selectedProviders.length+' proveedores?', {
          title: 'Eliminar proveedor', 
          size: 'sm', 
          okLabel: 'SI', 
          cancelLabel: 'NO'
        }).then(res => {
          if (res && res.ok == true) {
            selectedProviders.forEach(provider => {
              axios.post('/api/transfers/providers/delete', {
                id: provider.id,
              }).then( resp => {
                if (resp.data.success) {
                  this.rows.splice(this.rows.indexOf(provider), 1);
                }
              }).catch( error => {
                this.$dialogs.alert(error, window.slimDialogError);
              })
            });
            selectedProviders = [];
            if (!provider){
              this.selectedProviders = [];
            }
          }
        });
      }
    },
    computed:{
      sortedRows() {
        return this.rows.sort((a,b) => {
          let modifier = 1;
          if(this.currentSortDir === 'desc') modifier = -1;
          if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        }).filter((row, index) => {
          let start = (this.currentPage-1)*this.pageSize;
          let end = this.currentPage*this.pageSize;
          console.log('start', start, end)
          if(index >= start && index < end) return true;
        });
      },
      totalPages() {
        return Math.ceil(this.rows.length / this.pageSize)
      }
    }
  }
</script>

<style scoped>
  .table-hover tbody tr:nth-child(even){
    background: #f5f5f5;
    transition: all 0.2s;
  }
  .table-hover tbody tr:hover {
    background-color: rgb(200,200,200);
    cursor: pointer;
  }
  .table-hover tbody tr:hover .dots.dropdown > a{
    color: #fff;
  }
  .page-link, .custom-control-label{
    cursor: pointer;
  }
  table thead th{
    cursor: pointer;
    text-align: center;
  }
  table thead th[data-item="nombre"], th[data-item="actividad"]{
    text-align: left;
  }
  table thead th[data-item*="saldo"], th[data-item="debe"], th[data-item="haber"]{
    text-align: right;
  }
  table td{
    text-align: center;
  }
  table td[data-item="name"], td[data-item="description"]{
    text-align: left;
  }
  table td.money{
    text-align: right;
  }
  .check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 2px;
    margin-left: 21px;
    border: 0;
    margin-top: -1px;
    border: 2px solid #adb5bd;
  }
  .check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .check input:checked ~ .checkmark {
    background-color: #66965f;
    border-color: #45803c;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .check input:checked ~ .checkmark:after {
    display: block;
  }
  .check .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
</style>