<template>
  <div>
    <!-- TABLE INV -->
    <div class="table-responsive">
      <table :class="{'table table-striped': true, 'table-hover': !loading && rows.length}">
        <thead class="bg-green-2 text-white">
          <tr>
            <th v-if="checkbox">
              <label class="check"  v-if="checkbox.type != 'favorite'">
                <input type="checkbox" :checked="false">
                <span class="checkmark"></span>
              </label>
            </th>
            <th @click="sort('no')">No.</th>
            <th v-for="(item, i) in header" :key="i"  @click="sort(show[i])" :data-item="item.toLowerCase()" :data-i="show[i]">
              <span :class="{ 'text-center d-block': item.toLowerCase() == 'opciones' }">
                {{ item }}
                <span class="ml-1 sort" v-if="(currentSort == show[i] && currentSortDir == 'asc')">▴</span>
                <span class="ml-1 sort" v-else>▾</span>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="invisible"><td></td><td></td><td></td><td></td></tr>
          <tr v-if="loading">
            <td :colspan="header.length+2" class="py-4 text-center">
              <div class="spinner-border text-success" role="status"></div>
            </td>
          </tr>
          <tr v-if="!loading && !rows.length">
            <td :colspan="header.length+2" class="py-4 text-center">
              <h6 class="text-danger">{{ message }}</h6>
            </td>
          </tr>
          <tr v-for="(row, index) in sortedRows" :key="index">
            <td v-if="checkbox">
              <div v-if="checkbox.type == 'favorite'">
                <a href="#" v-if="row[checkbox.name]" @click="addFavorite(checkbox.params.apiUrl, row, index)"><img src="./../../../assets/images/icons/icon-star-full.svg" alt="" width="22"></a>
                <a href="#" v-else @click="addFavorite(checkbox.params.apiUrl, row, index)"><img src="./../../../assets/images/icons/icon-star.svg" alt="" width="22"></a>
              </div>
              <label class="check" v-else>
                <input type="checkbox" :checked="false">
                <span class="checkmark"></span>
              </label>
            </td>
            <td class="px-2">{{ index + 1 }}</td>
            <router-link 
              :to="selectable == 'employee' ? ('/empresa/pagos/planillas/empleados/detalle/'+row.payrollId+'-'+row.payrollPaymentId)+'-'+row.id : { name: routeName, params: { data: row }}" 
              :class="{'px-2 text-uppercase': true, 'money': formatCurrency.includes(item)}" v-for="(item, key) in show" :key="key" tag="td"
              :data-item="item">
              <span v-if="item == 'currency'">{{ currency[row[item]] }}</span>
              <span v-if="item == 'typeDesc'">{{ row[item].substring(0,3) }}</span>
              <span v-if="formatCurrency && formatCurrency.includes(item)">{{ row[item] | currency({ symbol: currency[row['currency']] == 'GTQ' ? 'Q.' : '$.' })}}</span>
              <div v-if="item == 'auto'" class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" :id="id+'-switch-'+index" :checked="row[item]">
                <label class="custom-control-label" :for="id+'-switch-'+index"></label>
              </div>
              <span v-if="item == 'account' && account">
                {{ (row['accountType'] == 1 ? 'MON-' : 'AHO-') + (row['currency'] == 'QUE'?'GTQ':'USD') + '-'+row['account'] }}
              </span>
              <div v-else>
                <span v-if="item != 'currency' && !formatCurrency.includes(item) && item !== 'typeDesc' && item != 'auto'">
                  <div v-if="item == 'status' && status">{{ status[row[item]] }}</div>  
                  <div v-else>{{ row[item] }}</div>
                </span>
              </div>
            </router-link>
            <td v-if="options">
              <div class="dots dropdown position-relative mx-auto">
                <a class="link text-center w-100" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">○ ○ ○</a>
                <div class="dropdown-menu dropdown-menu-right text-uppercase">
                  <router-link class="dropdown-item" v-for="(option, index) in options" :key="index" 
                    :to="{ name: option.component, params: option.params ? {
                      title: option.params.title,
                      apiUrl: option.params.apiUrl,
                      backButton: option.params.backButton,
                      finish: option.params.finish,
                      dataApi: {
                        account: row['number'],
                        bank: row['bankCode'] ? row['bankCode'] : null,
                        id: row['id'] ? row['id'] : null
                      },
                      col1: [
                        row['service'] ? {
                          value: require('./../../../assets/images/servicios/'+row['service'].toLowerCase().split(' ').join('-')+'.png'),
                          type: 'image-url'
                        } : {},
                        {
                          name: row['category'] ?  'Servicio' : '',
                          value: row['category']
                        },
                        {
                          name: row['service'] ?  'Empresa' : '',
                          value: row['service']
                        },
                        {
                          name: 'Cuenta',
                          value: row['number']
                        },
                        {
                          name: row['name'] ? 'Nombre' : 'Referencia',
                          value: row['name'] ? row['name'] : row['alias']
                        },
                        row['bank'] ?
                        {
                          name: 'Banco',
                          value: row['bank']
                        } : {},
                        {
                          name:  row['account'] ?  'Número' : '',
                          value: row['account']
                        },
                      ]
                    } : row }">
                    {{ option.name }}
                  </router-link>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div v-if="totals && rows.length && rows[0]['currency']" class="text-right text-uppercase mt-3">
        Pago total planilla: <b>{{ rows.reduce((a,b) => a+(b['amount'] || 0), 0) | currency({ symbol: currency[rows[0]['currency']] == 'GTQ' ? 'Q.' : '$.' })}}</b>
      </div>
    </div>
    <!-- PAGINATION -->
    <div class="row justify-content-between d-flex" v-if="rows.length>5">
      <ul class="col pagination">
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="prevPage">Ant</a>
        </li>
        <li class="page-item dropdown">
          <button class="btn btn-white page-link dropdown-toggle px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Página {{ currentPage }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href=""  v-for="(n, ix) in totalPages" :key="ix" @click.prevent="currentPage = n">{{ n }}</a>
          </div>
        </li>
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="nextPage">Sig</a>
        </li>
      </ul>
      <div class="col d-flex align-items-center justify-content-end">
        <label for="views" class="text-uppercase mr-2 mb-0">Mostrar por página</label>
        <div class="select select-sm dropdown-toggle position-relative">
          <select name="vistas" id="views" class="form-control form-control-sm" v-model="pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['id', 'loading', 'header', 'rows', 'show', 'checkbox', 'formatCurrency', 'routeName', 'options', 
    'checkbox', 'favorite', 'message', 'perPage', 'selectable','status', 'totals', 'account'],
    data() {
      return {
        currency: {
          QUE: 'GTQ',
          US$: 'USD',
          DOL: 'USD'
        },
        currentSort:'no',
        currentSortDir:'asc',
        pageSize: this.perPage ? this.perPage : 5,
        currentPage:1,
        total: 0
      }
    },
    watch: {
      pageSize(){
        this.currentPage = 1;
      }
    },
    methods: {
      sort(s) {
        if(s === this.currentSort) {
          this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
        }
        this.currentSort = s;
      },
      nextPage() {
        if((this.currentPage*this.pageSize) < this.rows.length) this.currentPage++;
      },
      prevPage() {
        if(this.currentPage > 1) this.currentPage--;
      },
      addFavorite(url, row, index){
        axios.post(url, {
          account: row.account,
          status: row.favorite ? 'I' : 'A',
          type: row.categoryCode,
          service: row.serviceCode
        }).then( resp => {
          if (resp.data.success) {
            this.sortedRows[index].favorite = !row.favorite;
          }
        }).catch( error => {
          this.$dialogs.alert(error, window.slimDialogError);
        }).then(() => {
          //this.loadLoans();
        });
      },
    },
    computed:{
      sortedRows() {
        return this.rows.sort((a,b) => {
          let modifier = 1;
          if(this.currentSortDir === 'desc') modifier = -1;
          if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        }).filter((row, index) => {
          let start = (this.currentPage-1)*this.pageSize;
          let end = this.currentPage*this.pageSize;
          if(index >= start && index < end) return true;
        });
      },
      totalPages() {
        return Math.ceil(this.rows.length / this.pageSize)
      }
    }
  }
</script>

<style scoped>
  .table-hover tbody tr:nth-child(even){
    background: #f5f5f5;
    transition: all 0.2s;
  }
  .table-hover tbody tr:hover {
    background-color: rgb(200,200,200);
    cursor: pointer;
  }
  .table-hover tbody tr:hover .dots.dropdown > a{
    color: #fff;
  }
  table thead th{
    cursor: pointer;
    text-align: center;
  }
  table thead th:hover{
    background-color: #467334;
  }
  table thead th[data-item="nombre"], th[data-item="actividad"]{
    text-align: left;
  }
  table thead th[data-item*="saldo"], th[data-item="debe"], th[data-item="haber"]{
    text-align: right;
  }
  table td{
    text-align: center;
  }
  table td[data-item="name"], td[data-item="description"]{
    text-align: left;
  }
  table td.money{
    text-align: right;
  }
  .page-link{
    cursor: pointer;
  }
  .check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 2px;
    margin-left: 21px;
    border: 0;
    margin-top: -1px;
    border: 2px solid #adb5bd;
  }
  .check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .check input:checked ~ .checkmark {
    background-color: #66965f;
    border-color: #45803c;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .check input:checked ~ .checkmark:after {
    display: block;
  }
  .check .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #dropdownMenuButton{
    height: 36px;
    border-radius: 0;
    padding-top: 8px;
    color: #000;
    font-size: 0.85rem;
  }
  .dropdown-menu{
    max-height: 280px;
    overflow-y: auto;
  }
</style>