<template>
  <div>
    <!-- TABLE INV -->
    <div class="table-responsive">
      <table id="edo-cuenta" class="table table-striped table-lg w-100">
        <thead class="bg-green-2 text-white">
          <tr>
            <th @click="sort('no')">No.</th>
            <th v-for="(item, i) in header" :key="i"  @click="sort(show[i])" :data-item="item.toLowerCase()">
              <span :class="{ 'text-center d-block': item.toLowerCase() == 'opciones' }">
                {{ item }}
                <span class="ml-1 sort" v-if="(currentSort == show[i] && currentSortDir == 'asc')">▴</span>
                <span class="ml-1 sort" v-else>▾</span>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="invisible"><td></td><td></td><td></td><td></td></tr>
          <tr v-if="loading">
            <td :colspan="header.length+1" class="py-4 text-center">
              <div class="spinner-border text-success" role="status"></div>
            </td>
          </tr>
          <tr v-if="!loading && !rows.length">
            <td :colspan="header.length+1" class="py-4 text-center">
              <h6 class="text-danger">{{ message }}</h6>
            </td>
          </tr>
          <tr v-for="(row, index) in sortedRows" :key="index" @click="showDocument(row, account)">
            <td class="px-2">{{ index + 1 }}</td>
            <td :class="{'px-2 text-uppercase': true, 'money': formatCurrency.includes(item)}" v-for="(item, key) in show" :key="key"
            :data-item="item">
              <span v-if="item == 'currency'">{{ currency[row[item]] }}</span>
              <span v-if="item == 'typeDesc'">{{ row[item].substring(0,3) }}</span>
              <span v-if="formatCurrency && formatCurrency.includes(item)">{{ row[item] | currency({ symbol: currency[row['currency']] == 'GTQ' ? 'Q.' : '$.' }) }}</span>
              <span v-if="
                item != 'currency' && 
                !formatCurrency.includes(item) && 
                item !== 'typeDesc'">
                  {{ row[item] }}
              </span>
            </td>
            <td v-if="options">
              <div class="dots dropdown position-relative mx-auto">
                <a class="link text-center w-100" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">○ ○ ○</a>
                <div class="dropdown-menu dropdown-menu-right text-uppercase">
                  <router-link class="dropdown-item" v-for="(option, index) in options" :key="index" 
                    :to="{ name: option.component, params: option.params ? {
                      title: option.params.title,
                      apiUrl: option.params.apiUrl,
                      backButton: option.params.backButton,
                      finish: option.params.finish,
                      dataApi: {
                        account: row['number']
                      },
                      col1: [
                        {
                          name: 'Cuenta',
                          value: row['number']
                        },
                        {
                          name: 'Nombre',
                          value: row['name']
                        }
                      ]
                    } : row }">
                    {{ option.name }}
                  </router-link>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <span class="d-block mb-2 text-right">Total de filas: <b>{{ rows.length }}</b></span>
    </div>
    <!-- PAGINATION -->
    <div class="bottom-info row justify-content-between d-flex" v-if="rows.length>5">
      <ul class="col pagination">
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="prevPage">Ant</a>
        </li>
        <!-- li :class="{ 'page-item': true, 'active': n == currentPage }" v-for="(n, ix) in totalPages" :key="ix">
          <a class="page-link" @click="currentPage = n">{{ n }}</a>
        </li -->
        <li class="page-item dropdown">
          <button class="btn btn-white page-link dropdown-toggle px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Página {{ currentPage }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href=""  v-for="(n, ix) in totalPages" :key="ix" @click.prevent="currentPage = n">{{ n }}</a>
          </div>
        </li>
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="nextPage">Sig</a>
        </li>
      </ul>
      <div class="col d-flex align-items-center justify-content-end">
        <label for="views" class="text-uppercase mr-2 mb-0">Mostrar por página</label>
        <div class="select select-sm dropdown-toggle position-relative">
          <select name="vistas" id="views" class="form-control form-control-sm" v-model="pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
            <option value="1000">Todos</option>
          </select>
        </div>
      </div>
    </div>
    <modal v-if="modal.show" @close="modal.show = false" class="m-0">
      <div slot="header">
        <h4 class="text-uppercase mb-0">{{ modal.title }}</h4>
      </div>
      <div slot="body">
        <div v-if="modal.loading">
          <div class="py-4 text-center">
            <div class="spinner-border text-success" role="status"></div>
          </div>
        </div>
        <img :src="'data:image.png;base64,'+checkImage.frontImage" alt="" v-if="checkImage.frontImage" class="w-100 mx-100">
        <img :src="'data:image.png;base64,'+checkImage.backImage" alt="" v-if="checkImage.backImage" class="w-100 mx-100">
      </div>
    </modal>
  </div>
</template>

<script>
  export default {
    props: ['id', 'account', 'loading', 'header', 'rows', 'show', 'checkbox', 'formatCurrency', 'formatDate', 'routeName', 'message', 'options', 'perPage'],
    data() {
      return {
        currency: {
          QUE: 'GTQ',
          US$: 'USD'
        },
        checkImage: [],
        modal: {
          title: '',
          loading: false,
          show: false
        },
        currentSort:'no',
        currentSortDir:'asc',
        pageSize: this.perPage,
        currentPage:1
      }
    },
    watch: {
      pageSize(){
        this.currentPage = 1;
      },
      perPage(val){
        this.pageSize = val;
      }
    },
    methods: {
      sort(s) {
        if(s === this.currentSort) {
          this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
        }
        this.currentSort = s;
      },
      nextPage() {
        if((this.currentPage*this.pageSize) < this.rows.length) this.currentPage++;
      },
      prevPage() {
        if(this.currentPage > 1) this.currentPage--;
      },
      showDocument(row,account){
        if (row.type == 'CQ'){
          this.modal.loading = true;
          this.modal.show = true;
          axios.get('/api/accounts/monetary/check-image', {
            params: {
              account: account.number,
              document: row.reference
            }
          }).then( resp => {
            this.modal.title = row.type + ' - ' +row.description;
            this.checkImage = resp.data;
          }).catch( error => {
            this.$dialogs.alert(error, window.slimDialogError);
          }).then( () => {
            this.modal.loading = false;
          });
        }
      },
    },
    computed:{
      sortedRows() {
        return this.rows.sort((a,b) => {
          let modifier = 1;
          if(this.currentSortDir === 'desc') modifier = -1;
          if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        }).filter((row, index) => {
          let start = (this.currentPage-1)*this.pageSize;
          let end = this.currentPage*this.pageSize;
          if(index >= start && index < end) return true;
        });
      },
      totalPages() {
        return Math.ceil(this.rows.length / this.pageSize)
      }
    }
  }
</script>
<style scoped>
  .table tbody tr:nth-child(even){
    background: #f5f5f5;
    transition: all 0.2s;
  }
  table#edo-cuenta thead th{
    cursor: pointer;
    text-align: center;
  }
  table#edo-cuenta thead th:hover{
    background-color: #467334;
  }
  table#edo-cuenta tbody tr:hover td{
    font-weight: 600;
    cursor: pointer;
  }
  table#edo-cuenta tbody tr{
    cursor: pointer;
  }
  .page-link{
    cursor: pointer;
  }
  table#edo-cuenta thead th[data-item="nombre"], th[data-item="actividad"]{
    text-align: left;
  }
  table#edo-cuenta thead th[data-item*="saldo"], th[data-item="debe"], th[data-item="haber"]{
    text-align: right;
  }
  table#edo-cuenta td{
    text-align: center;
  }
  table#edo-cuenta td[data-item="name"], td[data-item="description"]{
    text-align: left;
  }
  table#edo-cuenta td.money{
    text-align: right;
  }
  .modal-header h4 {
    color: #222;
    font-size: 1.2rem;
  }
  #dropdownMenuButton{
    height: 36px;
    border-radius: 0;
    padding-top: 8px;
    color: #000;
    font-size: 0.85rem;
  }
  .dropdown-menu{
    max-height: 280px;
    overflow-y: auto;
  }
  @media screen and (min-width: 1024px){
    table{
      width: 1024px;
    }
  }
</style>