<template>
  <div>
    <!-- TABLE INV -->
    <div class="table-responsive">
      <table class="table table-striped table-lg">
        <thead class="bg-green-2 text-white">
          <tr>
            <th @click="sort('no')">No.</th>
            <th v-for="(item, i) in header" :key="i"  @click="sort(show[i])" :data-item="item.toLowerCase()">
              <span :class="{ 'text-center d-block': item.toLowerCase() == 'opciones' }">
                {{ item }}
                <span class="ml-1 sort" v-if="(currentSort == show[i] && currentSortDir == 'asc')">▴</span>
                <span class="ml-1 sort" v-else>▾</span>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="invisible"><td></td><td></td><td></td><td></td></tr>
          <tr v-if="loading">
            <td :colspan="header.length+1" class="py-4 text-center">
              <div class="spinner-border text-success" role="status"></div>
            </td>
          </tr>
          <tr v-if="!loading && !rows.length">
            <td :colspan="header.length+1" class="py-4 text-center">
              <h6 class="text-danger">{{ message }}</h6>
            </td>
          </tr>
          <tr v-for="(row, index) in sortedRows" :key="index">
            <td class="px-2">{{ index + 1 }}</td>
            <td :class="{'px-2 text-uppercase': true, 'money': formatCurrency.includes(item)}" v-for="(item, key) in show" :key="key"
            :data-item="item">
              <span v-if="item == 'currency'">{{ currency[row[item]] }}</span>
              <span v-if="item == 'typeDesc'">{{ row[item].substring(0,3) }}</span>
              <span v-if="formatCurrency && formatCurrency.includes(item)">{{ row[item] | currency({ symbol: currency[row['currency']] == 'GTQ' ? 'Q.' : '$.' }) }}</span>
              <span v-if="formatDate && formatDate.includes(item)">{{ new Date(row[item]) | dateFormat('DD-MM-YYYY') }}</span>
              <span v-if="
                item != 'currency' && 
                !formatCurrency.includes(item) && 
                !formatDate.includes(item) && 
                item !== 'typeDesc'">
                  {{ row[item] }}
              </span>
            </td>
            <td v-if="options">
              <div class="dots dropdown position-relative mx-auto">
                <a class="link text-center w-100" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">○ ○ ○</a>
                <div class="dropdown-menu dropdown-menu-right text-uppercase">
                  <router-link class="dropdown-item" v-for="(option, index) in options" :key="index" 
                    :to="{ name: option.component, params: option.params ? {
                      title: option.params.title,
                      apiUrl: option.params.apiUrl,
                      backButton: option.params.backButton,
                      finish: option.params.finish,
                      dataApi: {
                        account: row['number'],
                        bank: row['bankCode'] ? row['bankCode'] : null,
                        id: row['id'] ? row['id'] : null
                      },
                      col1: [
                        {
                          name: row['category'] ?  'Servicio' : '',
                          value: row['category']
                        },
                        {
                          name: row['service'] ?  'Empresa' : '',
                          value: row['service']
                        },
                        {
                          name: 'Cuenta',
                          value: row['number']
                        },
                        {
                          name: row['name'] ? 'Nombre' : 'Referencia',
                          value: row['name'] ? row['name'] : row['alias']
                        },
                        row['bank'] ?
                        {
                          name: 'Banco',
                          value: row['bank']
                        } : {},
                        {
                          name:  row['account'] ?  'Número' : '',
                          value: row['account']
                        },
                      ]
                    } : row }">
                    {{ option.name }}
                  </router-link>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <span class="d-block mb-2 text-right">Total de filas: <b>{{ rows.length }}</b></span>
      <div v-if="totalsPlanilla && rows[0] && rows[0]['currency'] " class="text-right  mt-3" style="line-height: 1.64">
        Total planilla: <b style="width: 120px; display: inline-block">{{ rows.reduce((a,b) => a+(b['amount'] || 0), 0) | currency({ symbol: rows[0]['currency'] == 'QUE' ? 'Q.' : '$.' })}}</b>
      </div>
    </div>
    <!-- PAGINATION -->
    <div class="row justify-content-between d-flex" v-if="rows.length>5">
      <ul class="col pagination">
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="prevPage">Ant</a>
        </li>
        <li class="page-item dropdown">
          <button class="btn btn-white page-link dropdown-toggle px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Página {{ currentPage }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href=""  v-for="(n, ix) in totalPages" :key="ix" @click.prevent="currentPage = n">{{ n }}</a>
          </div>
        </li>
        <li class="page-item">
          <a class="page-link text-uppercase" @click.prevent="nextPage">Sig</a>
        </li>
      </ul>
      <div class="col d-flex align-items-center justify-content-end">
        <label for="views" class="text-uppercase mr-2 mb-0">Mostrar por página</label>
        <div class="select select-sm dropdown-toggle position-relative">
          <select name="vistas" id="views" class="form-control form-control-sm" v-model="pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['id', 'loading', 'header', 'rows', 'show', 'checkbox', 'formatCurrency', 'formatDate', 'routeName', 'message', 'options', 'checkbox', 'perPage', 'totalsPlanilla'],
    data() {
      return {
        currency: {
          QUE: 'GTQ',
          US$: 'USD'
        },
        currentSort:'no',
        currentSortDir:'asc',
        pageSize: this.perPage ? this.perPage : 5,
        currentPage:1
      }
    },
    watch: {
      pageSize(){
        this.currentPage = 1;
      },
      perPage(val){
        this.pageSize = val;
      }
    },
    methods: {
      sort(s) {
        if(s === this.currentSort) {
          this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
        }
        this.currentSort = s;
      },
      nextPage() {
        if((this.currentPage*this.pageSize) < this.rows.length) this.currentPage++;
      },
      prevPage() {
        if(this.currentPage > 1) this.currentPage--;
      },
    },
    computed:{
      sortedRows() {
        return this.rows.sort((a,b) => {
          let modifier = 1;
          if(this.currentSortDir === 'desc') modifier = -1;
          if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        }).filter((row, index) => {
          let start = (this.currentPage-1)*this.pageSize;
          let end = this.currentPage*this.pageSize;
          if(index >= start && index < end) return true;
        });
      },
      totalPages() {
        return Math.ceil(this.rows.length / this.pageSize)
      }
    }
  }
</script>
<style scoped>
  .table tbody tr:nth-child(even){
    background: #f5f5f5;
    transition: all 0.2s;
  }
  table thead th{
    cursor: pointer;
    text-align: center;
  }
  table thead th:hover{
    background-color: #467334;
  }
  .page-link{
    cursor: pointer;
  }
  table thead th[data-item="nombre"], th[data-item="actividad"]{
    text-align: left;
  }
  table thead th[data-item*="saldo"], th[data-item="debe"], th[data-item="haber"]{
    text-align: right;
  }
  table td{
    text-align: center;
  }
  table td[data-item="name"], td[data-item="description"]{
    text-align: left;
  }
  table td.money{
    text-align: right;
  }
</style>