<template>
  <div>
    <!-- TABLE INV -->
    <div class="table-responsive">
      <table :class="{'table table-striped': true, 'table-hover': !loading && rows.length}">
        <thead class="bg-green-2 text-white">
          <tr>
            <th>No.</th>
            <th v-for="(item, i) in header" :key="i"  @click="sort(show[i])" :data-item="item.toLowerCase()">
              <span :class="{ 'text-center d-block': item.toLowerCase() == 'opciones' }" v-html="item"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="invisible"><td></td></tr>
          <tr v-if="loading">
            <td :colspan="header.length+1" class="py-4 text-center">
              <div class="spinner-border text-success" role="status"></div>
            </td>
          </tr>
          <tr v-if="!loading && !rows.length">
            <td :colspan="header.length+1" class="py-4 text-center">
              <h6 class="text-danger">{{ message }}</h6>
            </td>
          </tr>
          <tr v-for="(row, index) in rows" :key="index">
            <td class="px-2">{{ index + 1 }}</td>
            <router-link 
              :to="{ name: routeName, params: { data: row }}" 
              :class="{'px-2 text-uppercase': true, 'money': formatCurrency.includes(item)}" v-for="(item, key) in show" :key="key"
              :data-item="item" tag="td">
              <span v-if="item == 'currency'">{{ currency[row[item]] }}</span>
              <span v-if="item == 'typeDesc'">{{ row[item].substring(0,3) }}</span>
              <span v-if="formatCurrency.includes(item)">{{ row[item] | currency({ symbol: currency[row['currency']] == 'GTQ' ? 'Q.' : '$.' }) }}</span>
              <span v-if="item != 'currency' && !formatCurrency.includes(item) && item !== 'typeDesc'">{{ row[item] }}</span>
            </router-link>
            <td class="text-center">
              <a href="" class="custom-control custom-switch" @click.prevent="confirmarBloquearCuenta(row)">
                <input type="checkbox" class="custom-control-input" :id="id+'-switch-'+index" disabled>
                <label class="custom-control-label" :for="id+'-switch-'+index"></label>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- PAGINATION -->
    <div class="row justify-content-between d-flex" v-if="rows.length > 5">
      <ul class="col pagination">
        <li class="page-item">
          <a class="page-link text-uppercase">Ant</a>
        </li>
        <li class="page-item">
          <a class="page-link text-uppercase">Sig</a>
        </li>
      </ul>
      <div class="col d-flex align-items-center justify-content-end">
        <label for="views" class="text-uppercase mr-2 mb-0">Mostrar por página</label>
        <div class="select select-sm dropdown-toggle position-relative">
          <select name="vistas" id="views" class="form-control form-control-sm">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['id', 'loading', 'header', 'rows', 'show', 'checkbox', 'formatCurrency', 'routeName', 'message', 'disclaimer', 'type'],
    data() {
      return {
        currency: {
          QUE: 'GTQ',
          US$: 'USD'
        }
      }
    },
    methods: {
      confirmarBloquearCuenta(row) {
        this.$router.push({
          name: this.type == 'bemp' ? 'EmpresaMisCuentasGestionesBloquearCuentaConfirmar' :'PersonaMisCuentasGestionesBloquearCuentaConfirmar',
          params: {
            apiUrl: '/api/management/lock-account-balance',
            dataApi: {
              account: row.number,
              amount: row.balance,
              comment: ''
            },
            title: 'Confirmar Bloquear Cuenta',
            bottom: {
              title: 'Al presionar el botón de confirmar acepto lo siguiente:',
              content: `Cualquier movimiento a la cuenta......tiene 24 horas
               para acercarse al banco de lo contrario la cuenta sera cancelada automaticamente.`
            },
            backButton: this.type == 'bemp' ? 'EmpresaMisCuentasGestiones' : 'PersonaMisCuentasGestiones',
            finish: this.type == 'bemp' ? 'EmpresaMisCuentasGestionesBloquearCuentaRealizada' : 'PersonaMisCuentasGestionesBloquearCuentaRealizada',
            col1: [
              {
                name: 'Nombre',
                value: row.name
              },
              {
                name: 'Cuenta',
                value: row.number
              },
              {
                name: 'Monto',
                value: row.balance
              },
              {
                name: 'Producto',
                value: row.typeDesc
              },
              {
                name: 'Moneda',
                value: this.currency[row.currency]
              }
            ]
          }
        });
      }
    }
  }
</script>

<style scoped>
  .table-hover tbody tr:nth-child(even){
    background: #f5f5f5;
    transition: all 0.2s;
  }
  .table-hover tbody tr:hover {
    color: #ffffff;
    background-color: rgb(110, 145, 67);
    cursor: pointer;
  }
  .table-hover tbody tr:hover .dots.dropdown > a{
    color: #fff;
  }
  .page-link, .custom-control-label{
    cursor: pointer;
  }
  table thead th{
    cursor: pointer;
    text-align: center;
  }
  table thead th[data-item="nombre"], th[data-item="actividad"]{
    text-align: left;
  }
  table thead th[data-item*="saldo"], th[data-item="debe"], th[data-item="haber"]{
    text-align: right;
  }
  table td{
    text-align: center;
  }
  table td[data-item="name"], td[data-item="description"]{
    text-align: left;
  }
  table td.money{
    text-align: right;
  }
</style>