<template>
  <div>
    <div class="container">
      <h2 class="h3 text-uppercase text-center title">Pagos recurrentes</h2>

      <div class="mb-4 mx-auto">
        <h4 class="subtitle text-uppercase text-center">Préstamos</h4>
        <table-selectable-inv :id="'table-other-banks'" :loading="loans.loading"
          :header="loans.header" 
          :rows="loans.rows" 
          :show="loans.show"
          :formatDate="[]"
          :formatCurrency="loans.formatCurrency"
          :routeName="'PersonaPagosPrestamos'"
          :message="loans.message">
        </table-selectable-inv>
      </div>

      <div class="mb-4 mx-auto">
        <h4 class="subtitle text-uppercase text-center">Préstamos FHA</h4>
        <table-selectable-inv :id="'table-other-banks-fha'" :loading="fhaLoans.loading" 
          :header="fhaLoans.header" 
          :rows="fhaLoans.rows" 
          :show="fhaLoans.show"
          :formatDate="[]"
          :formatCurrency="fhaLoans.formatCurrency"
          :routeName="'PersonaPagosPrestamos'"
          :message="fhaLoans.message">
        </table-selectable-inv>
      </div>
      
      <div id="servicios" class="wd-700 mx-auto mb-4 mt-4" v-if="services.loading == false && services.rows.length">
        <h4 class="subtitle text-uppercase text-center">Servicios</h4>
        <carousel :perPageCustom="[[768, 3], [1024, 4]]" :navigationEnabled="true">
          <slide v-for="(favorite, i) in services.rows" :key="i">
            <router-link :to="{
              name: 'PersonaPagosServiciosPagar',
              params: favorite
            }" class="card bg-white text-white m-2 px-3 pb-4" tag="a">
              <img :src="require('./../../../../../assets/images/servicios/'+favorite.service.toLowerCase().split(' ').join('-')+'.png')" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">{{favorite.account}}</h5>
              </div>
            </router-link>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      loans: {
        loading: true,
        header: ['Id', 'Nombre', 'Moneda', 'Saldo Capital'],
        show: ['id', 'name', 'currency', 'balance'],
        formatCurrency: ['balance'],
        message: 'No tienes préstamos guardados en favoritos',
        rows: []
      },
      fhaLoans: {
        loading: true,
        header: ['Id', 'Nombre', 'Moneda', 'Saldo Capital'],
        show: ['id', 'name', 'currency', 'balance'],
        formatCurrency: ['balance'],
        message: 'No tienes préstamos guardados en favoritos',
        rows: []
      },
      services: {
        loading: true,
        rows: []
      }
    }
  },
  created() {
    this.loadLoans();
    this.loadServices();
  },
  methods: {
    loadLoans() {
      axios.get('/api/general/favorites/loans').then( resp => {
        if (resp.data.message){
          this.loans.message = resp.data.message
        } else {
          if (resp.data.loans){
            this.loans.rows = resp.data.loans;
          }
          if (resp.data.fhaLoans){
            this.fhaLoans.rows = resp.data.fhaLoans;
          }
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loans.loading = false;
        this.fhaLoans.loading = false;
      });
    },
    loadServices() {
      axios.get('/api/general/favorites/services').then( resp => {
        if (!resp.data.message){
          this.services.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.services.loading = false;
      });
    }
  }
}
</script>
<style scoped>
.card-img-overlay{  
  top: auto;
  text-align: center;
  bottom: -20px;
  color: #333;
}
</style>