<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Agregar proveedor</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <router-link :to="'/empresa/pagos/proveedores'" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </router-link>
          </div>
        </div>
      </div>
      
      <form class="text-center wd-700 mx-auto" @submit.prevent="submitForm">
        <div class="text-center py-4 my-4" v-if="banks.loading" >
          <div class="spinner-border text-success" role="status"></div>
        </div>
        <div class="text-center py-4 my-4" v-if="message">
          <h6 class="text-danger">{{ message }}</h6>
        </div>
        <div class="form-row form-uppercase" v-if="!banks.loading">
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Nombre proveedor" v-model="provider.name" required>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Servicio" v-model="provider.service" required>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Número de cuenta" v-model="provider.account" required>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="provider.accountType" required>
                <option disabled value="">Tipo de cuenta</option>
                <option v-for="(a, index) in accountTypes" :key="index" :value="a">{{ a.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="provider.bank" required>
                <option disabled value="">Banco</option>
                <option v-for="(bank, index) in banks.data" :key="index" :value="bank">{{ bank.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="select position-relative dropdown-toggle">
              <select class="form-control" v-model="provider.currency" required>
                <option disabled value="">Moneda</option>
                <option value="QUE">Quetzales</option>
                <option value="US$">Dólares</option>
              </select>
            </div>
          </div>
          <div class="col-12 text-center py-4 " v-if="message2">
            <h6 class="text-danger">{{ message2 }}</h6>
          </div>
          <div class="col-12 form-group text-center">
            <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}">
              <div class="ld ld-ring ld-spin"></div>Agregar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      currency: {
        QUE: 'GTQ',
        US$: 'USD'
      },
      running: false,
      banks: {
        loading: false,
        data: []
      },
      accountTypes: [],
      provider: {
        bank: {
          code: 48,
          name: "BANCO INV, S.A."
        },
        accountType: '',
        account: '',
        currency: '',
        service: '',
        name: ''
      },
      message: '',
      message2: ''
    }
  },
  computed: {
    formConfirmar() {
      localStorage.setItem('__provider', JSON.stringify(this.provider));
      return {
        apiUrl: '/api/transfers/providers/add',
        dataApi: {
          bank: this.provider.bank.code,
          accountType: this.provider.accountType.code,
          account: this.provider.account,
          currency: this.provider.currency,
          service: this.provider.service,
          name: this.provider.name,
        },
        backButton: 'EmpresaPagosProveedoresAgregar',
        finish: 'EmpresaPagosProveedoresAgregarRealizada',
        title: 'Confirmar Agregar Proveedor',
        col1: [
          {
            name: 'Nombre de Proveedor',
            value: this.provider.name
          },
          {
            name: 'Servicio',
            value: this.provider.service
          },
          {
            name: 'No. de Cuenta',
            value: this.provider.account,
            lines: 2
          },
                  
        ],
        col2: [
          {
            name: 'Tipo',
            value: this.provider.accountType.name,
          },
          {
            name: 'Banco',
            value: this.provider.bank.name
          }, 
          {
            name: 'Moneda',
            value: this.currency[this.provider.currency]
          }
        ]
      }
    }
  },
  created() {
    this.loadBanks();
    if (localStorage.getItem('__provider')) {
      this.provider = JSON.parse(localStorage.getItem('__provider'));
      localStorage.removeItem('__provider');
    }
  },
  methods: {
    loadBanks(){
      this.banks.loading = true;
      axios.get('/api/transfers/payrolls/banks').then(resp => {
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.banks.data = resp.data.banks;
          this.accountTypes = [
            {
              code: 1,
              name: 'Monetarias'
            },
            {
              code: 2,
              name: "Ahorros"
            }
          ]
        }
      }).catch(error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() =>{
        this.banks.loading = false;
      });
    },
    submitForm(){
      this.$router.push({
        name: 'EmpresaPagosProveedoresAgregarConfirmar',
        params: this.formConfirmar
      })
    }
  }
}
</script>