<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title">Pago de Proveedores</h2>
        </div>
        <div class="col-lg-3 text-right">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <a href="javascript:history.go(-1)" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-back.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Regresar</span>
            </a>
          </div>
        </div>
      </div>
      
      <div v-if="loading" class="py-4 text-center">
        <div class="spinner-border text-success" role="status"></div>
      </div>
      <div v-else>
        <div class="mt-5">
          <div class="providers" v-for="(provider, index) in selectedProviders" :key="index">
            <div>
              <div class="form-row text-uppercase">
                <div class="col-6 text-right">
                  <b>Proveedor:</b>
                </div>
                <div class="col-6 text-left">
                  {{ provider.name }}
                </div>
              </div>
              <div class="form-row text-uppercase">
                <div class="col-6 text-right">
                  <b>Servicio:</b>
                </div>
                <div class="col-6 text-left">
                  {{ provider.service }}
                </div>
              </div>
              <div class="form-row text-uppercase">
                <div class="col-6 text-right">
                  <b>Cuenta:</b>
                </div>
                <div class="col-6 text-left">
                  {{ provider.accountType == 1 ? 'MON' : 'AHO' }}-{{ currency[provider.currency][0] }}-{{ provider.account }}
                </div>
              </div>
              <div class="form-row text-uppercase mb-4">
                <div class="col-6 text-right">
                  <b>Banco:</b>
                </div>
                <div class="col-6 text-left">
                  {{ provider.bank }}
                </div>
              </div>
              <form class="text-center wd-360 mx-auto mb-4">
                <div class="form-row form-uppercase mb-4">
                  <div class="col-12 form-group position relative">
                    <input type="number" step="any" class="form-control" placeholder="Monto" v-model="selectedProviders[index].amount" required min="1">
                    <label class="check" v-if="index == 0 && id.length > 1 && selectedProviders[index].amount != ''">
                      <input type="checkbox" :id="'check-2-'+index" v-model="checkbox2"  @change="repeatAmounts(selectedProviders[index].amount)">
                      <span class="checkmark"></span>
                      <span class="text" :for="'check-2-'+index">Repetir en otros pagos</span>
                    </label>
                  </div>
                  <div class="col-12 form-group position relative">
                    <div class="select position-relative dropdown-toggle">
                      <select class="form-control" required v-model="selectedProviders[index].selectedAccount">
                        <option disabled :value="''" selected>Cuenta a debitar</option>
                        <option v-for="(account, i) in accounts" :key="i" :value="account">
                          {{ account.type == '1' ? 'MON' : 'AHO' }}-
                          {{ account.currency == 'QUE' ? 'GTQ' : 'USD' }}-
                          {{ account.number }}-{{ account.name }}
                        </option>
                      </select>
                    </div>
                    <label class="check" v-if="index == 0 && id.length > 1 && selectedProviders[index].selectedAccount != ''">
                      <input type="checkbox" :id="'check-1-'+index" v-model="checkbox1"  @change="repeatAccounts(selectedProviders[index].selectedAccount)">
                      <span class="checkmark"></span>
                      <span class="text" :for="'check-1-'+index">Repetir en otros pagos</span>
                    </label>
                  </div>
                  <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Comentario" v-model="selectedProviders[index].comment" required>
                    <label class="check" v-if="index == 0 && id.length > 1 && selectedProviders[index].comment != ''">
                      <input type="checkbox" :id="'check-1-'+index" v-model="checkbox3"  @change="repeatComments(selectedProviders[index].comment)">
                      <span class="checkmark"></span>
                      <span class="text" :for="'check-1-'+index">Repetir en otros pagos</span>
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="text-center mb-4 pb-4">
            <button :class="{'btn btn-primary ld-over-inverse': true, 'running': running}" @click="submitForm()">
              <div class="ld ld-ring ld-spin"></div>Realizar pago
            </button>
          </div>
        </div>
        <div class="mt-5" v-if="id.length == 1">
          <h2 class="h3 text-uppercase text-center title">Historial</h2>
          <table-selectable-inv :id="'table-history'" :loading="transactions.loading" 
            :header="transactions.header" 
            :rows="transactions.rows" 
            :show="transactions.show"
            :formatDate="['date']"
            :formatCurrency="['amount']" 
            :status="transactions.status"
            :message="transactions.message">
          </table-selectable-inv>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
 data() {
   return {
     currency: {
      'QUE': ['GTQ', 'Q.'],
      'US$': ['USD', '$.'],
    },
    id: JSON.parse(this.$route.params.id),
    selectedProviders: [],
    type: 1,
    loading: true,
    running: false,
    message: '',
    provider: [],
    transactions: {
      loading: true,
      header: ['Fecha', 'No. de Transacción', 'Comentario', 'Estado', 'Monto'],
      show: ['date', 'id', 'description', 'status', 'amount'],
      message: 'No tienes transacciones registradas',
      rows: [],
      status: {
        E: 'Ejecutado',
        I: 'Ingresado',
        R: 'Rechazado',
        V: 'Verificado'
      }
    },
    accounts: [],
    checkbox1: false,
    checkbox2: false,
    checkbox3: false
   }
  },
  watch: {
    type(){
      this.message = '';
    }
  },
  created() {
    this.loadProvidersAccounts();
    this.loadProvidersHistory();
    if (localStorage.getItem('__providerPay')) {
      this.selectedProviders = JSON.parse(localStorage.getItem('__providerPay'));
      localStorage.removeItem('__providerPay');
      
    } else {
      this.loadProviders();
    }
    
  },
  computed: {
    formConfirmar() {
      let cols = [];
      let dataApi = [];
      this.selectedProviders.forEach(p=>{
        dataApi.push({
          providerId: p.id,
          account: p.selectedAccount.number,
          amount: p.amount,
          comment: p.comment
        });
        cols.push({
          col1: [
            {
              name: 'Proveedor',
              value: p.name
            },
            {
              name: 'Servicio',
              value: p.service
            },
            {
              name: 'Cuenta',
              value: (p.accountType == 1 ? 'MON' : 'AHO') +'-'+ (p.currency == 'QUE' ? 'GTQ' : 'USD') + '-' + p.account
            },
            {
              name: 'Banco',
              value: p.bank
            },
          ],
          col2: [
            {
              name: 'Cuenta a debitar',
              value: (p.selectedAccount.type == 1 ? 'MON' : 'AHO') +'-'+ (p.selectedAccount.currency == 'QUE' ? 'GTQ' : 'USD') + '-' + p.selectedAccount.number
            },
            {
              name: 'Monto',
              value: p.amount,
              currency: p.selectedAccount.currency == 'QUE' ? 'GTQ' : 'USD'
            },
            {
              name: 'Comentarios',
              value: p.comment
            }
          ]
        })
      });
      localStorage.setItem('__providerPay', JSON.stringify(this.selectedProviders))
      return {
        apiUrl: '/api/transfers/providers/add-payment',
        dataApi: dataApi,
        backButton: '/empresa/pagos/proveedores/pagar/['+this.id+']',
        finish: 'EmpresaPagosProveedoresPagarRealizada',
        title: 'Confirmar pagos a proveedores',
        cols: cols
      }
    }

  },
  methods: {
    repeatAccounts(acc){
      this.selectedProviders.map(p => {
        p.selectedAccount = this.checkbox1 ? acc : ''
      })
    },
    repeatAmounts(amount){
      this.selectedProviders.map(p => {
        p.amount = this.checkbox2 ? amount : ''
      })
    },
    repeatComments(comment){
      this.selectedProviders.map(p => {
        p.comment = this.checkbox3 ? comment : ''
      })
    },
    loadProviders(){
      axios.get('/api/transfers/providers').then( resp => {
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.selectedProviders = resp.data.filter(r => {
            r.selectedAccount = '';
            r.amount = '';
            r.comment = ''
            return this.id.includes(r.id)
          });
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    },
    loadProvidersAccounts(){
      axios.get('/api/transfers/providers/accounts').then( resp => {
        if (resp.data.message){
          this.message = resp.data.message
        } else {
          this.accounts = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.loading = false;
      });
    },
    loadProvidersHistory() {
      axios.get('/api/transfers/providers/history', {
        params: {
          id: this.id[0],
          start: '2020-01-01',
          end: '2020-12-01'
        }
      }).then( resp => {
        console.log('res', resp)
        if (resp.data.message){
          this.transactions.message = resp.data.message
        } else {
          
          this.transactions.rows = resp.data.map(t=>{
            let d = t.date.split(' ')[0].split('-').reverse().join('-');
            t.date = d;
            return t;
          });
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.transactions.loading = false;
      });
    },
    submitForm(){
      let p = [];
      this.selectedProviders.map(s => {
        s.amount <= 0 ? p.push(s) : '';
      });
      if (p.length){
        this.$dialogs.alert('El proveedor '+p[0].name+' contiene un monto negativo', window.slimDialogError);
      } else {
        this.$router.push({
          name: 'EmpresaPagosProveedoresPagarConfirmar',
          params: this.formConfirmar
        })
      }
      
    }
  }
}
</script>
<style scoped>
  .check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px;
  }
  .check .text{
    font-size: 1rem;
    text-align: left;
    position: absolute;
    left: 0;
    margin-left: 70px;
  }
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 2px;
    margin-left: 21px;
    border: 0;
    margin-top: -1px;
    border: 2px solid #adb5bd;
  }
  .check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .check input:checked ~ .checkmark {
    background-color: #66965f;
    border-color: #45803c;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .check input:checked ~ .checkmark:after {
    display: block;
  }
  .check .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  @media screen and (min-width: 768px){
    .check{
      position: absolute;
      left: 100%;
      top: 0;
      width: 260px;
    }
  }
</style>