<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h2 class="h3 text-uppercase text-center title" v-if="user.sign != 'B'">Pago proveedores</h2>
        </div>
        <div class="col-lg-3 text-right" v-if="user.sign != 'B'">
          <div class="title-options text-uppercase d-flex justify-content-end">
            <router-link to="/empresa/pagos/proveedores/agregar" class="text-center ml-2 text-reset text-decoration-none p-2">
              <img src="./../../../../../assets/images/icons/icon-plus.svg" alt="" width="36" class="d-block mx-auto mb-2">
              <span class="d-block">Agregar <br>proveedor</span>
            </router-link>
          </div>
        </div>
      </div>

      <div v-if="user.sign != 'B'">
        <table-proveedores :id="'table-providers'" :loading="providers.loading" 
          :header="providers.header" 
          :rows="providers.rows" 
          :show="providers.show"
          :checkbox="providers.checkbox"
          :message="providers.message">
        </table-proveedores>
      </div>
      <div class="mt-5">
        <h2 class="h3 text-uppercase text-center title">Seguimiento de Proveedores</h2>
        <table-transacciones-proveedores-inv :id="'table-transactions'" :loading="transactions.loading" 
          :header="transactions.header" 
          :rows="transactions.rows" 
          :show="transactions.show"
          :formatDate="['date']"
          :formatCurrency="['amount']"
          :name="'EmpresaPagosProveedoresConfirmar'"
          :backButton="'EmpresaPagosProveedores'"
          :finish="'EmpresaPagosProveedoresRealizada'"
          :message="transactions.message">
        </table-transacciones-proveedores-inv>
      </div>
      
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currencySymbol: {
        QUE: 'Q.',
        US$: '$.'
      },
      user: JSON.parse(localStorage.getItem('inv.user')),
      transactions: {
        loading: true,
        header: ['Fecha', 'No. de Transacción', 'Actividad', 'Estado', 'Monto', 'Opciones'],
        show: ['date', 'id', 'name', 'status', 'amount'],
        message: 'No tienes transacciones registradas',
        rows: []
      },
      providers: {
        loading: true,
        header: ['Cuenta', 'Banco', 'Proveedor', 'Servicio'],
        show: ['account', 'bank','name', 'service'],
        message: 'No tienes proveedores creados',
        rows: [],
        checkbox: {
          type: 'favorite',
          name: 'favorite',
          params: {
            apiUrl: '/api/general/favorites/providers'
          }
        },
      },
    }
  },
  created() {
    this.loadProviders();
    this.loadProvidersHistory();
  },
  methods: {
    loadProviders() {
      axios.get('/api/transfers/providers').then( resp => {
        console.log('providers', resp)
        if (resp.data.message){
          this.providers.message = resp.data.message
        } else {
          console.log(resp)
          this.providers.rows = resp.data;
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.providers.loading = false;
      });
    },
    loadProvidersHistory() {
      axios.get('/api/transfers/providers/history/all', {
        params: {
          start: '2020-01-01',
          end: '2020-12-31'
        }
      }).then( resp => {
        if (resp.data.message){
          this.transactions.message = resp.data.message
        } else {
          this.transactions.rows = resp.data.filter(r => {
            return r.status != 'E'
          });
        }
      }).catch( error => {
        this.$dialogs.alert(error, window.slimDialogError);
      }).then(() => {
        this.transactions.loading = false;
      });
    }
  }
}
</script>